@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500&subset=cyrillic");
.conditer { }

.conditer body { line-height: 1; }

.conditer * { margin: 0; padding: 0; border: 0; outline: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

.conditer *:active, .conditer *:focus { outline: none; }

.conditer ol, .conditer ul { list-style: none; }

.conditer a { color: inherit; text-decoration: none; }

.conditer table { border-collapse: collapse; border-spacing: 0; }

.conditer img { border: 0; -ms-interpolation-mode: bicubic; }

.conditer h1, .conditer h2, .conditer h3, .conditer h4, .conditer h5, .conditer h6 { font: inherit; margin: 0; }

.conditer blockquote, .conditer q { quotes: none; }

.conditer blockquote:before, .conditer blockquote:after, .conditer q:before, .conditer q:after { content: ''; content: none; }

.conditer button { cursor: pointer; }

.conditer select, .conditer textarea, .conditer button, .conditer input { font: inherit; color: inherit; overflow: visible; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; }

.conditer select::-webkit-input-placeholder, .conditer textarea::-webkit-input-placeholder, .conditer button::-webkit-input-placeholder, .conditer input::-webkit-input-placeholder { color: currentColor; opacity: 0.5; text-overflow: ellipsis; -webkit-transition: opacity 0.25s ease; -khtml-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; -ms-transition: opacity 0.25s ease; -o-transition: opacity 0.25s ease; transition: opacity 0.25s ease; }

.conditer select::-moz-placeholder, .conditer textarea::-moz-placeholder, .conditer button::-moz-placeholder, .conditer input::-moz-placeholder { color: currentColor; opacity: 0.5; text-overflow: ellipsis; -webkit-transition: opacity 0.25s ease; -khtml-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; -ms-transition: opacity 0.25s ease; -o-transition: opacity 0.25s ease; transition: opacity 0.25s ease; }

.conditer select:-moz-placeholder, .conditer textarea:-moz-placeholder, .conditer button:-moz-placeholder, .conditer input:-moz-placeholder { color: currentColor; opacity: 0.5; text-overflow: ellipsis; -webkit-transition: opacity 0.25s ease; -khtml-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; -ms-transition: opacity 0.25s ease; -o-transition: opacity 0.25s ease; transition: opacity 0.25s ease; }

.conditer select:-ms-input-placeholder, .conditer textarea:-ms-input-placeholder, .conditer button:-ms-input-placeholder, .conditer input:-ms-input-placeholder { color: currentColor; opacity: 0.5; text-overflow: ellipsis; -webkit-transition: opacity 0.25s ease; -khtml-transition: opacity 0.25s ease; -moz-transition: opacity 0.25s ease; -ms-transition: opacity 0.25s ease; -o-transition: opacity 0.25s ease; transition: opacity 0.25s ease; }

.conditer select:focus::-webkit-input-placeholder, .conditer textarea:focus::-webkit-input-placeholder, .conditer button:focus::-webkit-input-placeholder, .conditer input:focus::-webkit-input-placeholder { opacity: 0; }

.conditer select:focus::-moz-placeholder, .conditer textarea:focus::-moz-placeholder, .conditer button:focus::-moz-placeholder, .conditer input:focus::-moz-placeholder { opacity: 0; }

.conditer select:focus:-moz-placeholder, .conditer textarea:focus:-moz-placeholder, .conditer button:focus:-moz-placeholder, .conditer input:focus:-moz-placeholder { opacity: 0; }

.conditer select:focus:-ms-input-placeholder, .conditer textarea:focus:-ms-input-placeholder, .conditer button:focus:-ms-input-placeholder, .conditer input:focus:-ms-input-placeholder { opacity: 0; }

.conditer select::-moz-focus-inner, .conditer textarea::-moz-focus-inner, .conditer button::-moz-focus-inner, .conditer input::-moz-focus-inner { border: 0; padding: 0; }

.conditer select::-ms-expand, .conditer textarea::-ms-expand, .conditer button::-ms-expand, .conditer input::-ms-expand { display: none; }

.conditer select::-ms-clear, .conditer textarea::-ms-clear, .conditer button::-ms-clear, .conditer input::-ms-clear { display: none; }

.conditer select::-ms-reveal, .conditer textarea::-ms-reveal, .conditer button::-ms-reveal, .conditer input::-ms-reveal { display: none; }

.conditer textarea { resize: none; overflow: auto; }

.conditer input[type="search"]::-webkit-search-cancel-button, .conditer input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

.conditer input[type="search"]::-webkit-inner-spin-button, .conditer input[type="search"]::-webkit-outer-spin-button { height: auto; }

.conditer input[type="search"]::-ms-clear { display: none; }

.conditer input[type="submit"] { cursor: pointer; }

.conditer label { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.conditer [hidden] { display: none; }

.conditer .clearfix:before { content: ""; display: table; }

.conditer .clearfix:after { content: ""; display: table; clear: both; }

.conditer .placeholder { position: absolute; color: #141414; top: 0; right: 100%; left: 0; text-align: right; line-height: 42px; cursor: default; pointer-events: none; white-space: nowrap; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s ease; -khtml-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; padding: 0 20px; }

.conditer input:focus ~ .placeholder, .conditer textarea:focus ~ .placeholder, .conditer .f-filled .placeholder { top: -1.7em; font-size: 0.8em; }

.conditer .f-message .form__message { display: block; }

.conditer .f-error .form__message { color: #cf2b00; }

.conditer .f-error .form__input input[type="email"], .conditer .f-error .form__input input[type="password"], .conditer .f-error .form__input input[type="tel"], .conditer .f-error .form__input input[type="text"] { border-color: #cf2b00; }

.conditer .f-error .form__input input[type="checkbox"] ~ .form__label:before { border-color: #cf2b00; }

.conditer .f-error .form__input input[type="radio"] ~ .form__label:before { border-color: #cf2b00; }

.conditer .form { font-size: 0; }

.conditer .form__field { position: relative; margin-bottom: 36px; font-size: 16px; }

@media (min-width: 0px) { .conditer .form__field { font-size: 24px; } }

@media (min-width: 780px) { .conditer .form__field { font-size: 16px; } }

.conditer .form__field:last-child { margin-bottom: 0; }

.conditer .form__field.f-error input[type="email"], .conditer .form__field.f-error input[type="password"], .conditer .form__field.f-error input[type="tel"], .conditer .form__field.f-error input[type="text"] { border-color: #cf2b00 !important; }

.conditer .form__message { display: none; top: 8px; position: relative; }

.conditer .form__label { position: relative; }

.conditer .form__input { position: relative; }

.conditer .form__input input { -webkit-box-shadow: none; -khtml-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; font-size: inherit; -webkit-border-radius: 0; -khtml-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; border-top: 0; border-right: 0; border-left: 0; }

.conditer .form__input input[type="email"], .conditer .form__input input[type="password"], .conditer .form__input input[type="tel"], .conditer .form__input input[type="text"] { -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 100%; display: block; color: #141414; line-height: 40px; height: 42px; border-bottom: 1px solid #dbdbdb; background: #fff; -webkit-transition: border 0.3s ease; -khtml-transition: border 0.3s ease; -moz-transition: border 0.3s ease; -ms-transition: border 0.3s ease; -o-transition: border 0.3s ease; transition: border 0.3s ease; padding: 0 20px; }

.conditer .form__input input[type="email"]:focus, .conditer .form__input input[type="password"]:focus, .conditer .form__input input[type="tel"]:focus, .conditer .form__input input[type="text"]:focus { border-color: #ffb600; color: #141414; }

.conditer .form__input input[type="email"]:hover, .conditer .form__input input[type="password"]:hover, .conditer .form__input input[type="tel"]:hover, .conditer .form__input input[type="text"]:hover { border-color: #ffb600; }

.conditer .form__input input[type="submit"] { -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; cursor: pointer; width: 100%; display: block; }

.conditer .form__input input[type="checkbox"] { opacity: 0; position: absolute; }

.conditer .form__input input[type="checkbox"]:checked ~ .form__label:before { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%23ffb600' d='M4,27L22,45,48,19l-6-6L22,33,10,21Z'/%3E%3C/svg%3E%0A"); background-size: cover; background-position: 50% 50%; }

.conditer .form__input input[type="checkbox"] ~ .form__label { padding: 7px 0 7px 40px; }

.conditer .form__input input[type="checkbox"] ~ .form__label a { color: #ffb600; text-decoration: underline; }

@media (min-width: 0px) { .conditer .form__input input[type="checkbox"] ~ .form__label { padding: 15px 0 15px 75px; } }

@media (min-width: 1280px) { .conditer .form__input input[type="checkbox"] ~ .form__label { padding: 7px 0 7px 35px; } }

.conditer .form__input input[type="checkbox"] ~ .form__label:before { content: ''; width: 22px; height: 22px; display: block; position: absolute; top: 4px; left: 0; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #fff; border: 1px solid #dbdbdb; }

@media (min-width: 0px) { .conditer .form__input input[type="checkbox"] ~ .form__label:before { width: 42px; height: 42px; } }

@media (min-width: 780px) { .conditer .form__input input[type="checkbox"] ~ .form__label:before { width: 34px; height: 34px; } }

@media (min-width: 1280px) { .conditer .form__input input[type="checkbox"] ~ .form__label:before { width: 18px; height: 18px; } }

.conditer .form__input input[type="checkbox"] ~ .form__label:hover:before { border-color: #ffb600; }

.conditer .form__input input[type="radio"] { opacity: 0; position: absolute; }

.conditer .form__input input[type="radio"]:checked ~ .form__label:before { background-color: green; }

.conditer .form__input input[type="radio"] ~ .form__label { padding: 7px 0 7px 42px; }

.conditer .form__input input[type="radio"] ~ .form__label:before { content: ''; width: 28px; height: 28px; display: block; position: absolute; top: 0; left: 0; -webkit-border-radius: 100px; -khtml-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; background: #fff; border: 1px solid #dbdbdb; }

.conditer .body-popup { overflow: hidden; }

.conditer .btn { font-size: 16px; display: inline-block; cursor: pointer; font-family: "Roboto", sans-serif; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 100px; -khtml-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; background-color: #ffb600; border: 1px solid #ffb600; text-align: center; color: #fff; padding: 11px 15px 13px; font-weight: 400; height: auto; line-height: 1.2; }

@media (min-width: 0px) { .conditer .btn { font-size: 24px; padding: 19px 30px 21px; } }

@media (min-width: 780px) { .conditer .btn { font-size: 20px; padding: 14px 20px 16px; } }

@media (min-width: 780px) { .conditer .btn { font-size: 15px; padding: 12px 35px 13px; } }

.conditer .btn:hover { background-color: #ffc840; border: 1px solid #ffc840; }

.conditer .btn_grey { color: #fff; background: #8a8a8a; border-color: #8a8a8a; }

.conditer .btn_grey:hover { background-color: #9f9f9f; border-color: #9f9f9f; }

.conditer .btn_yellow { color: #fff; background: #ffb600; }

.conditer .btn_border { background-color: transparent; color: #ffb600; }

.conditer .btn_border:hover { background-color: transparent; color: #ffc840; }

.conditer .btn_clean { background: transparent; border-color: transparent; color: #8a8a8a; }

.conditer .btn_clean:hover { background: transparent; border-color: transparent; color: #141414; }

.conditer .btn_violet { color: #fff; background: #846EB0; border-color: #846EB0; }

.conditer .btn_violet:hover { background: #7661b0; border-color: #7661b0; }

.conditer .btn_disable { color: #fff; background: #ccc; border-color: #ccc; cursor: no-drop; }

.conditer .popup { font-family: "Roboto", sans-serif; font-size: 16px; color: #666666; width: 100%; height: 100%; line-height: 1.2; display: none; min-width: 640px; }

@media (min-width: 0px) { .conditer .popup { font-size: 24px; } }

@media (min-width: 780px) { .conditer .popup { font-size: 16px; } }

.conditer .popup [data-tab-target] { display: none; }

.conditer .popup [data-tab-target].is-active { display: block; }

.conditer .popup b { font-weight: 500; }

.conditer .popup.is-open { display: block !important; }

.conditer .popup__overlay { display: block; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.8); }

@media (min-width: 780px) { .conditer .popup__overlay { background: #000; } }

.conditer .popup__overlay:before { content: ''; background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.conditer .popup__inner { height: 100%; left: 0; overflow: auto; position: fixed; text-align: center; top: 0; width: 100%; z-index: 100; display: block; background: transparent; overflow-y: scroll; font-size: 0; min-width: 640px; }

.conditer .popup__inner:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.conditer .popup__layout { background-color: white; box-sizing: border-box; display: inline-block; margin: 0 auto; padding: 0; position: relative; vertical-align: middle; width: 100%; max-width: 600px; min-height: 100px; text-align: left; font-size: 16px; }

.conditer .popup__close { width: 25px; height: 25px; position: absolute; cursor: pointer; top: 17px; right: 19px; }

@media (min-width: 0px) { .conditer .popup__close { width: 50px; height: 50px; top: 14px; } }

@media (min-width: 780px) { .conditer .popup__close { width: 30px; height: 30px; background: #fff; -webkit-border-radius: 50%; -khtml-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; top: -30px; right: -30px; } }

.conditer .popup__close:before, .conditer .popup__close:after { content: ''; display: block; position: absolute; top: 50%; left: 50%; background: #141414; height: 4px; width: 30px; margin-top: -2px; margin-left: -15px; border-radius: 10px; }

@media (min-width: 0px) { .conditer .popup__close:before, .conditer .popup__close:after { height: 6px; width: 60px; margin-top: -3px; margin-left: -30px; } }

@media (min-width: 780px) { .conditer .popup__close:before, .conditer .popup__close:after { width: 50px; margin-left: -25px; } }

@media (min-width: 780px) { .conditer .popup__close:before, .conditer .popup__close:after { height: 3px; width: 20px; margin-top: -2px; margin-left: -10px; } }

.conditer .popup__close:before { transform: rotate(45deg); }

.conditer .popup__close:after { transform: rotate(-45deg); }

.conditer .popup_auth .popup__layout { min-height: 100vh; max-width: 100%; }

@media (min-width: 780px) { .conditer .popup_auth .popup__layout { min-height: 0; max-width: 490px; margin: 40px 0 20px; -webkit-border-radius: 15px; -khtml-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; } }

@media (min-width: 1720px) { .conditer .popup_auth .popup__layout { max-width: 616px; } }

.conditer .popup_auth .popup__header { padding: 12px 15px; }

@media (min-width: 780px) { .conditer .popup_auth .popup__header { display: none; } }

.conditer .popup_auth .popup__header-logo { display: inline-block; vertical-align: middle; background-image: url("../img/sprite.svg"); background-repeat: no-repeat; background-position: -97px -372px; width: 33px; height: 33px; margin-right: 5px; }

@media (min-width: 0px) { .conditer .popup_auth .popup__header-logo { background-position: -342px -66px; width: 66px; height: 66px; margin-right: 15px; } }

@media (min-width: 780px) { .conditer .popup_auth .popup__header-logo { background-position: -198px -306px; width: 53px; height: 53px; margin-right: 15px; } }

.conditer .popup_auth .popup__header-text { display: inline-block; vertical-align: middle; font-size: 15px; color: #141414; font-weight: 500; }

@media (min-width: 0px) { .conditer .popup_auth .popup__header-text { font-size: 30px; } }

@media (min-width: 780px) { .conditer .popup_auth .popup__header-text { font-size: 24px; } }

.conditer .popup_auth .popup__tab { font-size: 0; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }

@media (min-width: 780px) { .conditer .popup_auth .popup__tab { border-top: none; } }

.conditer .popup_auth .popup__tab-item { text-align: center; height: 40px; line-height: 40px; font-size: 14px; width: 50%; display: inline-block; vertical-align: top; cursor: pointer; }

@media (min-width: 0px) { .conditer .popup_auth .popup__tab-item { height: 86px; line-height: 86px; font-size: 30px; } }

@media (min-width: 780px) { .conditer .popup_auth .popup__tab-item { height: 56px; line-height: 56px; font-size: 22px; } }

@media (min-width: 780px) { .conditer .popup_auth .popup__tab-item { font-size: 16px; height: 40px; line-height: 40px; margin-top: 15px; } }

@media (min-width: 1720px) { .conditer .popup_auth .popup__tab-item { font-size: 24px; padding-bottom: 10px; } }

@media (min-width: 0) and (max-width: 779px) { .conditer .popup_auth .popup__tab-item.is-active { color: #fff; background: #ffb600; } }

@media (min-width: 780px) { .conditer .popup_auth .popup__tab-item.is-active { border-bottom: 2px solid #ffb600; margin-bottom: -1px; color: #ffb600; } }

.conditer .popup_auth .form { width: 245px; margin: 0 auto; text-align: left; }

@media (min-width: 0px) { .conditer .popup_auth .form { width: 490px; } }

@media (min-width: 780px) { .conditer .popup_auth .form { width: 460px; } }

@media (min-width: 780px) { .conditer .popup_auth .form { width: 235px; } }

.conditer .popup_auth .form_pass { display: none; }

.conditer .popup_auth .form .placeholder { padding: 0 8px; line-height: 32px; }

@media (min-width: 0px) { .conditer .popup_auth .form .placeholder { line-height: 60px; } }

@media (min-width: 780px) { .conditer .popup_auth .form .placeholder { line-height: 30px; } }

@media (min-width: 780px) and (max-width: 1289px) { .conditer .popup_auth .form .btn { padding-top: 5px; padding-bottom: 5px; } }

.conditer .popup_auth .form__field { position: relative; margin-bottom: 20px; font-size: 14px; }

@media (min-width: 0px) { .conditer .popup_auth .form__field { margin-bottom: 30px; font-size: 24px; } }

@media (min-width: 780px) { .conditer .popup_auth .form__field { font-size: 20px; } }

@media (min-width: 780px) { .conditer .popup_auth .form__field { font-size: 14px; margin-bottom: 20px; } }

.conditer .popup_auth .form__field:last-child { margin-bottom: 0; }

.conditer .popup_auth .form__field_submit { margin-top: 30px; }

@media (min-width: 0px) { .conditer .popup_auth .form__field_submit { margin-top: 50px; } }

@media (min-width: 780px) { .conditer .popup_auth .form__field_submit { margin-top: 20px; } }

@media (min-width: 1290px) { .conditer .popup_auth .form__field_submit { margin-top: 30px; } }

.conditer .popup_auth .form__field.f-filled.f-error .form__message ~ .form__input .placeholder { opacity: 0; }

.conditer .popup_auth .form__field.f-error .form__message ~ .form__input input:focus ~ .placeholder { opacity: 0; }

.conditer .popup_auth .form__input { position: relative; }

.conditer .popup_auth .form__input input[type="email"], .conditer .popup_auth .form__input input[type="password"], .conditer .popup_auth .form__input input[type="tel"], .conditer .popup_auth .form__input input[type="text"] { -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; line-height: 31px; height: 32px; padding: 0 8px; background: transparent; }

@media (min-width: 0px) { .conditer .popup_auth .form__input input[type="email"], .conditer .popup_auth .form__input input[type="password"], .conditer .popup_auth .form__input input[type="tel"], .conditer .popup_auth .form__input input[type="text"] { height: 60px; line-height: 59px; } }

@media (min-width: 780px) { .conditer .popup_auth .form__input input[type="email"], .conditer .popup_auth .form__input input[type="password"], .conditer .popup_auth .form__input input[type="tel"], .conditer .popup_auth .form__input input[type="text"] { line-height: 31px; height: 32px; } }

.conditer .popup_auth .form__message { position: absolute; padding: 0 8px; top: -1em; font-size: 0.8em; }

@media (min-width: 780px) { .conditer .popup_auth .form__message { top: -0.5em; } }

@media (min-width: 780px) { .conditer .popup_auth .form__message { top: -0.9em; } }

.conditer .popup_auth .form__text { text-align: center; font-size: inherit; }

@media (min-width: 780px) { .conditer .popup_auth .form__text { font-size: 13px; } }

.conditer .popup_auth .form__text a { color: #ffb600; }

.conditer .popup__auth { text-align: center; padding: 50px 0; font-weight: 300; }

@media (min-width: 0px) { .conditer .popup__auth { padding: 100px 0; } }

@media (min-width: 780px) { .conditer .popup__auth { padding: 30px 0; } }

.conditer .popup__auth.is-registered .form_reg, .conditer .popup__auth.is-registered .popup__auth-soc { display: none; }

.conditer .popup__auth.is-registered .form_pass { display: block; }

.conditer .popup__auth-title { font-weight: 500; font-size: 14px; color: #141414; margin-bottom: 35px; }

@media (min-width: 0px) { .conditer .popup__auth-title { font-size: 30px; margin-bottom: 70px; } }

@media (min-width: 780px) { .conditer .popup__auth-title { font-size: 24px; } }

@media (min-width: 780px) { .conditer .popup__auth-title { margin-bottom: 40px; } }

.conditer .popup__auth-text { font-size: 12px; color: #141414; margin-bottom: 35px; }

@media (min-width: 0px) { .conditer .popup__auth-text { font-size: 26px; margin-bottom: 70px; } }

@media (min-width: 780px) { .conditer .popup__auth-text { font-size: 20px; } }

@media (min-width: 780px) { .conditer .popup__auth-text { margin-bottom: 40px; } }

.conditer .popup__auth-soc { font-size: 12px; }

@media (min-width: 0px) { .conditer .popup__auth-soc { font-size: 20px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc { font-size: 16px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc { font-size: 13px; } }

.conditer .popup__auth-soc-text .or { display: inline-block; position: relative; }

.conditer .popup__auth-soc-text .or:before, .conditer .popup__auth-soc-text .or:after { content: ''; background: #dbdbdb; display: inline-block; height: 1px; width: 22px; vertical-align: middle; margin: 0 4px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-text .or:before, .conditer .popup__auth-soc-text .or:after { width: 46px; margin: 0 12px; } }

.conditer .popup__auth-soc-list { margin: 30px 0; }

@media (min-width: 0px) { .conditer .popup__auth-soc-list { margin: 50px 0; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-list { margin: 30px 0; } }

.conditer .popup__auth-soc-item { background-image: url("../img/sprite.svg"); background-repeat: no-repeat; display: inline-block; vertical-align: middle; margin: 0 10px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-item { margin: 0 23px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item { margin: 0 19px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item { margin: 0 10px; } }

.conditer .popup__auth-soc-item_vk { background-position: -194px -372px; width: 32px; height: 32px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-item_vk { background-position: -226px -226px; width: 66px; height: 66px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_vk { background-position: -408px -104px; width: 52px; height: 52px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_vk { background-position: -78px -429px; width: 26px; height: 26px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_vk:hover { background-position: -104px -429px; width: 26px; height: 26px; } }

.conditer .popup__auth-soc-item_fb { background-position: -130px -372px; width: 32px; height: 32px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-item_fb { background-position: 0 -306px; width: 66px; height: 66px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_fb { background-position: -251px -306px; width: 52px; height: 52px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_fb { background-position: -208px -429px; width: 26px; height: 26px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_fb:hover { background-position: -52px -429px; width: 26px; height: 26px; } }

.conditer .popup__auth-soc-item_ok { background-position: -258px -372px; width: 32px; height: 32px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-item_ok { background-position: -342px -198px; width: 66px; height: 66px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_ok { background-position: -408px -52px; width: 52px; height: 52px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_ok { background-position: -182px -429px; width: 26px; height: 26px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_ok:hover { background-position: -156px -429px; width: 26px; height: 26px; } }

.conditer .popup__auth-soc-item_gp { background-position: -162px -372px; width: 32px; height: 32px; }

@media (min-width: 0px) { .conditer .popup__auth-soc-item_gp { background-position: -132px -306px; width: 66px; height: 66px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_gp { background-position: -303px -306px; width: 52px; height: 52px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_gp { background-position: -130px -429px; width: 26px; height: 26px; } }

@media (min-width: 780px) { .conditer .popup__auth-soc-item_gp:hover { background-position: -234px -429px; width: 26px; height: 26px; } }

.conditer .popup__info { text-align: center; padding: 50px 0; font-weight: 300; width: 245px; margin: 0 auto; }

@media (min-width: 0px) { .conditer .popup__info { width: 490px; padding: 100px 0; } }

@media (min-width: 780px) { .conditer .popup__info { width: 460px; } }

@media (min-width: 780px) { .conditer .popup__info { padding: 30px; width: auto; } }

.conditer .popup__info-title { font-weight: 500; font-size: 14px; color: #141414; margin-bottom: 35px; }

@media (min-width: 0px) { .conditer .popup__info-title { font-size: 30px; margin-bottom: 70px; } }

@media (min-width: 780px) { .conditer .popup__info-title { font-size: 24px; } }

@media (min-width: 780px) { .conditer .popup__info-title { margin-bottom: 40px; } }

.conditer .popup__info-text { font-size: 12px; color: #141414; margin-bottom: 35px; }

.conditer .popup__info-text p { margin: 15px 0; }

.conditer .popup__info-text b { color: #ffb600; }

@media (min-width: 0px) { .conditer .popup__info-text { font-size: 18px; margin-bottom: 70px; } }

@media (min-width: 780px) { .conditer .popup__info-text { margin-bottom: 40px; font-size: 14px; } }

.conditer .popup__info-btn .btn { width: 100%; margin-bottom: 20px; }

@media (min-width: 780px) { .conditer .popup__info-btn .btn { width: auto; margin: 0 10px; } }

.conditer .popup__conditer { color: #000; max-width: 600px; margin: 0 auto; padding: 50px 0; }

@media (min-width: 1280px) { .conditer .popup__conditer { max-width: 1180px; } }

@media (min-width: 1720px) { .conditer .popup__conditer { max-width: 1480px; } }

.conditer .popup__conditer-subtitle { font-size: 12px; color: #666; text-align: center; margin-bottom: 17px; }

@media (min-width: 0px) { .conditer .popup__conditer-subtitle { font-size: 18px; margin-bottom: 25px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-subtitle { font-size: 14px; } }

.conditer .popup__conditer-title { font-size: 42px; text-align: center; margin-bottom: 30px; }

@media (min-width: 0px) { .conditer .popup__conditer-title { font-size: 62px; margin-bottom: 44px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-title { font-size: 48px; } }

.conditer .popup__conditer-courses { margin-bottom: 67px; font-size: 0; }

@media (min-width: 0px) { .conditer .popup__conditer-courses { margin-bottom: 100px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-courses { margin: 0 -14px 120px; } }

.conditer .popup__conditer-item { box-sizing: border-box; margin-bottom: 19px; }

@media (min-width: 0px) { .conditer .popup__conditer-item { margin-bottom: 28px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item { display: inline-block; padding: 0 14px; width: 33.33333%; margin: 0; } }

.conditer .popup__conditer-item.is-active .popup__conditer-item-inner:before { content: ''; display: block; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; border: 4px solid #ffb600; border-radius: 20px; pointer-events: none; }

@media (min-width: 0px) { .conditer .popup__conditer-item.is-active .popup__conditer-item-inner:before { top: -3px; left: -3px; right: -3px; bottom: -3px; border-width: 6px; border-radius: 14px; } }

.conditer .popup__conditer-item.is-active .popup__conditer-item-status .btn { background: transparent; color: #000; border: 1px solid #ffb600; }

.conditer .popup__conditer-item.is-active .popup__conditer-item-status .btn .off { display: none; }

.conditer .popup__conditer-item.is-active .popup__conditer-item-status .btn .on { display: inline-block; }

.conditer .popup__conditer-item.is-disable .popup__conditer-item-status .btn { color: #fff; background: #ccc; border-color: #ccc; cursor: no-drop; }

.conditer .popup__conditer-item-input { position: absolute; opacity: 0; pointer-events: none; }

.conditer .popup__conditer-item-inner { border-radius: 10px; display: block; background: #fff; padding: 40px 27px; box-shadow: 0 1px 4px rgba(102, 102, 102, 0.2); position: relative; }

@media (min-width: 0px) { .conditer .popup__conditer-item-inner { border-radius: 14px; padding: 60px 40px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-inner { padding: 30px 40px 40px; } }

.conditer .popup__conditer-item-title { font-size: 20px; border-bottom: 1px solid #ccc; padding-bottom: 21px; margin-bottom: 21px; }

@media (min-width: 0px) { .conditer .popup__conditer-item-title { font-size: 31px; padding-bottom: 32px; margin-bottom: 30px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-title { font-size: 24px; padding-bottom: 10px; margin-bottom: 30px; } }

.conditer .popup__conditer-item-price { margin-bottom: 17px; }

@media (min-width: 0px) { .conditer .popup__conditer-item-price { margin-bottom: 20px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-price { margin-bottom: 10px; } }

.conditer .popup__conditer-item-price .old-price { font-size: 22px; }

@media (min-width: 0px) { .conditer .popup__conditer-item-price .old-price { font-size: 33px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-price .old-price { font-size: 26px; } }

.conditer .popup__conditer-item-price .old-price span { display: inline-block; padding: 0 3px; position: relative; }

@media (min-width: 0px) { .conditer .popup__conditer-item-price .old-price span { padding: 0 5px; } }

.conditer .popup__conditer-item-price .old-price span:after { content: ''; display: block; position: absolute; top: 50%; height: 1px; left: 0; right: 0; background: #ffb600; }

@media (min-width: 0px) { .conditer .popup__conditer-item-price .old-price span:after { height: 2px; } }

.conditer .popup__conditer-item-price .new-price { font-size: 42px; color: #ffb600; }

@media (min-width: 0px) { .conditer .popup__conditer-item-price .new-price { font-size: 62px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-price .new-price { font-size: 48px; } }

.conditer .popup__conditer-item-info { color: #858585; font-size: 12px; margin-bottom: 24px; }

@media (min-width: 0px) { .conditer .popup__conditer-item-info { font-size: 18px; margin-bottom: 35px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-item-info { font-size: 14px; } }

.conditer .popup__conditer-item-status .btn { width: 100%; }

.conditer .popup__conditer-item-status .btn .on { display: none; }

.conditer .popup__conditer-order { font-size: 0; }

.conditer .popup__conditer-form { background: #fff; border-radius: 10px; box-shadow: 0 1px 4px rgba(102, 102, 102, 0.2); padding: 37px 30px; box-sizing: border-box; margin-bottom: 20px; }

@media (min-width: 0px) { .conditer .popup__conditer-form { border-radius: 14px; padding: 55px 45px; margin-bottom: 30px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-form { display: inline-block; width: calc(100% - 484px); padding: 55px 7.5%; vertical-align: top; margin-bottom: 0; } }

.conditer .popup__conditer-result { padding: 24px; }

@media (min-width: 0px) { .conditer .popup__conditer-result { padding: 35px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-result { padding: 35px 0; width: 354px; margin-left: 130px; display: inline-block; vertical-align: top; } }

.conditer .popup__conditer-result .btn { width: 100%; }

.conditer .popup__conditer-result .table { display: table; width: 100%; font-size: 12px; color: #666666; }

@media (min-width: 0px) { .conditer .popup__conditer-result .table { font-size: 18px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-result .table { font-size: 14px; } }

.conditer .popup__conditer-result .table-row { display: table-row; }

.conditer .popup__conditer-result .table-cell { display: table-cell; padding-bottom: 17px; }

@media (min-width: 0px) { .conditer .popup__conditer-result .table-cell { padding-bottom: 25px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-result .table-cell { padding-bottom: 13px; } }

.conditer .popup__conditer-result .table-cell_val { font-size: 16px; color: #000; text-align: right; }

@media (min-width: 0px) { .conditer .popup__conditer-result .table-cell_val { font-size: 24px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-result .table-cell_val { font-size: 18px; } }

.conditer .popup__conditer-result .table-cell_big { font-size: 22px; color: #ffb600; }

@media (min-width: 0px) { .conditer .popup__conditer-result .table-cell_big { font-size: 33px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-result .table-cell_big { font-size: 26px; } }

.conditer .popup__conditer-table { border-bottom: 1px solid #ccc; margin-bottom: 35px; }

@media (min-width: 0px) { .conditer .popup__conditer-table { margin-bottom: 50px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-table { margin-bottom: 30px; } }

.conditer .popup__conditer-submit { margin-bottom: 27px; }

@media (min-width: 0px) { .conditer .popup__conditer-submit { margin-bottom: 40px; } }

@media (min-width: 1280px) { .conditer .popup__conditer-submit { margin-bottom: 50px; } }

.conditer .popup__conditer-submit:last-child { margin-bottom: 0; }

.conditer .popup_conditer .popup__overlay { background: #000; }

@media (min-width: 780px) { .conditer .popup_conditer .popup__close { top: 30px; right: 30px; background: transparent; } }

.conditer .popup_conditer .popup__layout { min-height: 100vh; max-width: 100%; background: #F9F6F5; }

@media (min-width: 780px) { .conditer .popup_conditer .popup__layout { min-height: 0; max-width: 640px; margin: 40px 0 20px; -webkit-border-radius: 15px; -khtml-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; } }

@media (min-width: 1280px) { .conditer .popup_conditer .popup__layout { max-width: 1582px; width: calc(100% - 40px); } }

.conditer .popup_conditer .popup__content { padding: 90px 30px; }

@media (min-width: 1280px) { .conditer .popup_conditer .popup__content { padding: 90px 30px; max-width: 1262px; margin: 0 auto; } }

.conditer .popup_conditer .popup__header { padding: 12px 15px; }

@media (min-width: 780px) { .conditer .popup_conditer .popup__header { display: none; } }

.conditer .popup_conditer .popup__header-logo { display: inline-block; vertical-align: middle; background-image: url("../img/sprite.svg"); background-repeat: no-repeat; background-position: -97px -372px; width: 33px; height: 33px; margin-right: 5px; }

@media (min-width: 0px) { .conditer .popup_conditer .popup__header-logo { background-position: -342px -66px; width: 66px; height: 66px; margin-right: 15px; } }

@media (min-width: 780px) { .conditer .popup_conditer .popup__header-logo { background-position: -198px -306px; width: 53px; height: 53px; margin-right: 15px; } }

.conditer .popup_conditer .popup__header-text { display: inline-block; vertical-align: middle; font-size: 15px; color: #141414; font-weight: 500; }

@media (min-width: 0px) { .conditer .popup_conditer .popup__header-text { font-size: 30px; } }

@media (min-width: 780px) { .conditer .popup_conditer .popup__header-text { font-size: 24px; } }

.conditer .hint { position: relative; font-size: 12px; pointer-events: all; margin-left: 10px; }

@media (min-width: 0px) { .conditer .hint { font-size: 18px; } }

@media (min-width: 1280px) { .conditer .hint { font-size: 14px; } }

.conditer .hint_top .hint__content { top: auto; bottom: -5px; }

.conditer .hint.is-hover { z-index: 3; }

.conditer .hint.is-hover .hint__content { opacity: 1; pointer-events: all; }

.conditer .hint:after { content: '?'; font-size: 12px; line-height: 16px; text-align: center; color: #666; display: inline-block; width: 16px; height: 16px; border: 1px solid #ccc; border-radius: 50%; position: relative; z-index: 2; }

@media (min-width: 0px) { .conditer .hint:after { font-size: 18px; line-height: 24px; width: 24px; height: 24px; } }

@media (min-width: 1280px) { .conditer .hint:after { font-size: 13px; width: 18px; height: 18px; line-height: 18px; } }

.conditer .hint__content { position: absolute; background: #fff; border-radius: 10px; box-shadow: 0 1px 4px rgba(102, 102, 102, 0.2); padding: 17px 23px 23px; box-sizing: border-box; text-align: left; top: -5px; left: -5px; width: 300px; z-index: 1; opacity: 0; pointer-events: none; transition: opacity 0.3s ease; white-space: normal; line-height: 1.5; }

@media (min-width: 0px) { .conditer .hint__content { border-radius: 14px; padding: 25px 30px 30px; width: 400px; } }

@media (min-width: 1280px) { .conditer .hint__content { width: 300px; } }

/*# sourceMappingURL=../maps/conditer.style.css.map */
