

@import 'sass/var';


/*basic styles start*/
@import 'sass/fonts';
@import 'sass/normalize';
/*basic styles end*/



%arrow{
	position: relative;

	&:before,
	&:after{
		content: '';
		position: absolute;
		width: 14px;
		height: 6px;
		display: block;
		background: $colorGreyLight;
		@include border-radius(10px);
		margin-top: -2px;
		@include transition();

		@include breakpoint($bp1){
			width: 8px;
			height: 3px;
		}
	}

	&:before{
		margin-right: 3px;

		@include breakpoint($bp1){
			margin-right: 2px;
		}
	}

	&:after{
		margin-right: -3px;

		@include breakpoint($bp1){
			margin-right: -2px;
		}
	}
}
%arrowDown{
	&:before{
		@include transform(rotate(45deg));
	}

	&:after{
		@include transform(rotate(-45deg));
	}
}
%arrowUp{
	&:before{
		@include transform(rotate(-45deg));
	}

	&:after{
		@include transform(rotate(45deg));
	}
}

%arrowActive{
	&:before,
	&:after{
		background: $colorYellow;
	}
}



@import 'sass/nouislider';
@import 'sass/slick';


html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-size: 100.01%;
	//min-width: 1000px;
	//min-height: 580px;
	min-width: $minWidth;
	background: $colorBg;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	color: $colorDark;
}


.wrapper  {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
	overflow: hidden;
	left: 0;

}

.website {
	position: relative;
	width: 100%;
	@include box-sizing();

	.lk &{
		@include breakpoint($bp1){
			padding-left: 200px;
		}
	}
}

section{
	position: relative;
}

.inner{
	width: 600px;
	margin: 0 auto;
	@include box-sizing();

	@include clearfix();


	@include breakpoint($bp1){
		width: 1180px;
	}

	@include breakpoint($bp2){
		width: 1480px;
	}

	.lk &{
		@include breakpoint($bp1){
			width: 1000px;
		}

		@include breakpoint($bp2){
			width: 1480px;
		}
	}
}
.part{
	position: relative;
}
.anchor{
	position: absolute;
	width: 1px;
	left: 0;
	top:-60px;
	bottom: 60px;
	display: block;
}

.clr{
	&-red{
		color: $colorRed;
	}
	&-green{
		color: $colorGreen;
	}
	&-yellow{
		color: $colorYellow;
	}
}

.hidden{
	display: none!important;
}


.object-fit-cover{


	.no-object-fit &{
		position: relative;
		height: auto;
	}

	img{

		.object-fit &{
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}

		.no-object-fit &{
			width: 100%;
			height: 100%;
		}
	}
}


@import 'sass/form';
@import 'sass/header';
@import 'sass/nav';
@import 'sass/main';


@import 'sass/footer';


@import 'sass/popup';
@import 'sass/mediaelementplayer';
@import 'sass/jquery.mCustomScrollbar';

@import 'sass/lk';

body{
	opacity: 1!important;
}