
header.header
	.inner
		.header__menu: i
		a(href='#').header__logo: img(src='img/logo-white.svg', alt='')
		.header__control

			if ( auth )
				.header__control-user(class= page == 'lk' ? 'is-active' : '')
					.header__control-ava(href='#'): img(src='img/ava-al.png', alt='')
					.header__control-title Анастасия
					.header__control-note Краснопутепроводская

					if ( page != 'lk')
						ul.header__control-dropdown
							li.is-active: a(href='#') Мои курсы
							li: a(href='#') Отзывы
							li: a(href='#') Личные данные
							li: a(href='#') Мой профиль
							hr
							li: a(href='#') Выйти
			else
				.header__control-user(class= page == 'lk' ? 'is-active' : '')
					a.header__control-btn(href='#'): span Вход в личную кухню
					ul.header__control-dropdown
						li: a(href='#') Войти
						li: a(href='#') Зарегистрироваться

			.header__control-cart
				a.header__control-btn(href='#'): span 0
				.header__control-title Корзина
				.header__control-note Нет товаров

		.header__lkmenu
			.header__lkmenu-list
				a(href='#').header__lkmenu-item.is-active  Мои курсы
				a(href='#').header__lkmenu-item Отзывы
				a(href='#').header__lkmenu-item Личные данные
				a(href='#').header__lkmenu-item Мой профиль
			.header__lkmenu-back
				a(href='#').header__lkmenu-back-btn.btn Обратно на сайт
				a(href='#').header__lkmenu-back-btn.btn.btn_border Выйти из ЛК

if ( page != 'lk')
	nav.nav
		.inner
			.nav__list
				.nav__item(class= page=='course' ? 'is-active' : '')
					//-.nav__subnav
						.nav__subnav-item: a(href='#') Электронные курсы
						.nav__subnav-item: a(href='#') Бесплатный курс
						.nav__subnav-item: a(href='#') Как это устроено
						.nav__subnav-item: a(href='#') Отзывы

					a(href='/courses.html').nav__link Электронные курсы

				.nav__item(class= page=='master' ? 'is-active' : '')
					//-.nav__subnav
						.nav__subnav-item: a(href='#') Мастер-классы
						.nav__subnav-item: a(href='#') Мастер-классы
						.nav__subnav-item: a(href='#') Мастер-классы
						.nav__subnav-item: a(href='#') Мастер-классы

					a(href='/master.html').nav__link Мастер-классы

				.nav__item
					a(href='#').nav__link О нас
				.nav__item
					a(href='#').nav__link Отзывы
				.nav__item
					a(href='#').nav__link Партнеры
				.nav__item
					a(href='#').nav__link Контакты

			.nav__share
				a(href='#').nav__share-item: include ../img/ico/ico-share-ig.svg
				a(href='#').nav__share-item: include ../img/ico/ico-share-vk.svg
				.nav__share-item
					include ../img/ico/ico-share-more.svg
					.nav__share-dropdown
						.nav__share-dropdown-title Поделиться
						a(href='#').nav__share-item: include ../img/ico/ico-share-ig.svg
						a(href='#').nav__share-item: include ../img/ico/ico-share-vk.svg
						a(href='#').nav__share-item: include ../img/ico/ico-share-ig.svg
						a(href='#').nav__share-item: include ../img/ico/ico-share-vk.svg

if ( page == 'lk')
	nav.nav-mobile
		.nav-mobile__inner
			.nav-mobile__list

				.nav-mobile__item.nav-mobile__item_head
					a(href='#'): img(src='img/logo-white.svg', alt='')
					i.handle.js-close-nav

				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_lk
					.nav-mobile__link
						i.ico: img(src='img/ico/ico-user-black.svg', alt='')
						span Анастасия Константинопантинтинопантиноп


				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_cart
					a(href='#').nav-mobile__link
						i.ico: img(src='img/ico/ico-cart-black.svg', alt='')
						span Корзина
						i.num 4

				.nav-mobile__item
					.nav-mobile__link Мои курсы

				.nav-mobile__item
					.nav-mobile__link Отзывы

				.nav-mobile__item
					.nav-mobile__link Личные данные

				.nav-mobile__item
					.nav-mobile__link Мой профиль

				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_back
					.nav-mobile__link Обратно на сайт

				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_logout
					.nav-mobile__link Выйти из ЛК
else
	nav.nav-mobile
		.nav-mobile__inner
			.nav-mobile__list

				.nav-mobile__item.nav-mobile__item_head
					i.handle.js-close-nav

				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_lk
					.nav-mobile__subnav

						.nav-mobile__item.nav-mobile__item_head
							i.handle.js-back-nav
							span Вход в личную кухню

						.nav-mobile__item
							.nav-mobile__subnav.nav-mobile__subnav_content

								.nav-mobile__item.nav-mobile__item_head
									i.handle.js-back-nav
									span Вход в личную кухню

								.nav-mobile__content
									form.form.js-form(method='post', action='/data/test.json')
										.form__field
											input(type='text', name='loginEmail', data-required='email', placeholder='Введите ваш e-mail')
											.form__field-message
										.form__field
											input(type='password', name='loginPassword', data-required='true', placeholder='Введите пароль')
											.form__field-message
										.form__field.form__field_submit
											input(type='submit', value='Войти')
											a(href='#').form__field_submit-link Забыли пароль?
									.soc
										.soc__title Войти через соц.сеть
										.soc__list
											a.soc__item.soc__item_vk(href='#')
											a.soc__item.soc__item_fb(href='#')


							a(href='#').nav-mobile__link Войти

						.nav-mobile__item
							.nav-mobile__subnav.nav-mobile__subnav_content

								.nav-mobile__item.nav-mobile__item_head
									i.handle.js-back-nav
									span Регистрация

								.nav-mobile__content
									form.form.js-form(method='post', action='/data/test.json')
										.form__field
											input(type='text', name='regEmail', data-required='email', placeholder='Введите ваш e-mail')
											.form__field-message
										.form__field
											input(type='password', name='regPassword', data-required='true', placeholder='Введите пароль')
											.form__field-message
										.form__field
											input(type='checkbox', checked='checked', name='regSubscribe', id='regSubscribe')
											label(for='regSubscribe') Хочу получать новости и информацию о новых курсах на почту
										.form__field.form__field_submit
											input(type='submit', value='Регистрация')
									.soc
										.soc__title Войти через соц.сеть
										.soc__list
											a.soc__item.soc__item_vk(href='#')
											a.soc__item.soc__item_fb(href='#')

							a(href='#').nav-mobile__link Зарегистрироваться

					.nav-mobile__link
						i.ico: img(src='img/ico/ico-user-black.svg', alt='')
						span Вход в личную кухню


				.nav-mobile__item.nav-mobile__item_btn.nav-mobile__item_cart
					a(href='#').nav-mobile__link
						i.ico: img(src='img/ico/ico-cart-black.svg', alt='')
						span Корзина
						i.num 4

				.nav-mobile__item
					.nav-mobile__subnav

						.nav-mobile__item.nav-mobile__item_head
							i.handle.js-back-nav
							span Электронные курсы

						.nav-mobile__item
							.nav-mobile__link Электронные курсы
						.nav-mobile__item
							.nav-mobile__link Бесплатный курс
						.nav-mobile__item
							.nav-mobile__link Как это устроено
						.nav-mobile__item
							.nav-mobile__link Отзывы

					.nav-mobile__link Электронные курсы

				.nav-mobile__item
					.nav-mobile__subnav

						.nav-mobile__item.nav-mobile__item_head
							i.handle.js-back-nav
							span Мастер-классы

						.nav-mobile__item
							.nav-mobile__link Мастер-классы
						.nav-mobile__item
							.nav-mobile__link Мастер-классы
						.nav-mobile__item
							.nav-mobile__link Мастер-классы
						.nav-mobile__item
							.nav-mobile__link Мастер-классы

					.nav-mobile__link Мастер-классы

				.nav-mobile__item
					.nav-mobile__link О нас

				.nav-mobile__item
					.nav-mobile__link Отзывы

				.nav-mobile__item
					.nav-mobile__link Партнеры

				.nav-mobile__item
					.nav-mobile__link Контакты