mixin cardItem(type, dif, locked)

	if ( type == 'advice')
		.card__advice
			.card__inner
				.card__advice-quote
					if ( dif )
						.text= dif
					else
						.text В нашей школе обучается
						.title 2500 учеников
						.text Мы создали программы различной сложности, чтобы каждый желающий влюбился в&nbsp;профессию кондитер.

				.card__advice-image: img(src='img/advice-am.png')

	else if ( type == 'feedback')
		.card__feedback
			.card__inner
				.card__feedback-image(style='background-image:url(/img/temp/01.jpg)')
				.card__feedback-title Муссовый торт «Карамельная груша»
				.card__feedback-info
					.card__feedback-about
						.card__feedback-about-item
							i.ico: img(src='img/ico/ico-card-difficult.svg')
							if ( dif == 3 )
								span.clr-red Сложный
							else if ( dif == 2 )
								span.clr-yellow Средний
							else
								span.clr-green Легкий
							i.info
						.card__feedback-about-item
							i.ico: img(src='img/ico/ico-card-duration.svg')
							| 1:50:00
						.card__feedback-about-item
							i.ico: img(src='img/ico/ico-card-volume.svg')
							| 11
					.card__feedback-quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.card__feedback-author #[b Анастасия М.,] Москва название длинного города

	else if ( type == 'buy' || type == 'free' )
		.card__item
			.card__inner
				.card__item-image(style='background-image:url(/img/temp/01.jpg)')
				.card__item-legend
					a(href='#').card__item-legend-feedbacks 25
					a(href='#').card__item-legend-more
				.card__item-info
					.card__item-title Классический кекс с ягодами
					.card__item-about
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-difficult.svg')
							if ( dif == 3 )
								span.value Сложность: #[span.clr-red профессионалы]
							else if ( dif == 2 )
								span.value Сложность: #[span.clr-yellow любители]
							else
								span.value Сложность: #[span.clr-green начинающие]

							i.info
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-duration.svg')
							span.value 1ч.50минут
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-volume.svg')
							span.value 11 страниц
					.card__item-price
						.card__item-price-value 12 000 &#x20bd;
						if ( type == 'buy' )
							a(href='#').card__item-price-btn.card__item-price-btn_buy
						else
							a(href='#').card__item-price-btn.card__item-price-btn_free
					a(href='#').card__item-more Подробнее
	else if ( type == 'buy' || type == 'free' || type == 'buy.feedback' || type == 'free.feedback')
		.card__item
			.card__inner
				.card__item-image(style='background-image:url(/img/temp/01.jpg)')
				.card__item-legend
					a(href='#').card__item-legend-feedbacks 25
					a(href='#').card__item-legend-more
				.card__item-info
					.card__item-title Классический кекс с ягодами
					.card__item-about
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-difficult.svg')
							if ( dif == 3 )
								span.value Сложность: #[span.clr-red профессионалы]
							else if ( dif == 2 )
								span.value Сложность: #[span.clr-yellow любители]
							else
								span.value Сложность: #[span.clr-green начинающие]

							i.info
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-duration.svg')
							span.value 1ч.50минут
						.card__item-about-item
							i.ico: img(src='img/ico/ico-card-volume.svg')
							span.value 11 страниц
					.card__item-price
						.card__item-price-value 12 000 &#x20bd;
						if ( type == 'buy' ||  type == 'buy.feedback')
							a(href='#').card__item-price-btn.card__item-price-btn_buy
						else
							a(href='#').card__item-price-btn.card__item-price-btn_free
					if ( type == 'buy.feedback' || type == 'free.feedback' )
						a(href='#').card__item-more Написать отзыв
					else
						a(href='#').card__item-more Подробнее

	else if ( type == 'course' )
		.card__item.card__item_course
			.card__inner
				.card__item-announce 28 февраля - 1 марта | вт,ср
				.card__item-image(style='background-image:url(/img/temp/01.jpg)')
				.card__item-info
					.card__item-title Двухдневный курс. Новая программа!
					.card__item-about

						.card__item-about-item
							span.value Время занятий: 12:00-17:00
						.card__item-about-item
							span.value Общее время: 10 часов
						.card__item-about-item
							span.value Ведет: Алина Макарова

						.card__item-about-item
							if ( dif == 3 )
								span.value Уровень: #[span.clr-red профессионалы]
							else if ( dif == 2 )
								span.value Уровень: #[span.clr-yellow любители], #[span.clr-red профи]
							else
								span.value Уровень: #[span.clr-green начинающие]

							i.info

					.card__item-price
						.card__item-price-value 12 000 &#x20bd;
						a(href='#').card__item-price-btn.card__item-price-btn_buy
					a(href='#').card__item-more Подробнее
	else if ( type == 'megacourse' )
		.card__item.card__item_course
			if ( locked )
				.card__locked
					i.ico
					i.info
			.card__inner
				.card__item-announce 28 февраля - 1 марта | вт,ср
				.card__item-image(style='background-image:url(/img/temp/01.jpg)')
				.card__item-info
					.card__item-title Двухдневный курс. Новая программа!
					.card__item-about

						.card__item-about-item
							span.value #[b Время занятий:] 12:00-17:00
						.card__item-about-item
							span.value #[b Общее время:] 10 часов
						.card__item-about-item
							span.value #[b Ведет:] Алина Макарова

						.card__item-about-item
							if ( dif == 3 )
								span.value #[b Уровень:] #[span.clr-red профессионалы]
							else if ( dif == 2 )
								span.value #[b Уровень:] #[span.clr-yellow любители], #[span.clr-red профи]
							else
								span.value #[b Уровень:] #[span.clr-green начинающие]

							i.info

					.card__item-price
						a(href='#').card__item-price-btn.card__item-price-btn_free
					a(href='#').card__item-more Смотреть
