.popup.popup_pass-recover
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Восстановление пароля
			.popup__content
				form.form.js-form(method='post', action='/data/test.json', data-form-name='pass-recover')
					.form__text На вашу почту будет отправлено письмо с инструкциями по восстановлению пароля
					.form__field
						input(type='text', name='recoverEmail', data-required='email', placeholder='Введите ваш e-mail')
						.form__field-message
					.form__field.form__field_submit
						input(type='submit', value='Отправить')


.popup.popup_pass-new
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Восстановление пароля
			.popup__content
				form.form.js-form(method='post', action='/data/test.json', data-form-name='pass-new')
					.form__field
						input(type='password', name='recoverNewPassword', data-required='true', placeholder='Введите новый пароль')
						.form__field-message
					.form__field
						input(type='password', name='recoverRepeatPassword', data-required='name=recoverNewPassword', placeholder='Повторите пароль')
						.form__field-message
					.form__field.form__field_submit
						input(type='submit', value='Продолжить')



.popup.popup_pass-send
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Восстановление пароля
			.popup__content
				.form
					.form__text #[br] Письмо отправлено #[br]
					.form__field.form__field_submit
						input(type='button', value='Ок').js-popup-close



.popup.popup_pass-changed
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__title Восстановление пароля
			.popup__content
				.form
					.form__text #[br] Пароль успешно изменен #[br]
					.form__field.form__field_submit
						input(type='button', value='Ок').js-popup-close


.popup#p_payLogin
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Для оплаты вам необходимо войти на сайт
				.popup__content-text
					.btn Вход
					.btn.btn_white Регистрация

.popup#p_removeMessage
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Вы уверенны что хотите удалить выбранные сообщения?
				.popup__content-text
					.btn Да
					.btn.btn_white.js-popup-close Нет


.popup#p_sendMessage
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Вы подтверждаете отправку групового сообщения не&nbsp;требуюего ответа
				.popup__content-text
					.btn Да
					.btn.btn_white.js-popup-close Нет


.popup#p_getPass
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Как подобрать подходящий пароль?
				.popup__content-text Используйте уникальные пароли для своих аккаунтов – особенно для тех, которые хотите защитить больше всего (например, для электронной почты и интернет-банка). Использовать везде один и тот же пароль очень рискованно. Если злоумышленник взломает один аккаунт, то сможет получить доступ к вашим личным данным или онлайн-сервисам, например интернет-банку или покупкам.




.popup.popup_sms-timer#p_timer
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title На указаный вами номер было отправлено смс с&nbsp;кодом для&nbsp;подтверждения
				.popup__content-subtitle Код подтверждения
				.popup__content-timer
					.popup__content-timer-item.popup__content-timer-item_input: input(type='text')
					.popup__content-timer-item.popup__content-timer-item_num #[i] #[span 52]
					.popup__content-timer-item.popup__content-timer-item_confirm: .btn Применить

				.popup__content-timer
					.popup__content-timer-item.popup__content-timer-item_input: input(type='text')
					.popup__content-timer-item.popup__content-timer-item_resend: .btn Отправить повторно
					.popup__content-timer-item.popup__content-timer-item_confirm: .btn Применить

				.popup__content-timer
					.popup__content-timer-item.popup__content-timer-item_input: input(type='text')
					.popup__content-timer-item.popup__content-timer-item_info Нельзя запрашивать код более 3х раз за сутки. Следующий код можно запросить через 24 часа, или обратитесь в техподдерку
					.popup__content-timer-item.popup__content-timer-item_confirm: .btn Применить



.popup.popup_rename
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Переименовать беседу
				.popup__content-subtitle Текущее название беседы:
				.popup__content-input: input(placeholder='Напишите название')
				.popup__content-text
					.btn Сохранить
					.btn.btn_white.js-popup-close Отменить

.popup.popup_setgroup
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Настройки группы: мегакурс по капкейкам
				.popup__content-subtitle Назване группы
				.popup__content-input: input(placeholder='Напишите название', value='Группа по мегакурсу красного пирога')
				.popup__content-subtitle Дата открытия
				.popup__content-val 14.05.2017 в 14:30
				.popup__content-subtitle Дата закрытия
				.popup__content-val
					.form__field.form__field
						input(type='checkbox', checked='checked', name='lkSetGroup', id='lkSetGroup')
						label(for='lkSetGroup') По окончанию курса: "Мегакурс по красному пирогу"



.popup.popup_groupmember
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Участники беседы "Диалог по мегакурсу"
				.groupmember
					.groupmember__item
						.groupmember__item-member
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
						.groupmember__item-info Добавлен через покупку#[br]25.02.2017 в 14:23
						.groupmember__item-control: i

					.groupmember__item.is-removed
						.groupmember__item-member
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
						.groupmember__item-info Добавлен через покупку#[br]25.02.2017 в 14:23
						.groupmember__item-control: i

					.groupmember__item
						.groupmember__item-member.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
						.groupmember__item-info Добавлен через покупку#[br]25.02.2017 в 14:23
						.groupmember__item-control: i

					.groupmember__item
						.groupmember__item-member.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
						.groupmember__item-info Добавлен через покупку#[br]25.02.2017 в 14:23
						.groupmember__item-control: i

					.groupmember__item
						.groupmember__item-member.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
						.groupmember__item-info Добавлен через покупку#[br]25.02.2017 в 14:23
						.groupmember__item-control: i

					.groupmember__btn
						.btn.btn_white Добавить собеседника
						.btn.fl-r Сохранить

.popup.popup_payment#addBankCard
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Добавить банковскую карту
				.popup__content-addcard
					form.form.js-form(method='post', action='/data/test.json', data-form-name='pass-recover')
						.form__field.w-100
							input(type='text', name='card_number', placeholder='Номер карты', data-required='true', data-mask='9999 9999 9999 9999')
							.form__field-message
						.form__field.w-50
							input(type='text', name='card_date', placeholder='Действ. до ММ/ГГ', data-required='true', data-mask='99/9999')
							.form__field-message
						.form__field.w-50
							input.input-cvc(type='text', name='card_ctv', placeholder='CVC', data-required='true', data-mask='999')
							.form__field-message
						.form__field.w-100
							input(type='text', name='card_holder', placeholder='ФИО держателя карты', data-required='true')
							.form__field-message
						.form__note Продолжив, вы добавите этот способ оплаты, а также примите #[a(href="#") Условия использования] и #[a(href="#") конфидециальности] нашего сервиса.
						.form__field.form__field_submit
							button.btn(type='submit') Сохранить
							.btn.btn_white.js-popup-close Отменить

.popup.popup_payment#dataBankCardReg
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Данные карты
				.popup__payment
					form.form.js-form(method='post', action='/data/test.json', data-form-name='pass-recover')
						.popup__payment-card
							.master-payment__item.master-payment__item_card
								.master-payment__item-text: span XXXX-XXXX-XXXX-9654
								.master-payment__item-logo: span: img(src='img/payment/payment-logo-visa.svg')
						.popup__payment-info
							.form__title Действует до
							.form__field
								input(type='text', name='card_date', placeholder='Действ. до ММ/ГГ', data-required='true', value="04/2019", data-mask='99/9999')
								.form__field-message
							.form__title ФИО держателя
							.form__field
								input(type='text', name='card_holder', placeholder='ФИО держателя карты', data-required='true', value="DARYA POVARKINA")
								.form__field-message
						.popup__payment-control
							.form__field.form__field_submit
								hr
								.btn.btn_link Удалить карту
								button.btn.btn_offset(type='submit') Сохранить

.popup.popup_payment#dataBankCard
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-title Данные карты
				.popup__payment
				form.form.js-form(method='post', action='/data/test.json', data-form-name='pass-recover')
					.popup__payment-card
						.master-payment__item.master-payment__item_card
							.master-payment__item-text: span XXXX-XXXX-XXXX-9654
							.master-payment__item-logo: span: img(src='img/payment/payment-logo-visa.svg')
					.popup__payment-info
						.form__title Действует до
						.form__text 04/2019
						.form__title ФИО держателя
						.form__text DARYA POVARKINA
					.popup__payment-control
						.form__field.form__field_submit
							hr
							.btn.btn_link Редактировать
							hr
							.btn.btn_link Подтвердить карту
							hr
							.btn.btn_white.js-popup-close Отмена

.popup.popup_payment#dataBankMessage
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__content-message Вы уверенны что хотите#[br]удалить эту карту?
				.popup__content-btns
					.btn Удалить карту
					.btn.btn_border.js-popup-close Отмена