include mixin
block vars
doctype html
<!--[if IE 6]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><html><![endif]-->
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title HTML Page
		style.
			body {
				opacity: 0;
			}
		block head
	body(class= page == 'lk' ? 'lk' : '')
		.wrapper
			include header
			.website
				block content
		include sections/footer

		include popups
		link(rel='stylesheet', href='css/style.css')/
		script(src='js/jquery.min.js')
		script(src='js/vendor.js')
		script(src='js/custom.js')

		if ( page == 'lk' )

		block scripts
