extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'course'

block head

block content
	section.course-welcome
		.inner
			.course-welcome__title Хотите научиться готовить дома как&nbsp;профессионал?
			.course-welcome__text Онлайн-уроки по кондитерскому делу:

	section.page-nav
		.inner
			.pagenav
				.pagenav__filter
				.pagenav__list
					.pagenav__handle
					.pagenav__item.is-active(data-part='pagenav#courseList')
						a(href='#courseList').pagenav__link Электронные курсы
					.pagenav__item(data-part='pagenav#courseFree')
						a(href='#courseFree').pagenav__link Бесплатный курс
					.pagenav__item(data-part='pagenav#courseWork')
						a(href='#courseWork').pagenav__link Как это устроено
					.pagenav__item(data-part='pagenav#courseFeedbacks')
						a(href='#courseFeedbacks').pagenav__link Отзывы

	.part
		.anchor#courseList
		section.course-list

			.inner

				.course-list__title Электронные курсы
				.course-list__filter
					form.filter.js-form(method='post', action='/data/test.json', data-form-name='courseFilter')
						.filter__inner
							.filter__close
							.filter__title Фильтр
							.filter__list.is-open
								.filter__list-title Город
								.filter__list-wrap
									label.filter__item
										input(type='radio', name='sorting', checked='checked')
										.filter__item-label По популярности
									label.filter__item
										input(type='radio', name='sorting')
										.filter__item-label По новизне
									label.filter__item
										input(type='radio', name='sorting')
										.filter__item-label По цене
							.filter__list.is-open
								.filter__list-title Уровень подготовки
								.filter__list-wrap
									label.filter__item
										input(type='checkbox', name='difficultEasy')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-easy.svg')]] начинающие
									label.filter__item
										input(type='checkbox', name='difficultMiddle')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-middle.svg')]] любители
									label.filter__item
										input(type='checkbox', name='difficultHard')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-hard.svg')]] профи
							.filter__control
								.filter__control-clear #[i.ico ] #[span Сбросить]
								.filter__control-confirm Показать


				.card
					.card__list
						+cardItem('buy')
						+cardItem('free', 2)
						+cardItem('buy', 3)
						+cardItem('buy')
						+cardItem('free', 2)
						+cardItem('buy')
						+cardItem('buy')
						+cardItem('advice')
					.card__more
						.card__more-btn Показать еще курсы


	.part
		.anchor#courseFree
		section.course-free
			.inner

				.course-free__title Бесплатный курс
				.course-free__text Мы уверенны в качестве своих курсов, поэтому с радостью дарим Вам бесплатный пробный урок! Для этого Вам необходимо зарегистрироваться на сайте.
				.course-free__image: img(src='img/lollipop.png')
				.course-free__form
					form.form.js-form(method='post', action='/data/test.json')
						.form__field
							input(type='text', name='name', data-required='true', placeholder='Ваше имя')
						.form__field
							input(type='text', name='email', data-required='email', placeholder='E-mail')
						.form__field
							input(type='password', name='password', data-required='true', placeholder='Пароль')
						.form__field.form__field_submit
							input(type='submit', value='Регистрация')

	.part
		.anchor#courseWork
		section.course-work

			.anchor#courseWorkItem
			.inner

				.course-work__title Как это устроено?

				.course-work__menu
					.course-work__menu-list
						.course-work__menu-item: a(href='#courseWorkItem', data-part='course#courseWorkItem').course-work__menu-link.is-active Личная кухня
						.course-work__menu-item: a(href='#courseAdvantagesItem', data-part='course#courseAdvantagesItem').course-work__menu-link Преимущества
						.course-work__menu-item: a(href='#courseKitchenItem', data-part='course#courseKitchenItem').course-work__menu-link Сложность
						.course-work__menu-item: a(href='#courseFaqItem', data-part='course#courseFaqItem').course-work__menu-link Что вы узнаете?
						.course-work__menu-item: a(href='#courseDifferencesItem', data-part='course#courseDifferencesItem').course-work__menu-link Вопросы

				.course-work__steps
					.course-work__steps-title Личная кухня
					.course-work__steps-item
						.image: img(src='img/ico/ico-big-user.svg')
						.title Зарегистрируйся
						.text После регистрации вы сразу попадаете в «Личную кухню», где уже доступен урок.

					.course-work__steps-item
						.image: img(src='img/ico/ico-big-video1.svg')
						.title Изучай уроки
						.text Оплаченные уроки сохраняются в «Личной кухне» навсегда

					.course-work__steps-item
						.image: img(src='img/ico/ico-big-video2.svg')
						.title Пересматривай
						.text Вы можете смотреть их сколько угодно раз, в любое время

				.course-work__advice
					.card
						.card__list
							+cardItem('advice', 'Расширяйте линейку вкусов, угощайте близких или пеките на заказ.')
							+cardItem('advice')
							+cardItem('advice', 'Расширяйте линейку вкусов, угощайте близких или пеките на заказ.')
							+cardItem('advice')

					//-.course-work__advice-item
						.course-work__advice-quote
						.course-work__advice-image

		section.course-advantages
			.anchor#courseAdvantagesItem
			.inner

				.course-advantages__title Преимущества

				.course-advantages__list
					.course-advantages__item
						.num 1
						.text Уникальные авторские рецепты
						.title Широкая линейка<br>интересных сладостей

					.course-advantages__item
						.num 2
						.text Проверенная технология приготовления
						.title Всегда можно обратиться<br>к шеф-кондитеру

					.course-advantages__item
						.num 3
						.text Готовый десерт с певого раза.
						.title Гордость за своё исполнение

					.course-advantages__item
						.num !
						.text Да, с первого раза!
						.text Следуйте инструкции и забудьте про подгоревшие корочки, сухое тесто, переслащенную начинку, недоваренные фрукты и осевший крем.



		section.course-kitchen
			.anchor#courseKitchenItem
			.inner

				.course-kitchen__title Почувствуйте себя виртуозным кондитером!
				.course-kitchen__steps
					.course-kitchen__steps-item
						.image: img(src='img/ico/ico-big-cooking.svg')
						.title Ингредиенты
						.text Как выбирать продукты: пектин NH или цитрусовый, какие сливки взобьются, какой агар выбрать, чтобы все не растеклось

					.course-kitchen__steps-item
						.image: img(src='img/ico/ico-big-kitchen.svg')
						.title Инвентарь
						.text Какие формы понадобятся, какие насадки выбрать, как подготовить посуду

					.course-kitchen__steps-item
						.image: img(src='img/ico/ico-big-book.svg')
						.title Технологии
						.text Какие факторы влияют на вкус и внешний вид

					.course-kitchen__steps-item
						.image: img(src='img/ico/ico-big-donut.svg')
						.title Декор
						.text Как украсить блюдо и подать на стол


		section.course-faq
			.anchor#courseFaqItem
			.inner

				.course-faq__title Сомнения? Задавайте вопросы Шеф-кондитеру
				.course-faq__list
					.course-faq__item
						.handle
						.question Как рассчитать больше порций
						.ansver Как выбирать продукты: пектин NH или цитрусовый, какие сливки взобьются, какой агар выбрать, чтобы все не растеклось

					.course-faq__item
						.handle
						.question Как рассчитать больше порций
						.ansver Как выбирать продукты: пектин NH или цитрусовый, какие сливки взобьются, какой агар выбрать, чтобы все не растеклось

					.course-faq__item
						.handle
						.question Что будет, если заменить ингредиент
						.ansver Как выбирать продукты: пектин NH или цитрусовый, какие сливки взобьются, какой агар выбрать, чтобы все не растеклось

					.course-faq__item
						.handle
						.question Что использовать, если нет подходящего прибора
						.ansver Как выбирать продукты: пектин NH или цитрусовый, какие сливки взобьются, какой агар выбрать, чтобы все не растеклось

				.course-faq__respondent
					.course-faq__respondent-item
						.image: img(src='img/ava-am.png')
						.title Алина Макарова
						.text Шев-кондитер, преподователь.<br>Основатель школы «PastrySchool»

					.course-faq__respondent-item
						.image: img(src='img/ava-al.png')
						.title Анастасия Лазарева
						.text Шев-кондитер, преподователь в школе «PastrySchool»


		section.course-differences
			.anchor#courseDifferencesItem
			.inner

				.course-differences__title Чем отличаются УРОКИ<br>от просмотра роликов в интернете и чтения книг?

				.course-differences__list

					.course-differences__item
						.marker: img(src='img/ico/ico-list-check.svg', alt='')
						.title Обратная связь:
						.text Постоянная поддержка Шеф-кондитера

					.course-differences__item
						.marker: img(src='img/ico/ico-list-check.svg', alt='')
						.title Гарантия результата:
						.text Вы точно приготовите то, что ожидаете

					.course-differences__item
						.marker: img(src='img/ico/ico-list-check.svg', alt='')
						.title Уникальные десерты:
						.text Такие рецепты есть только у Алины

					.course-differences__item
						.marker: img(src='img/ico/ico-list-info.svg', alt='')
						.text
							ul
								li Только авторские рецепты
								li Меньше сахара и масла
								li Натуральные ингредиенты
								li Ничего лишнего


	.part
		.anchor#courseFeedbacks
		section.course-feedbacks

			.inner

				.course-feedbacks__title Отзывы
				.course-feedbacks__filter
				.card
					.card__list
						+cardItem('feedback')
						+cardItem('feedback', 3)
						+cardItem('feedback', 2)
						+cardItem('feedback')
						+cardItem('feedback')
						+cardItem('feedback', 3)
						+cardItem('feedback')
						+cardItem('feedback', 3)
						+cardItem('feedback', 2)
						+cardItem('feedback')
					.card__more
						.card__more-btn Показать еще отзывы