extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'course'

block head

block content
	section.course-main
		.inner
			.course-main__title Кулинарная школа#[br]Алины Макаровой
			.course-main__labels
				.course-main__labels-item.course-main__labels-item_online
					.course-main__labels-title ОНЛАЙН КУРСЫ
					.course-main__labels-btn: a.btn(href='#onlineCourses') Все онлайн курсы

				.course-main__labels-item.course-main__labels-item_diary
					.course-main__labels-title КУРСЫ В МОСКВЕ
					.course-main__labels-btn: a.btn(href='#coursesInMoscow') Расписание курсов



	section.course-free
		.inner

			.course-free__title Бесплатный курс
			.course-free__text Мы уверенны в качестве своих курсов, поэтому с радостью дарим Вам бесплатный пробный урок! Для этого Вам необходимо зарегистрироваться на сайте.
			.course-free__image: img(src='img/lollipop.png')
			.course-free__form
				form.form.js-form(method='post', action='/data/test.json')
					.form__field
						input(type='text', name='name', data-required='true', placeholder='Ваше имя')
					.form__field
						input(type='text', name='email', data-required='email', placeholder='E-mail')
					.form__field
						input(type='password', name='password', data-required='true', placeholder='Пароль')
					.form__field.form__field_submit
						input(type='submit', value='Регистрация')



	section.course-slider#onlineCourses
		.inner
			.course-slider__title Онлайн курсы
			.course-slider__info
				.course-slider__text Всегда мечтали приготовить торт, но&nbsp;не&nbsp;знали с&nbsp;чего начать? Мы&nbsp;подготовили для&nbsp;Вас более 20-ти рецептов с&nbsp;подробным описанием и&nbsp;видео процессом приготовления.
				.course-slider__btn: a.btn(href='#') Все онлайн курсы
			.course-slider__wrap.card

				.course-slider__list.card__list
					+cardItem('buy')
					+cardItem('free', 2)
					+cardItem('buy', 3)
					+cardItem('buy')
					+cardItem('free', 2)
					+cardItem('buy')
					+cardItem('buy')
					+cardItem('free', 2)
					+cardItem('buy')
					+cardItem('buy')

	section.course-slider#coursesInMoscow
		.inner
			.course-slider__title Курсы в Москве
			.course-slider__info
				.course-slider__text Всегда мечтали приготовить торт, но&nbsp;не&nbsp;знали с&nbsp;чего начать? Мы&nbsp;подготовили для&nbsp;Вас более 20-ти рецептов с&nbsp;подробным описанием и&nbsp;видео процессом приготовления.
				.course-slider__btn: a.btn(href='#') Расписание всех курсов
			.course-slider__wrap.card_courses

				.course-slider__list.card__list
					+cardItem('course', 2)
					+cardItem('course')
					+cardItem('course')
					+cardItem('course')
					+cardItem('course', 2)
					+cardItem('course')
					+cardItem('course')
					+cardItem('course')
					+cardItem('course')
					+cardItem('course')
					+cardItem('course')


	section.course-subscribe
		.inner

			.course-subscribe__title Будь в курсе #[br]актуальных новостей
			.course-subscribe__text Получайте последние новости и уникальные предложения от AlinaMakarova.ru
			.course-subscribe__form
				form.form.js-form(method='post', action='/data/test.json')
					.form__field
						input(type='text', name='email', data-required='email', placeholder='Ваш E-mail')
					.form__field.form__field_submit
						input(type='submit', value='Подписаться')
			.course-subscribe__image: img(src='img/subscribe.png')



	section.master-photo.master-photo_big
		.inner
			.master-photo__title Фотогалерея

			.master-photo__veiw
				.master-photo__carousel
					.master-photo__carousel-list
						- for (var i=1; i<=17; i++)
							.master-photo__carousel-item.object-fit-cover: img(src='img/temp/slide#{i}.jpg', alt='')
					.master-photo__carousel-counter
				.master-photo__slider
					.master-photo__slider-list

						.master-photo__slider-double
							.master-photo__slider-item(data-num='1').object-fit-cover: img(src='img/temp/slide1.jpg', alt='')
							.master-photo__slider-item(data-num='2').object-fit-cover: img(src='img/temp/slide2.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='3').object-fit-cover: img(src='img/temp/slide3.jpg', alt='')
							.master-photo__slider-item(data-num='4').is-hidden.object-fit-cover: img(src='img/temp/slide4.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='5').is-hidden.object-fit-cover: img(src='img/temp/slide5.jpg', alt='')
							.master-photo__slider-item(data-num='6').is-hidden.object-fit-cover: img(src='img/temp/slide6.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='7').is-hidden.object-fit-cover: img(src='img/temp/slide7.jpg', alt='')
							.master-photo__slider-item(data-num='8').is-hidden.object-fit-cover: img(src='img/temp/slide8.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='9').is-hidden.object-fit-cover: img(src='img/temp/slide9.jpg', alt='')
							.master-photo__slider-item(data-num='10').is-hidden.object-fit-cover: img(src='img/temp/slide10.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='11').is-hidden.object-fit-cover: img(src='img/temp/slide11.jpg', alt='')
							.master-photo__slider-item(data-num='12').is-hidden.object-fit-cover: img(src='img/temp/slide12.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='13').is-hidden.object-fit-cover: img(src='img/temp/slide13.jpg', alt='')
							.master-photo__slider-item(data-num='14').is-hidden.object-fit-cover: img(src='img/temp/slide14.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='15').is-hidden.object-fit-cover: img(src='img/temp/slide15.jpg', alt='')
							.master-photo__slider-item(data-num='16').is-hidden.object-fit-cover: img(src='img/temp/slide16.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='17').is-hidden.object-fit-cover: img(src='img/temp/slide17.jpg', alt='')

					.master-photo__slider-more: .btn Показать еще #[span.js-num 6]




	section.master-about

		.inner
			.master-about__title О школе
			.master-about__text
				p #[b Алина Макарова] — основатель Школы кондитерского искусства в Москве. Более 1000 очных учеников и 3000 онлайн. Наши ученики из США, Германии, Канады, Украины, Австралии, Мексики, Казахстана и, разумеется, России.
				p Помогаем всем, кто хочет стать кондитером, осуществить мечту.
				p На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.
			.master-about__announce По результатам курса можно получить #[span электронный сертификат]
			.master-about__bg
				.sertificate
				.vase
				.phone


	section.course-feedbacks

		.inner

			.course-feedbacks__title Отзывы
			.course-feedbacks__filter
			.card
				.card__list
					+cardItem('feedback')
					+cardItem('feedback', 3)
					+cardItem('feedback', 2)
					+cardItem('feedback')
					+cardItem('feedback')
					+cardItem('feedback', 3)
					+cardItem('feedback')
					+cardItem('feedback', 3)
					+cardItem('feedback', 2)
					+cardItem('feedback')
				.card__more
					.card__more-btn Показать еще отзывы