extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var auth = true;

block head

block content
	section.course-welcome
		.inner
			.course-welcome__text: b: a(href='home.html') Главная
			.course-welcome__text: b: a(href='courses.html') Электронные курсы
			.course-welcome__text: b: a(href='master.html') Мастер-классы
			.course-welcome__text: b: a(href='master-filter-disable.html') Мастер-классы (фильтр неактивен)
			.course-welcome__text: b: a(href='master-item.html') Страница курса (куплен)
			.course-welcome__text: b: a(href='master-item_price.html') Страница курса (не куплен)
			.course-welcome__text: b: a(href='master-item_info.html') Информация о курсе
			.course-welcome__text: b: a(href='register.html') Регистрация
			.course-welcome__text: b: a(href='login.html') Вход в личную кухню
			.course-welcome__text: b: a(href='passrecovery.html') Восстановление пароля
			br
			.course-welcome__text: b: a(href='lk-master-item.html') Личный кабинет - курс
			.course-welcome__text: b: a(href='lk-master-mega.html') Личный кабинет - мегакурс
			.course-welcome__text: b: a(href='lk-master-list.html') Личный кабинет - купленные курсы
			br
			.course-welcome__text: b: a(href='lk-user-admin-main.html') LK - user_admin - main
			.course-welcome__text: b: a(href='lk-user-comment.html') LK - user - comment
			.course-welcome__text: b: a(href='lk-user-shop-history.html') LK - user - shop history
			.course-welcome__text: b: a(href='lk-user-start-dialog.html') LK - user - start dialog
			.course-welcome__text: b: a(href='lk-admin-start-dialog.html') LK - admin - start dialog
			.course-welcome__text: b: a(href='lk-user-create-comment-step-1.html') LK - user - create comment step 1
			.course-welcome__text: b: a(href='lk-user-create-comment-step-2.html') LK - user - create comment step 2
			.course-welcome__text: b: a(href='lk-admin-master-class.html') LK - admin - master-class
			.course-welcome__text: b: a(href='lk-admin-dialog-all.html') LK - admin - all dialog
			.course-welcome__text: b: a(href='lk-admin-choice-user.html') LK - admin - choice user
			.course-welcome__text: b: a(href='lk-admin-comment.html') LK - admin - comment
			.course-welcome__text: b: a(href='lk-admin-dialog.html') LK - admin - dialog
			.course-welcome__text: b: a(href='lk-admin-groupp-dialog.html') LK - admin - groupp dialog
			.course-welcome__text: b: a(href='lk-subscribe.html') LK - подписка
			.course-welcome__text: b: a(href='lk-course-buy.html') LK - купить курс
			.course-welcome__text: b: a(href='lk-legal-confirm.html') LK - Юридическая информация
			br
			.course-welcome__text: b: a(href='lk-master-payment.html') LK - Оплата
			br


			.course-welcome__text: h2 ЛК Попапы
			.course-welcome__text: b: a(href='#', data-popup='#p_payLogin')  «Для оплаты вам необходимо войти на сайт»
			.course-welcome__text: b: a(href='#', data-popup='#p_removeMessage') «Вы уверенны что хотите удалить выбранные сообщения?»
			.course-welcome__text: b: a(href='#', data-popup='#p_sendMessage') «Вы подтверждаете отправку групового сообщения не&nbsp;требуюего ответа»
			.course-welcome__text: b: a(href='#', data-popup='#p_getPass') «Как подобрать подходящий пароль?»
			.course-welcome__text: b: a(href='#', data-popup='#p_timer') «...смс с&nbsp;кодом для подтверждения»
			.course-welcome__text: b: a(href='#', data-popup='.popup_rename') «Переименовать беседу»
			.course-welcome__text: b: a(href='#', data-popup='.popup_setgroup') «Настройки группы: мегакурс по капкейкам»
			.course-welcome__text: b: a(href='#', data-popup='.popup_groupmember') «Участники беседы»
			.course-welcome__text: b: a(href='#', onclick='$.app.popup.info(\'<div class="popup__content-title">Новый пароль успешно сохранен</div>\', true); return false;') «Новый пароль успешно сохранен.»
			.course-welcome__text: b: a(href='#', onclick='$.app.popup.info(\'<div class="popup__content-title">Нельзя удалить почту к&nbsp;которой привязан Ваш аккаунт.</div>\', true); return false;') «Нельзя удалить почту к&nbsp;которой привязан Ваш аккаунт.»
			.course-welcome__text: b: a(href='#', onclick='$.app.popup.info(\'<div class="popup__content-title">Ошибка при загрузке файла</div><div class="popup__content-text">Файл слишком большой.</div>\'); return false;') «Ошибка при загрузке файла»
			br

			.course-welcome__text: b: a(href='#', data-popup='#addBankCard') Добавить банковскую карту
			.course-welcome__text: b: a(href='#', data-popup='#dataBankCard') Данные карты
			.course-welcome__text: b: a(href='#', data-popup='#dataBankCardReg') Редактировать данные карты
			.course-welcome__text: b: a(href='#', data-popup='#dataBankMessage') Удалить карту
			br


			br

			.course-welcome__text
				b: a(href='#', data-popup='.popup_pass-recover') Забыли пароль -&nbsp;
				b: a(href='/?showPopup=.popup_pass-recover', target='_blank') (в новом окне)
			.course-welcome__text
				b: a(href='#', data-popup='.popup_pass-new') Восстановление пароля -&nbsp;
				b: a(href='/?showPopup=.popup_pass-new', target='_blank') (в новом окне)
			.course-welcome__text
				b: a(href='#', data-popup='.popup_pass-send') Письмо отправлено -&nbsp;
				b: a(href='/?showPopup=.popup_pass-send', target='_blank') (в новом окне)
			.course-welcome__text
				b: a(href='#', data-popup='.popup_pass-changed') Пароль восстановлен -&nbsp;
				b: a(href='/?showPopup=.popup_pass-changed', target='_blank') (в новом окне)
			br