extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Сообщение для Снежаны Денисовны
				.lk-title__subtitle nameemail@mail.com
				.lk-title__footnote Вы пишите сообщение для 4587 пользователей

			.lk-content
				.lk-message.lk-message_admin
					.lk-message__textarea
						.form__field
							textarea.js-autoheight(placeholder='Текст сообщения')
						.form__field.form__field_submit.lk-message__submit
							.btn Отправить отзыв
						.form__field.form__field.lk-message__checkbox
							input(type='checkbox', checked='checked', name='lkMessAdm', id='lkMessAdm')
							label(for='lkMessAdm') Сообщение не требует ответа
							.footnote Если сообщение не требует ответа, то оно будет создано отдельной темой. Посетители не смогу на него отвеча







block scripts