extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main История покупок



			.lk-content.lk-aside

				.lk-sort.clearfix
					.sort__list
						.sort__field.sort__field_left
							.sort__search.sort__search_w
								.sort__search-input: input(type='text', placeholder='Название мастеркласса')
								.sort__search-find: input(type='submit')

						.sort__field.sort__field_right
							.sort__btn Добавить мастер-класс

				.lk-masterclass
					.lk-masterclass__list
						-for (i=0; i<4; i++)
							.lk-masterclass__item
								.lk-masterclass__item-image(style='background-image:url(/img/temp/01.jpg)')
								.lk-masterclass__item-info
									.lk-masterclass__item-title Двухдневный курс. Новая программа!
									.lk-masterclass__item-text #[b Ведет:] Алина Макарова
									.lk-masterclass__item-text #[b Время занятий:] 12:00-17:00

								.lk-masterclass__char
									.lk-masterclass__char-table
										.lk-masterclass__char-item
											.lk-masterclass__char-title Стоимость
											.lk-masterclass__char-val 12 000р
										.lk-masterclass__char-item
											.lk-masterclass__char-title Кол-во мест
											.lk-masterclass__char-val 14
										.lk-masterclass__char-item
											.lk-masterclass__char-title Занято
											.lk-masterclass__char-val 10

								.lk-masterclass__more: a(href='#').btn Смотреть


					.lk-users__more
						.btn.btn_white Показать еще 100


block scripts