extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Диалоги

			.lk-sidebar.lk-filter
				form.filter.js-form(method='post', action='/data/test.json', data-form-name='courseFilter')
					.filter__inner

						.filter__list.is-open
							.filter__list-title Фильтр
							.filter__list-wrap
								label.filter__item
									input(type='radio', name='filter', checked='checked')
									.filter__item-label Все
								label.filter__item
									input(type='radio', name='filter')
									.filter__item-label Прочитанные
								label.filter__item
									input(type='radio', name='filter')
									.filter__item-label Не прочитанные
								label.filter__item
									input(type='radio', name='filter')
									.filter__item-label Без ответа
								label.filter__item
									input(type='radio', name='filter')
									.filter__item-label Важные
								label.filter__item
									input(type='radio', name='filter')
									.filter__item-label Архив


			.lk-content.lk-aside
				.lk-sort.lk-sort_dialog
					.sort__list
						.sort__field.sort__field_s
							.sort__select
								.sort__select-val Оператор: #[span.val Все]
								.sort__select-list
									label.sort__select-item
										input(type='radio', name='operator', value='1', checked='checked')
										span Все
									label.sort__select-item
										input(type='radio', name='operator', value='2')
										span Только они
									label.sort__select-item
										input(type='radio', name='operator', value='3')
										span Кроме них
									label.sort__select-item
										input(type='radio', name='operator', value='4')
										span Те что остались

						.sort__field.sort__field_s
							.sort__select
								.sort__select-val Сортировка: #[span.val Туда]
								.sort__select-list
									label.sort__select-item
										input(type='radio', name='sorting', value='1', checked='checked')
										span Туда
									label.sort__select-item
										input(type='radio', name='sorting', value='2')
										span Сюда
									label.sort__select-item
										input(type='radio', name='sorting', value='2')
										span Обратно

						.sort__field.sort__field_f
							.sort__search
								.sort__search-input: input(type='text', placeholder='Поиск')
								.sort__search-find: input(type='submit')

						.sort__field.sort__field_right
							.sort__btn Написать письмо

				.lk-dialog.lk-dialog_all
					.lk-dialog__list
						.lk-dialog__item.is-online
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status online
								.lk-dialog__item-data 14.05.2016 в 14:30
								.lk-dialog__item-note Ожидание: 14 часов
							.lk-dialog__item-content
								.lk-dialog__item-quote Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его.  Вот так вот да именно.
							.lk-dialog__item-foot
								.lk-dialog__item-note 35 диалогов
								.lk-dialog__item-menu
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_zip #[i] В архив
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_remove #[i] Удалить

						.lk-dialog__item
							.lk-dialog__item-info
								.lk-dialog__item-avatar: img(src='img/lk/ava_group.png', alt='')
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status offline
								.lk-dialog__item-data 14.05.2016 в 14:30
								.lk-dialog__item-note Ожидание: 14 часов
							.lk-dialog__item-content
								.lk-dialog__item-quote У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

							.lk-dialog__item-foot
								.lk-dialog__item-note 35 диалогов
								.lk-dialog__item-menu
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_zip #[i] В архив
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_remove #[i] Удалить

						.lk-dialog__item.is-online
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status online
								.lk-dialog__item-data 14.05.2016 в 14:30
								.lk-dialog__item-note Ожидание: 14 часов
							.lk-dialog__item-content
								.lk-dialog__item-quote.lk-dialog__item-quote_fw

									.lk-dialog__item.is-online
										.lk-dialog__item-info
											.lk-dialog__item-avatar
											.lk-dialog__item-author
												.lk-dialog__item-author-name Анастасия М.,
												.lk-dialog__item-author-status online
										.lk-dialog__item-content
											.lk-dialog__item-quote
												.lk-dialog__item-data 14.05.2016 в 14:30
												| Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его.  Вот так вот да именно.

							.lk-dialog__item-foot
								.lk-dialog__item-note 35 диалогов
								.lk-dialog__item-menu
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_zip #[i] В архив
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_remove #[i] Удалить

						.lk-dialog__item
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status offline
								.lk-dialog__item-data 14.05.2016 в 14:30
								.lk-dialog__item-note Ожидание: 14 часов
							.lk-dialog__item-content
								.lk-dialog__item-quote #[i.ico.ico_file .pdf] 143 Кб.&nbsp;&nbsp;&nbsp;Отправлен файл

							.lk-dialog__item-foot
								.lk-dialog__item-note 35 диалогов
								.lk-dialog__item-menu
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_zip #[i] В архив
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_remove #[i] Удалить








block scripts