extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Найти пользователя

			.lk-sidebar.lk-filter
				form.filter.js-form(method='post', action='/data/test.json', data-form-name='courseFilter')
					.filter__inner

						.filter__list.is-open
							.filter__list-title Есть курсы
							.filter__list-wrap
								label.filter__item
									input(type='checkbox', name='course_01')
									.filter__item-label Капкейк
								label.filter__item
									input(type='checkbox', name='course_02')
									.filter__item-label Тортики марсианские
								label.filter__item
									input(type='checkbox', name='course_03')
									.filter__item-label Пироженки
								label.filter__item
									input(type='checkbox', name='course_04')
									.filter__item-label Шоколадки
								label.filter__item
									input(type='checkbox', name='course_05')
									.filter__item-label Рулетики
								label.filter__item
									input(type='checkbox', name='course_06')
									.filter__item-label Кексики

						.filter__list
							.filter__list-title Нет курсов
							.filter__list-wrap
								label.filter__item
									input(type='checkbox', name='course_07')
									.filter__item-label Капкейк
								label.filter__item
									input(type='checkbox', name='course_08')
									.filter__item-label Тортики марсианские
								label.filter__item
									input(type='checkbox', name='course_09')
									.filter__item-label Пироженки
								label.filter__item
									input(type='checkbox', name='course_10')
									.filter__item-label Шоколадки
								label.filter__item
									input(type='checkbox', name='course_11')
									.filter__item-label Рулетики
								label.filter__item
									input(type='checkbox', name='course_12')
									.filter__item-label Кексики

						.filter__list.filter__list_input.is-open
							.filter__list-title Последняя покупка
							.filter__list-wrap
								.filter__item
									input(type='text', name='qqqqqqq', placeholder='', value='14 дней')


						.filter__list.is-open
							.filter__list-title Пол
							.filter__list-wrap
								label.filter__item
									input(type='checkbox', name='gender_01', checked='checked')
									.filter__item-label Женщина
								label.filter__item
									input(type='checkbox', name='gender_02')
									.filter__item-label Мужчина

						.filter__list.is-open
							.filter__list-title Статус
							.filter__list-wrap
								label.filter__item
									input(type='checkbox', name='status_01', checked='checked')
									.filter__item-label Администратор
								label.filter__item
									input(type='checkbox', name='status_02')
									.filter__item-label Покупатель


			.lk-content.lk-aside
				.lk-sort
					.sort__list
						.sort__field
							.sort__search
								.sort__search-input: input(type='text', placeholder='Имя, фамилия или почта')
								.sort__search-find: input(type='submit')

				.lk-users
					.lk-users__list
						-for(i=0; i<18;i++)
							.lk-users__item(class= (i%4 == 1) ? 'is-online' : '' )
								.lk-users__item-avatar
								.lk-users__item-name Снежана Денисовная
								.lk-users__item-email ewert@mail.ru

					.lk-users__more
						.btn.btn_white Показать еще 100

					//-.lk-users__pagin
						.lk-pagin
							a(href='#').lk-pagin__item.lk-pagin__item_prev
							a(href='#').lk-pagin__item.is-active 1
							a(href='#').lk-pagin__item 2
							a(href='#').lk-pagin__item 3
							a(href='#').lk-pagin__item 4
							a(href='#').lk-pagin__item 5
							.lk-pagin__dot . . .
							a(href='#').lk-pagin__item 10
							a(href='#').lk-pagin__item.lk-pagin__item_next: span Cлед 2





block scripts