extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Диалог с Снежана Денисовная
				.lk-title__aside
					.lk-chat__control.js-chat-control
						.btn.btn_white.js-remove-chat-message Удалить
						.btn.js-reply-chat-message Ответить

			//-.lk-sidebar.lk-filter

			.lk-content.lk-aside

				.lk-chat.lk-chat_one

					.chat__list
						.chat__item.chat__item_l.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble(data-message-id='1231')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

							.chat__item-bubble(data-message-id='1232')
								.chat__item-quote
									.text Набирает сообщение...

						.chat__item.chat__item_r.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble.is-unread(data-message-id='1233')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!
							.chat__item-bubble.is-unread(data-message-id='1234')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text У них нихрена не получится!!!  Купила этот видео урок. Ну что ска

						.chat__item.chat__item_l.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble(data-message-id='1235')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

						.chat__item.chat__item_l.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble(data-message-id='1236')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его. Особенно хорошо это удается детям!
									.image
										.image__item.image__item_11(style='background-image:url(/img/...)')
									.file #[i.ico.ico_file .pdf] #[a(href='#') Какой то файл.pdf] 143 Кб.
									.file #[i.ico.ico_file .хзч] #[a(href='#') Еще какой то файл.хзч] 14 Тб.

						.chat__item.chat__item_l.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble(data-message-id='1236')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.file #[i.ico.ico_file .doc] #[a(href='#') Еще какой то файл.doc] 10 кб.

						.chat__item.chat__item_r.is-online
							.chat__item-author
								.chat__item-avatar
								.chat__item-name Анастасия М.
								.chat__item-data ewert@mail.ru
							.chat__item-bubble(data-message-id='1236')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.text Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его. Особенно хорошо это удается детям!
									.image
										.image__item.image__item_11(style='background-image:url(/img/...)')

							.chat__item-bubble(data-message-id='1237')
								.chat__item-quote
									.date 14.05.2016 в 14:30
									.image
										.image__item.image__item_23(style='background-image:url(/img/...)')
										.image__item.image__item_13(style='background-image:url(/img/...)')
										.image__item.image__item_12(style='background-image:url(/img/...)')
										.image__item.image__item_12(style='background-image:url(/img/...)')
										.image__item.image__item_13(style='background-image:url(/img/...)')
										.image__item.image__item_13(style='background-image:url(/img/...)')
										.image__item.image__item_13(style='background-image:url(/img/...)')

							.chat__item-bubble(data-message-id='1238')
								.chat__item-quote
									.image.image_fl
										.image__item.image__item_min(style='background-image:url(/img/...)')
									.date 14.05.2016 в 14:30
									.text Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его. Особенно хорошо это удается детям!

							.chat__item-bubble(data-message-id='1239')
								.chat__item-attachment
									.chat__item
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

					.chat__send
						form.js-lk-form-dialog(method='post', action='/server/ctrl.php', data-upload-action='/server/ctrl.php')
							.chat__send-add
								label.chat__send-add-btn.chat__send-add-btn_photo: input(type='file', name='attachment_files' accept="image/*", multiple, data-action='/server/ctrl.php')
								label.chat__send-add-btn.chat__send-add-btn_file: input(type='file', name='attachment_files' multiple, data-action='/server/ctrl.php')
							.chat__send-field.dragbox_catch
								.chat__send-textarea
									.dragbox
										.dragbox__inner Перетащите файлы сюда
										//-input(type='file', multiple, name='attachment_files', data-action='/server/ctrl.php', hidden)
									textarea.js-autoheight(placeholder='Написать сообщение')
								.chat__send-attachment

									.attachment__inputs

									.attachment__list

										//-.attachment__item.attachment__item_message
											.attachment__remove
											.chat__item
												.chat__item-author
													.chat__item-avatar
													.chat__item-name Анастасия М.
													.chat__item-data ewert@mail.ru
												.chat__item-bubble
													.chat__item-quote
														.date 14.05.2016 в 14:30
														.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

										//-.attachment__item.attachment__item_messages
											.attachment__val 14 сообщений
											.attachment__remove

										//-.attachment__item.attachment__item_file
											.attachment__val какой то файл.exe
											.attachment__remove

										//-.attachment__item.attachment__item_file
											.attachment__val какой то файл.exe
											.attachment__remove

										//-.attachment__item.attachment__item_image
											.attachment__remove
											.image

										//-.attachment__item.attachment__item_image
											.attachment__remove
											.image

										//-.attachment__item.attachment__item_image
											.attachment__remove
											.image

									.chat__send-attachment-item
							.chat__send-submit
								input.btn(type='submit', value='Отправить')




block scripts
	script.
		window.FileAPI = {
			debug: false // debug mode
			, staticPath: '/server/' // path to *.swf
		};
	script(src = "/js/fileapi.js")