extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	//-section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.course-free.course-free_item
			.inner
				.course-free__info
					.course-free__title Название курса
					.course-free__text Мы уверены в качестве своих курсов, поэтому с радостью дарим Вам бесплатный пробный урок!
					.course-free__btns
						.btn Купить видеокурс
						.btn.btn_white Оформить рассрочку
					.course-free__doc
						.course-free__doc-ico: img(src='img/ico/pdf.svg')
						a(href='#').course-free__doc-link Скачать#[br]презентацию

				.course-free__view
					video.player(width="100%", height="100%", controls="control", preload="/img/temp/01.jpg")
						source(src="http://test.maestros.ru/video/video.mp4", type="video/mp4")/

				//-.course-free__form
					form.form.js-form(method='post', action='/data/test.json')
						.form__field
							input(type='text', name='name', data-required='true', placeholder='Ваше имя')
						.form__field
							input(type='text', name='email', data-required='email', placeholder='E-mail')
						.form__field
							input(type='password', name='password', data-required='true', placeholder='Пароль')
						.form__field.form__field_submit
							input(type='submit', value='Регистрация')

block scripts