extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	//-section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.course-legal
			.inner
				.course-legal__wrap
					.course-legal__title Добро пожаловать!
					.course-legal__faq
						.course-legal__faq-item.is-open
							.course-legal__faq-head Как начать обучение?
							.course-legal__faq-body
								p Для начала обучения, вам необходимо предоставить паспорт и подписанный договор.
								ul
									li #[span Шаг 1.] Скачайте, ознакомьтесь и подпишите документы. #[a(href="#step_1") Перейти к&nbsp;шагу&nbsp;1]
									li #[span Шаг 2.] Загрузите фотографии. Допускаются фотографии сделанные на камеру смартфона или фотоаппарата. #[a(href="#step_2") Перейти к&nbsp;шагу&nbsp;2]
						.course-legal__faq-item
							.course-legal__faq-head Как хранятся мои персональные данные?
							.course-legal__faq-body
								p Все загруженные документы доступны только #[b модераторам школы "Cake School"] и не передаются третьим лицам. ИП Макарова Алина Анатольевна (владелец "Cake School") является оператором персональных данных и соответствет всем требованиям 152-ФЗ "О персональных данных"
						.course-legal__faq-item
							.course-legal__faq-head Видео подсказка
							.course-legal__faq-body
								video.player(width="100%", height="100%", controls="control", preload="/img/temp/01.jpg")
									source(src="http://test.maestros.ru/video/video.mp4", type="video/mp4")/
								p #[span Приветствие]

					.course-legal__step#step_1
						.course-legal__step-item
							.course-legal__step-title #[span Шаг 1.] Ознакомьтесь с документами
							.course-legal__step-body
								.course-legal__step-doc
									a.course-legal__step-doc-item(href='#', download)
										.course-legal__step-doc-type PDF
										.course-legal__step-doc-name Оферта
										.course-legal__step-doc-info 600 КБ
										.course-legal__step-doc-download
									a.course-legal__step-doc-item(href='#', download)
										.course-legal__step-doc-type DOCX
										.course-legal__step-doc-name Договор
										.course-legal__step-doc-info 600 КБ
										.course-legal__step-doc-download


						.course-legal__step-item#step_2
							.course-legal__step-title #[span Шаг 2.] Прикрепите фотографии
							.course-legal__step-body
								form(action='http://alina.shop.maestros.ru/data/test.php', method="post").course-legal__form
									.course-legal__step-files
										.course-legal__step-file
											input#file_1(type="file", name="file_1", accept="image/jpeg,image/png,image/gif")
											.course-legal__step-file-image(style="background-image:url(img/legal/Pasport_1.jpg)")
											.course-legal__step-file-error
											.course-legal__step-file-title Разворот паспорта с фотографией
											.course-legal__step-file-footer.course-legal__step-file-footer_load
												label(for='file_1').course-legal__step-file-load Загрузить фото
											.course-legal__step-file-footer.course-legal__step-file-footer_reload
												label(for='file_1').course-legal__step-file-load Загрузить другое фото
												span.course-legal__step-file-remove Удалить
										.course-legal__step-file
											input#file_2(type="file", name="file_2", accept="image/jpeg,image/png,image/gif")
											.course-legal__step-file-image(style="background-image:url(img/legal/Pasport_2.png)")
											.course-legal__step-file-error
											.course-legal__step-file-title Разворот паспорта с фотографией
											.course-legal__step-file-footer.course-legal__step-file-footer_load
												label(for='file_2').course-legal__step-file-load Загрузить фото
											.course-legal__step-file-footer.course-legal__step-file-footer_reload
												label(for='file_2').course-legal__step-file-load Загрузить другое фото
												span.course-legal__step-file-remove Удалить
										.course-legal__step-file
											input#file_3(type="file", name="file_3", accept="image/jpeg,image/png,image/gif")
											.course-legal__step-file-image(style="background-image:url(img/legal/contract.png)")
											.course-legal__step-file-error
											.course-legal__step-file-title Подписанный договор
											.course-legal__step-file-footer.course-legal__step-file-footer_load
												label(for='file_3').course-legal__step-file-load Загрузить фото
											.course-legal__step-file-footer.course-legal__step-file-footer_reload
												label(for='file_3').course-legal__step-file-load Загрузить другое фото
												span.course-legal__step-file-remove Удалить

									label.course-legal__step-checkbox
										input(type="checkbox", name="confirm")
										.course-legal__step-checkbox-text Я согласен (-а) на обработку персональных данных, принимаю #[a(href="#" target="_blank") условия оферты]
										.course-legal__step-file-error

									button(type="submit", disabled).btn  Отправить документы




block scripts