extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.master-breadcramb
		.inner
			a(href='#').master-breadcramb__back
				span Аккаунт


	section.master-payment
		//https://xd.adobe.com/spec/ad5a36d5-117b-4c6f-b7b7-3cf01e24776b/#screen/1ae726b7-dcb6-4e58-95fd-5aa33a14d10e/%D0%90%D0%BA%D0%BA%D0%B0%D1%83%D0%BD%D1%82_%D0%BE%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B0%20%D0%BA%D0%B0%D1%80%D1%82%D0%B0

		.inner
			.master-payment__title Способы оплаты
			.master-payment__list
				.master-payment__item.master-payment__item_card
					.master-payment__item-text: span XXXX-XXXX-XXXX-9654
					.master-payment__item-logo: span: img(src='img/payment/payment-logo-visa.svg')
					.handle
						.handle__btn: i
						.handle__inner
							ul
								li: a(href='#') Редактировать
								li: a(href='#') Удалить карту
				.master-payment__item.master-payment__item_card
					.master-payment__item-text: span XXXX-XXXX-XXXX-9654
					.master-payment__item-logo: span: img(src='img/payment/payment-logo-mc.svg')
					.handle
						.handle__btn: i
						.handle__inner
							ul
								li: a(href='#') Редактировать
								li: a(href='#') Удалить карту
				.master-payment__item.master-payment__item_card
					.master-payment__item-text: span adres.pochti@gmail.com
					.master-payment__item-logo: span: img(src='img/payment/payment-logo-pp.svg')
					.handle
						.handle__btn: i
						.handle__inner
							ul
								li: a(href='#') Редактировать
								li: a(href='#') Удалить карту
				.master-payment__item.master-payment__item_add
					.master-payment__item-text: span Добавить кредитную или дебетовую карту
					.master-payment__item-logo
						span
							img(src='img/payment/payment-logo-visa.svg')
							img(src='img/payment/payment-logo-mc.svg')
				.master-payment__item.master-payment__item_add
					.master-payment__item-text: span Добавить PayPal
					.master-payment__item-logo: span: img(src='img/payment/payment-logo-pp.svg')

			.master-payment__title Подписки

			.master-payment__table

				.master-payment__row
					.master-payment__col.master-payment__col_message Подписок пока нет

				.master-payment__row
					.master-payment__col.master-payment__col_date.n-m 9 декабря 2017г.,#[br]14:36
					.master-payment__col.master-payment__col_title База знаний. Продвинутый&nbsp;уровень
					.master-payment__col.master-payment__col_date.n-d 9.12.2017,14:36
					.master-payment__col.master-payment__col_status Годовой план
					.master-payment__col.master-payment__col_logo: span: img(src='img/payment/payment-logo-visa.svg')
					.master-payment__col.master-payment__col_number: span XXXX-XXXX-XXXX-9654
					.master-payment__col.master-payment__col_info
						.title След.платеж
						.text.n-d 16.02.2017
						.text.n-m 16 февраля 2017г
					.master-payment__col.master-payment__col_more
						.handle
							.handle__btn: i
							.handle__inner
								ul
									li: a(href='#') Изменить данные
									li: a(href='#') Отменить подписку

				.master-payment__row
					.master-payment__col.master-payment__col_date.n-m 9 декабря 2017г.,#[br]14:36
					.master-payment__col.master-payment__col_title База знаний.
					.master-payment__col.master-payment__col_date.n-d 9.12.2017,14:36
					.master-payment__col.master-payment__col_status Ежемесячный план
					.master-payment__col.master-payment__col_logo: span: img(src='img/payment/payment-logo-pp.svg')
					.master-payment__col.master-payment__col_number: span XXXX-XXXX-XXXX-9654
					.master-payment__col.master-payment__col_info
						.title След.платеж
						.text.n-d 16.02.2017
						.text.n-m 16 февраля 2017г
					.master-payment__col.master-payment__col_more
						.handle
							.handle__btn: i
							.handle__inner
								ul
									li: a(href='#') Изменить данные
									li: a(href='#') Отменить подписку


			.master-payment__title История покупок

			.master-payment__table.master-payment__table_history
				.master-payment__row
					.master-payment__col.master-payment__col_message Покупок пока нет

				.master-payment__row
					.master-payment__col.master-payment__col_date.n-m 9 декабря 2017г.,#[br]14:36
					.master-payment__col.master-payment__col_title База знаний. Продвинутый&nbsp;уровень
					.master-payment__col.master-payment__col_date.n-d 9.12.2017,14:36
					.master-payment__col.master-payment__col_status: span.clr-yellow Платеж создан
					.master-payment__col.master-payment__col_logo: span: img(src='img/payment/payment-logo-visa.svg')
					.master-payment__col.master-payment__col_number: span XXXX-XXXX-XXXX-9654
					.master-payment__col.master-payment__col_info
						.text 99 265 руб.

				.master-payment__row
					.master-payment__col.master-payment__col_date.n-m 9 декабря 2017г.,#[br]14:36
					.master-payment__col.master-payment__col_title База знаний. Продвинутый&nbsp;уровень
					.master-payment__col.master-payment__col_date.n-d 9.12.2017,14:36
					.master-payment__col.master-payment__col_status: span.clr-yellow Платеж создан
					.master-payment__col.master-payment__col_logo: span: img(src='img/payment/payment-logo-pp.svg')
					.master-payment__col.master-payment__col_number: span adres.pochta@gmail.com
					.master-payment__col.master-payment__col_info
						.text 99 265 руб.

				.master-payment__row
					.master-payment__col.master-payment__col_date.n-m 9 декабря 2017г.,#[br]14:36
					.master-payment__col.master-payment__col_title База знаний. Продвинутый&nbsp;уровень
					.master-payment__col.master-payment__col_date.n-d 9.12.2017,14:36
					.master-payment__col.master-payment__col_status: span.clr-yellow Платеж создан
					.master-payment__col.master-payment__col_logo: span: img(src='img/payment/payment-logo-mc.svg')
					.master-payment__col.master-payment__col_number: span XXXX-XXXX-XXXX-9654
					.master-payment__col.master-payment__col_info
						.text 99 265 руб.


	section.copynote
		.inner
			.copynote__text © Alina Makarova Pastry Lab 2016 Все права защищены. Использование материалов с сайта alinamakarova.ru допускается с обязательным уведомлением автора. #[a(href='#') Наши правила].

block scripts