extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.master-breadcramb
		.inner
			a(href='#').master-breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад в мои курсы
			a(href='#').master-breadcramb__title.is-active Купленные
			a(href='#').master-breadcramb__title Бесплатные


	section.master-mega
		.inner
			.master-mega__title Мои курсы-купленные


			.card
				.card__list
					+cardItem('free', 2)
					+cardItem('free')
					+cardItem('free')
					+cardItem('free')
					+cardItem('free')
					+cardItem('free')



	section.copynote
		.inner
			.copynote__text © Alina Makarova Pastry Lab 2016 Все права защищены. Использование материалов с сайта alinamakarova.ru допускается с обязательным уведомлением автора. #[a(href='#') Наши правила].


block scripts