extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.master-breadcramb
		.inner
			a(href='#').master-breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад в мои курсы
			a(href='#').master-breadcramb__title.is-active Мегакурс



	section.master-mega
		.inner
			.master-mega__title Мегакурс

			.master-mega__group.is-open
				.master-mega__head
					.master-mega__head-name Апрель 2017 (4)

				.master-mega__list
					.card.card_courses
						.card__list
							+cardItem('megacourse', 2)
							+cardItem('megacourse')
							+cardItem('megacourse', 3, true)
							+cardItem('megacourse', 1, true)

			.master-mega__group
				.master-mega__head
					.master-mega__head-name Май 2017 (4)

				.master-mega__list
					.card.card_courses
						.card__list
							+cardItem('megacourse', 2)
							+cardItem('megacourse')
							+cardItem('megacourse')

			.master-mega__group.is-disabled
				.master-mega__head
					.master-mega__head-name Июнь 2017 (5)
					.master-mega__head-info
						.master-mega__head-text Оплатить до 01.06.2017
						a(href='#').master-mega__head-btn Оплатить

				.master-mega__list
					.card.card_courses
						.card__list
							+cardItem('megacourse', 2)
							+cardItem('megacourse')
							+cardItem('megacourse')


	section.copynote
		.inner
			.copynote__text © Alina Makarova Pastry Lab 2016 Все права защищены. Использование материалов с сайта alinamakarova.ru допускается с обязательным уведомлением автора. #[a(href='#') Наши правила].


block scripts