extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	//-section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap.lk-wrap_subscribe
		.course-free
			.inner
				.course-free__title Бесплатный курс
				.course-free__text Мы уверенны в качестве своих курсов, поэтому с радостью дарим Вам бесплатный пробный урок! Для этого Вам необходимо зарегистрироваться на сайте.
				.course-free__image: img(src='img/lollipop.png')
				.course-free__form
					form.form.js-form(method='post', action='/data/test.json')
						.form__field
							input(type='text', name='name', data-required='true', placeholder='Ваше имя')
						.form__field
							input(type='text', name='email', data-required='email', placeholder='E-mail')
						.form__field
							input(type='password', name='password', data-required='true', placeholder='Пароль')
						.form__field.form__field_submit
							input(type='submit', value='Регистрация')

block scripts