extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main История покупок

			.lk-content.lk-aside

				.lk-history
					.lk-history__list
						.lk-history__item.lk-history__item_head
							.lk-history__cell Курс
							.lk-history__cell Дата покупки
							.lk-history__cell Стоимость
							.lk-history__cell Платежная система
						.lk-history__item
							.lk-history__cell.lk-history__cell_name Видеокурс «Капкейк черничный»
							.lk-history__cell.lk-history__cell_date 14.09.2017 14:50
							.lk-history__cell.lk-history__cell_price 990 р
							.lk-history__cell.lk-history__cell_pay Банковская карта
						.lk-history__item
							.lk-history__cell.lk-history__cell_name Видеокурс «Капкейк черничный»
							.lk-history__cell.lk-history__cell_date 14.09.2017 14:50
							.lk-history__cell.lk-history__cell_price 19 990 р
							.lk-history__cell.lk-history__cell_pay Банковская карта
						.lk-history__item
							.lk-history__cell.lk-history__cell_name Видеокурс «Капкейк черничный»
							.lk-history__cell.lk-history__cell_date 14.09.2017 14:50
							.lk-history__cell.lk-history__cell_price 1 560 р
							.lk-history__cell.lk-history__cell_pay Банковская карта
						.lk-history__item
							.lk-history__cell.lk-history__cell_name Видеокурс «Капкейк черничный»
							.lk-history__cell.lk-history__cell_date 14.09.2017 14:50
							.lk-history__cell.lk-history__cell_price 4 770 р
							.lk-history__cell.lk-history__cell_pay Банковская карта

					.lk-history__list
						.lk-history__item
							.lk-history__cell.lk-history__cell_name Мастер класс «Капкейк черничный»
							.lk-history__cell.lk-history__cell_date 14.09.2017 14:50
							.lk-history__cell.lk-history__cell_price 4 770 р
							.lk-history__cell.lk-history__cell_pay Банковская карта


block scripts