extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Мои отзывы
				.lk-title__aside
					.btn Написать отзыв

			//-.lk-sidebar.lk-filter

			.lk-content.lk-aside

				.lk-subtitle Кремовый торт

				.lk-dialog.lk-dialog_feedback
					.lk-dialog__list
						.lk-dialog__item.is-online
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status online
								.lk-dialog__item-data @anna78fliranil
								.lk-dialog__item-note Санкт-Петребург#[br.n-m] Ленина 12
							.lk-dialog__item-content
								.lk-dialog__item-quote Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его.  Вот так вот да именно.
							.lk-dialog__item-foot
								.lk-dialog__item-menu
									.lk-dialog__item-menu-info Создан: 23.06.2017
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_remove #[i] Удалить
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_comment
										span.n-m Развернуть диалог
										i
										span.count 25
							.lk-dialog__item-chat
								.chat__list
									.chat__item.chat__item_l.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

									.chat__item.chat__item_r.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок.




				.lk-dialog.lk-dialog_feedback
					.lk-dialog__list
						.lk-dialog__item.is-online
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status online
								.lk-dialog__item-data @anna78fliranil
								.lk-dialog__item-note Санкт-Петребург#[br.n-m] Ленина 12
							.lk-dialog__item-content
								.lk-dialog__item-quote Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его.  Вот так вот да именно.
							.lk-dialog__item-foot
								.lk-dialog__item-menu
									.lk-dialog__item-menu-info Создан: 23.06.2017
									.lk-dialog__item-menu-info.clr-red Отклонен 27.06.2017 15:00
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_comment
										span.n-m Развернуть диалог
										i
										span.count 25

							.lk-dialog__item-chat
								.chat__list
									.chat__item.chat__item_l.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

									.chat__item.chat__item_r.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок.

				.lk-subtitle Брусничный пирог

				.lk-dialog.lk-dialog_feedback
					.lk-dialog__list
						.lk-dialog__item.is-online
							.lk-dialog__item-info
								.lk-dialog__item-avatar
								.lk-dialog__item-author
									.lk-dialog__item-author-name Анастасия М.,
									.lk-dialog__item-author-status online
								.lk-dialog__item-data @anna78fliranil
								.lk-dialog__item-note Санкт-Петребург#[br.n-m] Ленина 12
							.lk-dialog__item-content
								.lk-dialog__item-quote Очень важно настаивать на своем отрицательном решении, так как обычно собеседник старается заставить вас изменить его.  Вот так вот да именно.
								.lk-dialog__item-attachment
									.attachment__list
										.attachment__item.attachment__item_image
											.image
										.attachment__item.attachment__item_image
											.image
										.attachment__item.attachment__item_image
											.image

							.lk-dialog__item-foot
								.lk-dialog__item-menu
									.lk-dialog__item-menu-info Создан: 23.06.2017
									.lk-dialog__item-menu-info.clr-green Публикаци 27.06.2017 15:00
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_favorite #[i] Важное
									.lk-dialog__item-menu-link.lk-dialog__item-menu-link_comment
										span.n-m Развернуть диалог
										i
										span.count 25

							.lk-dialog__item-chat
								.chat__list
									.chat__item.chat__item_l.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок. Ну что сказать - огромное спасибо!

									.chat__item.chat__item_r.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.date 14.05.2016 в 14:30
												.text У них нихрена не получится!!!  Купила этот видео урок.

									.chat__item.chat__item_l.is-online
										.chat__item-author
											.chat__item-avatar
											.chat__item-name Анастасия М.
											.chat__item-data ewert@mail.ru
										.chat__item-bubble
											.chat__item-quote
												.text Набирает сообщение...






block scripts