extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Написать сообщение администарции сайта
				.lk-title__subtitle Вы можете написать сообщение администрации и т.д. и т.п. м вобще какойто текст

			.lk-content

				.lk-message
					.lk-message__textarea
						textarea.js-autoheight(placeholder='Напишите отзыв.')

					.lk-message__submit
						.btn Отправить отзыв




block scripts