extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Написать отзыв
				.lk-title__subtitle Отзыв по курсу «Капкейк с черникой»

			.lk-content

				form.js-lk-form-dialog(method='post', action='/server/ctrl.php', data-upload-action='/server/ctrl.php')
					.lk-message.lk-message_attach
						.lk-message__textarea
							.dragbox
								.dragbox__inner Перетащите файлы сюда
							textarea.js-autoheight(placeholder='Напишите отзыв.')

						.lk-message__attachment
							.lk-message__footnote Макс.кол-во символов 5000
							.attachment__list
								.attachment__item.attachment__item_image
									.attachment__remove
									.image

								.attachment__item.attachment__item_image
									.attachment__remove
									.image

								.attachment__item.attachment__item_image
									.attachment__remove
									.image

						.lk-message__control
							.lk-message__control-add
								label.chat__send-add-btn.chat__send-add-btn_photo: input(type='file', name='attachment_files' accept="image/*", multiple, data-action='/server/ctrl.php')
								label.chat__send-add-btn.chat__send-add-btn_file: input(type='file', name='attachment_files' multiple, data-action='/server/ctrl.php')
							.lk-message__control-submit
								.btn Отправить отзыв

	section.copynote
		.inner
			.copynote__text * Ваш отзыв будет опубликован после проверки Администрации&nbsp;сайта




block scripts