extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад #[span.n-m к диалогам]


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Написать отзыв
				.lk-title__subtitle Выбирете курс для отзыва

			.lk-content

				.card
					.card__list
						+cardItem('buy.feedback', 2)
						+cardItem('buy.feedback')
						+cardItem('buy.feedback')
						+cardItem('free.feedback')
						+cardItem('buy.feedback')
						+cardItem('buy.feedback')
						+cardItem('free.feedback')
						+cardItem('buy.feedback')
						+cardItem('buy.feedback')




block scripts

