extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'lk';
	- var auth = true;

block head

block content
	section.breadcramb
		.inner
			a(href='#').breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			//-.breadcramb__filter.js-toggle-filter Фильтр


	section.lk-wrap
		.inner

			.lk-title
				.lk-title__main Мои данные

			.lk-content.lk-aside
				.lk-user
					form.form.js-form(method='post', action='/data/test.json')
						.lk-user__col.lk-user__col_avatar
							.lk-user__title Аватар
							.form__field
								input(type='text', name='avatar', hidden='hidden')
								input#avatarPreload(type='file', name='avatarPreload', hidden='hidden')
								.lk-user__avatar-preview
								.lk-user__avatar-edit
									label.lk-user__avatar-load.btn-lk_edit(for='avatarPreload')
									.lk-user__avatar-clear.btn-lk_clear


						.lk-user__col.lk-user__col_name
							.lk-user__title Персональные данные
							.form__field
								.form__label Фамилия
								.form__input
									input(type='text', name='sername', value='Моисеев')
							.form__field
								.form__label Имя
								.form__input
									input(type='text', name='name', value='Бориска')
							.form__field
								.form__label Отчество
								.form__input
									input(type='text', name='patronymic', value='Васильковович')
							.form__field
								.form__label День рождения
								.form__input
									.lk-user__birthday
										input#userBirthDay(type='text', name='date', value='11/09/1990')
										.lk-user__birthday-date
											.lk-user__birthday-day
											.lk-user__birthday-month
											.lk-user__birthday-year
										label(for='userBirthDay').lk-user__birthday-edit.btn-lk_down
								.form__footnote * Указание даты рождения позволит вам получать скидки в дни родения

						.lk-user__col.lk-user__col_contact
							.lk-user__phone
								.form__label Телефон
								.form__field
									.form__input
										input.js-phone-mask(type='text', name='phone[0]', value='+7 (911) 926 54 78', disabled='disabled')
										.lk-user__phone-edit.btn-lk_edit
									.form__control
										.lk-user__phone-remove.btn-lk_clear
										.lk-user__phone-add.btn-lk_add
								.form__field
									.form__input
										input.js-phone-mask(type='text', name='phone[1]', value='+7 (911) 926 54 78', disabled='disabled')
										.lk-user__phone-edit.btn-lk_edit
									.form__control
										.lk-user__phone-remove.btn-lk_clear
										.lk-user__phone-add.btn-lk_add

							.lk-user__email
								.form__label E-mail
								.form__field
									.form__input
										input(type='text', name='email[0]', value='alina@alina.ru', disabled='disabled')
										.lk-user__email-edit.btn-lk_edit
									.form__control
										.lk-user__email-remove.btn-lk_clear
										.lk-user__email-add.btn-lk_add

							.form__field.form__field_submit
								input(type='submit', value='Сохранить')

				.lk-user
					form.form.js-form(method='post', action='/data/test.json')
						.lk-user__pass
							.lk-user__title Сменить пароль
							.form__field
								.form__label Старый пароль
								.form__input
									input(type='password', name='old_password', placeholder='**********', data-required='password')

							.form__field
								.form__label Новый пароль
								.form__input
									input(type='password', name='new_password', data-required='password')

							.form__field
								.form__label Повторить новый пароль
								.form__input
									input(type='password', name='rep_password', data-required='name=new_password')
								.form__footnote: a(href='#', data-popup='#p_getPass') Как подобрать пароль?

							.form__field.form__field_submit
								.form__label &nbsp;
								input(type='submit', value='Сохранить')



				.lk-user
					.lk-user__accounts
						.lk-user__title
							| Объединение аккаунтов
							span.hint
								.hint__link Зачем мне объединять аккаунты?
								.hint__tooltip
									.hint__title Зачем мне объединять аккаунты?
									.hint__text В настоящее время объединить несколько аккаунтов Google невозможно. Но если нужно перенести свои данные из одного аккаунта в другой, то это можно сделать на уровне продуктов. Кроме того, чтобы начать пользоваться новым продуктом, необязательно создавать еще один аккаунт Google. Просто войдите в существующий аккаунт Google и откройте список продуктов.
						.lk-user__accounts-list
							.lk-user__accounts-item.is-active
								.lk-user__accounts-info
									.lk-user__accounts-ico: img(src='img/lk/account_vk.svg', alt='ВКонтакте')
									.lk-user__accounts-name ВКонтакте
									.lk-user__accounts-value Оля Перепёлкина
								.lk-user__accounts-btn: .btn: span Отключить

							.lk-user__accounts-item
								.lk-user__accounts-info
									.lk-user__accounts-ico: img(src='img/lk/account_fb.svg', alt='Facebook')
									.lk-user__accounts-name Facebook
									.lk-user__accounts-value
								.lk-user__accounts-btn: .btn: span Подключить

							.lk-user__accounts-item
								.lk-user__accounts-info
									.lk-user__accounts-ico: img(src='img/lk/account_email.svg', alt='E-mail')
									.lk-user__accounts-name E-mail
									.lk-user__accounts-value
								.lk-user__accounts-btn: .btn: span Подключить

							.lk-user__accounts-item
								.lk-user__accounts-info
									.lk-user__accounts-ico: img(src='img/lk/account_phone.svg', alt='Телефон')
									.lk-user__accounts-name Телефон
									.lk-user__accounts-value
								.lk-user__accounts-btn: .btn: span Подключить






block scripts
	link(rel='stylesheet', href='/css/cropper.css')/
	link(rel='stylesheet', href='/css/datepicker.css')/
	script(src='/js/cropper/cropper.js')