extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.auth
		.inner
			.auth__title Вход в личную кухню
			.auth__content.auth__content_2
				.auth__content-inner
					form.form.js-form(method='post', action='/data/test.json')
						.form__title Войти с паролем

						.form__field
							input(type='text', name='loginEmail', data-required='email', placeholder='Введите ваш e-mail')
							.form__field-message
						.form__field
							input(type='password', name='loginPassword', data-required='true', placeholder='Введите пароль')
							.form__field-message
						.form__field.form__field_submit
							input(type='submit', value='Войти')
							.submit-link: span: a(href='#') Забыли пароль?

					.soc
						.soc__title Войти через соц.сеть
						.soc__list
							a.soc__item.soc__item_vk(href='#')
							a.soc__item.soc__item_fb(href='#')

				.auth__content-inner
					.form.form_aside
						.form__title Еще нет аккаунта?
						a(href='#').btn Регистрация


