extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.master-breadcramb
		.inner
			a(href='#').master-breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад
			.master-breadcramb__title.is-active Зимняя выпечка: бриоши и кексы

	section.master-welcome
		.inner
			.master-welcome__control
				a(href='#').master-welcome__control-item
					i.ico: img(src='img/ico/arrow-slider-prev.svg')
					span Написать<br>сообщение
				a(href='#').master-welcome__control-item
					i.ico: img(src='img/ico/arrow-slider-prev.svg')
					span Написать<br>отзыв

			.master-welcome__title Зимняя выпечка: бриоши и кексы
			.master-welcome__legend
				.master-welcome__legend-item
					i.ico: img(src='img/ico/ico-card-difficult_white.svg')
					span.text Сложность: #[span.clr-yellow средний]
					i.info
				.master-welcome__legend-item
					i.ico: img(src='img/ico/ico-card-duration_white.svg')
					span.text 1ч.50минут
				.master-welcome__legend-item
					i.ico: img(src='img/ico/ico-card-volume_white.svg')
					span.text 11страниц




	section.page-nav
		.inner
			.pagenav
				.pagenav__list
					.pagenav__handle
					.pagenav__item.is-active(data-part='pagenav#masterVideo')
						a(href='#masterVideo').pagenav__link Видео
					.pagenav__item(data-part='pagenav#masterPhoto')
						a(href='#masterPhoto').pagenav__link Фото
					.pagenav__item(data-part='pagenav#masterCooking')
						a(href='#masterCooking').pagenav__link Процесс приготовления

	section.master-video
		.anchor#masterVideo
		.inner
			.master-video__title Видео
			.master-video__wrap

				.master-video__advice
					.card
						+cardItem('advice')

				.master-video__player
					.master-video__player-item
						video.player(width="100%", height="100%", controls="control", preload="/img/temp/01.jpg")
							source(src="http://fitradar.maestros.ru/spev/video/book.mp4", type="video/mp4")/

	section.master-photo.master-photo_aside
		.anchor#masterPhoto
		.inner
			.master-photo__title Фотогалерея

			.master-photo__veiw
				.master-photo__carousel
					.master-photo__carousel-list
						- for (var i=1; i<=17; i++)
							.master-photo__carousel-item.object-fit-cover(data-num =i): img(src='img/temp/slide#{i}.jpg', alt='')
					.master-photo__carousel-counter
				.master-photo__slider
					.master-photo__slider-list
						- for (var i=1; i<=3; i++)
							.master-photo__slider-item.object-fit-cover(data-num =i): img(src='img/temp/slide#{i}.jpg', alt='')
						- for (var i=4; i<=17; i++)
							.master-photo__slider-item.is-hidden.object-fit-cover(data-num =i): img(src='img/temp/slide#{i}.jpg', alt='')
					.master-photo__slider-more: .btn Показать еще #[span.js-num 6]

	section.master-cooking
		.anchor#masterCooking
		.inner
			.master-cooking__title Процесс приготовления
			a(href='#', download='download').master-cooking__link
				.master-cooking__link-ico: img(src='img/ico/pdf.svg')
				.master-cooking__link-title Скачать PDF
				.master-cooking__link-text 11страниц
				.master-cooking__link-btn Скачать файл

	section.master-feedback
		.inner
			.master-feedback__title Отзывы
			.master-feedback__add
				.btn Написать отзыв

			.master-feedback__list
				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

			.master-feedback__more
				.btn Показать еще 10

block scripts