extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.master-breadcramb
		.inner
			a(href='#').master-breadcramb__back
				i.ico: img(src='img/ico/arrow-prev-white.svg')
				span Назад к мастер-классам

	section.master-welcome
		.inner
			.master-welcome__title #[span.clr-yellow 28 февраля - 3 марта | вт, ср, пт] #[br]Зимняя выпечка: бриоши и кексы
			.master-welcome__legend
				.master-welcome__legend-item
					span.text #[b Время занятий:] 12:00-17:00
				.master-welcome__legend-item
					span.text #[b Общее время:] 10 часов
				.master-welcome__legend-item
					span.text #[b Сложность:] #[span.clr-yellow средний]
					i.info


	section.master-info
		.inner
			.master-info__wrap
				.master-info__price
					.master-info__price-head Свободных мест: 5 из 10
					.master-info__price-value 3 490 руб.
					.master-info__price-add: .btn В корзину
					.master-info__price-text Курс будет доступен для просмотра сразу же после оплаты

				.master-info__card
					.master-info__title Похожий курс
					.card_courses
						.card__list
							+cardItem('course', 2)

	section.page-nav
		.inner
			.pagenav
				.pagenav__list
					.pagenav__handle
					.pagenav__item.is-active(data-part='pagenav#masterCoach')
						a(href='#masterCoach').pagenav__link Мастер-класс ведут
					.pagenav__item(data-part='pagenav#masterCooking')
						a(href='#masterCooking').pagenav__link Описание
					.pagenav__item(data-part='pagenav#masterFeedback')
						a(href='#masterFeedback').pagenav__link Отзывы



	section.master-coach
		.anchor#masterCoach
		.inner
			.master-coach__title Мастер-класс ведут
			.master-coach__list
				.master-coach__item
					.master-coach__item-photo: img(src='img/coach/01.jpg')
					.master-coach__item-info
						.master-coach__item-title Алина Макарова
						.master-coach__item-text Шев-кондитер, преподователь. Основатель&nbsp;школы «PastrySchool»
				.master-coach__item
					.master-coach__item-photo: img(src='img/coach/02.jpg')
					.master-coach__item-info
						.master-coach__item-title Анастасия Лазарева
						.master-coach__item-text Шев-кондитер, преподователь.


	section.master-cooking
		.anchor#masterCooking
		.inner
			.master-cooking__title Описание
			.master-cooking__content
				p Курс «Зимняя выпечка» поможет приобрести знания о новых видах выпечки.

				.title.clr-yellow Программа:

				p Особенности приготовления дрожжевого теста для бриоши, все об ингредиентах: яйца, мука, дрожжи, масло. Химические процессы, ферментация, замес, формовка и тд. А так же три вида невероятных бриошей:

				ol
					li С сыром, маслинами и беконом
					li Бриошь с фруктовой начинкой
					li Бриошь с апельсином и корицей

				p Особенности приготовления дрожжевого теста для бриоши, все об ингредиентах: яйца, мука, дрожжи, масло. Химические процессы, ферментация, замес, формовка и тд. А так же три вида невероятных бриошей:

				ol
					li С сыром, маслинами и беконом
					li Бриошь с фруктовой начинкой
					li Бриошь с апельсином и корицей

				.advice
					.advice__author: img(src='img/ava-am.png', alt='')
					.advice__text Чтобы на кексе образовалась красивая трещинка примерно на 20 минуте достаньте его из духовки и сделайте продольный разрез ножом

				.subtitle Примечания:

				ul
					li В отдельной миске вилкой или венчиком быстро взбить яйца в однородную смесь. Добавлять соль при 	этом не нужно — соевый 	соус, в котором тушится мясо, и так достаточно солон.
					li В отдельной миске вилкой или венчиком быстро взбить яйца в однородную смесь. Добавлять соль при 	этом не нужно — соевый 	соус, в котором тушится мясо, и так достаточно солон.
					li В отдельной миске вилкой или венчиком быстро взбить яйца в однородную смесь. Добавлять соль при 	этом не нужно — соевый 	соус, в котором тушится мясо, и так достаточно солон.


	section.master-feedback
		.anchor#masterFeedback
		.inner
			.master-feedback__title Отзывы
			//-.master-feedback__add
				.btn Написать отзыв

			.master-feedback__list
				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

				.master-feedback__item
					.master-feedback__quote Купила этот видео урок. Ну что сказать - огромное спасибо! Каждый шаг расписан идеально понятно и без личних слов. Прописаны нюансы без которых точно бы ни чего не получилось. Я в восторге от такого подхода к продаваемому продукту. Желаю вашей команде успехов и делать своё дело так же пр фессионально.
					.master-feedback__ava
					.master-feedback__author #[b Анастасия М.,] Москва название длинного города

			.master-feedback__more
				.btn Показать еще 10

block scripts