extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.course-welcome
		.inner
			.course-welcome__title Мастер-классы от&nbsp;лучших<br>кондитеров школы
			.course-welcome__text Живые мастер классы по кондитерскому делу:
	section.page-nav
		.inner
			.pagenav
				.pagenav__filter
				.pagenav__list
					.pagenav__handle
					.pagenav__item.is-active(data-part='pagenav#masterClasses')
						a(href='#masterClasses').pagenav__link Мастер-классы
					.pagenav__item(data-part='pagenav#masterAbout')
						a(href='#masterAbout').pagenav__link О школе
					.pagenav__item(data-part='pagenav#masterPhoto')
						a(href='#masterPhoto').pagenav__link Фотогалерея

	section.master-list
		.anchor#masterClasses
		.inner

			.master-list__title Мастер-классы
			.clearfix
				.master-list__filter
					form.filter.js-form(method='post', action='/data/test.json', data-form-name='courseFilter').is-disabled
						.filter__inner
							.filter__close
							.filter__title Фильтр

							.filter__list.filter__list_calendar.is-open
								.filter__list-title Месяц
								.filter__list-wrap
									.filter__calendar
										.filter__calendar-select
											.filter__calendar-select-name Февраль
											.filter__calendar-select-list
												.close
												.filter__calendar-select-item.is-active Февраль
												.filter__calendar-select-item Март
												.filter__calendar-select-item Апрель
												.filter__calendar-select-item Май
												.filter__calendar-select-item Июнь

										.filter__calendar-week
											.filter__calendar-week-item ПН
											.filter__calendar-week-item ВТ
											.filter__calendar-week-item СР
											.filter__calendar-week-item ЧТ
											.filter__calendar-week-item ПТ
											.filter__calendar-week-item СБ
											.filter__calendar-week-item ВС

										.filter__calendar-days
											.filter__calendar-days-item.last 30
											.filter__calendar-days-item.last 31
											.filter__calendar-days-item.last 1
											.filter__calendar-days-item.last 2
											.filter__calendar-days-item.last 3
											.filter__calendar-days-item.last 4
											.filter__calendar-days-item.last 5
											.filter__calendar-days-item.last 6
											.filter__calendar-days-item.last 7
											.filter__calendar-days-item.last 8
											.filter__calendar-days-item.last 9
											.filter__calendar-days-item.last 10
											.filter__calendar-days-item.last 11
											.filter__calendar-days-item.last 12
											.filter__calendar-days-item.last 13
											.filter__calendar-days-item.last 14
											.filter__calendar-days-item.last 15
											.filter__calendar-days-item.last 16
											.filter__calendar-days-item.today 17
											.filter__calendar-days-item 18
											.filter__calendar-days-item 19
											.filter__calendar-days-item 20
											.filter__calendar-days-item 21
											.filter__calendar-days-item 22
											.filter__calendar-days-item 23
											.filter__calendar-days-item.course.active 24
											.filter__calendar-days-item 25
											.filter__calendar-days-item 26
											.filter__calendar-days-item 27
											.filter__calendar-days-item.course 28
											.filter__calendar-days-item.ahead.active 1
											.filter__calendar-days-item.ahead 2
											.filter__calendar-days-item.ahead 3
											.filter__calendar-days-item.ahead 4
											.filter__calendar-days-item.ahead 5

							.filter__list.is-open
								.filter__list-title Город
								.filter__list-wrap
									label.filter__item
										input(type='radio', name='city', checked='checked', disabled='disabled')
										.filter__item-label Москва
									label.filter__item
										input(type='radio', name='city', disabled='disabled')
										.filter__item-label Санкт-Петербург
									label.filter__item
										input(type='radio', name='city', disabled='disabled')
										.filter__item-label Краснодар #[span.clr-yellow (скоро)]

							.filter__list.is-open
								.filter__list-title Уровень подготовки
								.filter__list-wrap
									label.filter__item
										input(type='checkbox', name='difficultEasy', disabled='disabled')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-easy.svg')]] начинающие
									label.filter__item
										input(type='checkbox', name='difficultMiddle', disabled='disabled')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-middle.svg')]] любители
									label.filter__item
										input(type='checkbox', name='difficultHard', disabled='disabled')
										.filter__item-label #[i.ico #[img(src='img/ico/ico-card-difficult-hard.svg')]] профи

							.filter__list.is-open
								.filter__list-title Кондитер
								.filter__list-wrap
									label.filter__item
										input(type='checkbox', name='residentAM', disabled='disabled')
										.filter__item-label Алина Макарова
									label.filter__item
										input(type='checkbox', name='residentAL', disabled='disabled')
										.filter__item-label Анастасия Лазарева

							.filter__list.is-open
								.filter__list-title Тип курса
								.filter__list-wrap
									label.filter__item
										input(type='checkbox', name='conditer', disabled='disabled')
										.filter__item-label Кондитерские
									label.filter__item
										input(type='checkbox', name='business', disabled='disabled')
										.filter__item-label Бизнес

							.filter__list.is-open
								.filter__list-title Стоимость
								.filter__list-wrap
									.filter__range

										.filter__range-item(data-val-min='0', data-val-start='300', data-val-end='5000', data-val-max='6000')
										.filter__range-input
											input.i-from(type='text', name='priceFrom', value='')
											input.i-to(type='text',  name='priceTo', value='')
										//-.filter__range-value 0 - 6000 #[i.rub]

							.filter__control
								.filter__control-clear #[i.ico ] #[span Сбросить]
								.filter__control-confirm Показать


				.master-list__cards.card.card_courses
					.card__list
						+cardItem('course', 2)
						+cardItem('course')
						+cardItem('course')
						+cardItem('course')
						+cardItem('course')
						+cardItem('course')
						+cardItem('advice')
						+cardItem('course')
						+cardItem('course')
					.card__more
						.card__more-btn Показать еще курсы

	section.master-about
		.anchor#masterAbout
		.inner
			.master-about__title О школе
			.master-about__text
				p #[b Алина Макарова] — основатель Школы кондитерского искусства в Москве. Более 1000 очных учеников и 3000 онлайн. Наши ученики из США, Германии, Канады, Украины, Австралии, Мексики, Казахстана и, разумеется, России.
				p Помогаем всем, кто хочет стать кондитером, осуществить мечту.
				p На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.
			.master-about__announce По результатам курса можно получить #[span электронный сертификат]
			.master-about__bg
				.sertificate
				.vase
				.phone

	section.master-photo.master-photo_big
		.anchor#masterPhoto
		.inner
			.master-photo__title Фотогалерея

			.master-photo__veiw
				.master-photo__carousel
					.master-photo__carousel-list
						- for (var i=1; i<=17; i++)
							.master-photo__carousel-item.object-fit-cover: img(src='img/temp/slide#{i}.jpg', alt='')
					.master-photo__carousel-counter
				.master-photo__slider
					.master-photo__slider-list

						.master-photo__slider-double
							.master-photo__slider-item(data-num='1').object-fit-cover: img(src='img/temp/slide1.jpg', alt='')
							.master-photo__slider-item(data-num='2').object-fit-cover: img(src='img/temp/slide2.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='3').object-fit-cover: img(src='img/temp/slide3.jpg', alt='')
							.master-photo__slider-item(data-num='4').is-hidden.object-fit-cover: img(src='img/temp/slide4.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='5').is-hidden.object-fit-cover: img(src='img/temp/slide5.jpg', alt='')
							.master-photo__slider-item(data-num='6').is-hidden.object-fit-cover: img(src='img/temp/slide6.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='7').is-hidden.object-fit-cover: img(src='img/temp/slide7.jpg', alt='')
							.master-photo__slider-item(data-num='8').is-hidden.object-fit-cover: img(src='img/temp/slide8.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='9').is-hidden.object-fit-cover: img(src='img/temp/slide9.jpg', alt='')
							.master-photo__slider-item(data-num='10').is-hidden.object-fit-cover: img(src='img/temp/slide10.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='11').is-hidden.object-fit-cover: img(src='img/temp/slide11.jpg', alt='')
							.master-photo__slider-item(data-num='12').is-hidden.object-fit-cover: img(src='img/temp/slide12.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='13').is-hidden.object-fit-cover: img(src='img/temp/slide13.jpg', alt='')
							.master-photo__slider-item(data-num='14').is-hidden.object-fit-cover: img(src='img/temp/slide14.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='15').is-hidden.object-fit-cover: img(src='img/temp/slide15.jpg', alt='')
							.master-photo__slider-item(data-num='16').is-hidden.object-fit-cover: img(src='img/temp/slide16.jpg', alt='')
						.master-photo__slider-double
							.master-photo__slider-item(data-num='17').is-hidden.object-fit-cover: img(src='img/temp/slide17.jpg', alt='')

						//-- for (var i=1; i<=3; i++)
							.master-photo__slider-item.object-fit-cover: img(src='img/temp/slide#{i}.jpg', alt='')
						//-- for (var i=4; i<=17; i++)
							.master-photo__slider-item.object-fit-cover.is-hidden: img(src='img/temp/slide#{i}.jpg', alt='')
					.master-photo__slider-more: .btn Показать еще #[span.js-num 6]

