extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.auth
		.inner
			.auth__title Восстановление пароля
			.auth__content
				.auth__content-inner
					form.form.js-form(method='post', action='/data/test.json')
						.form__title Придумайте новый пароль

						.form__field
							input(type='password', name='recoveryPasswordD', data-required='true', placeholder='Введите пароль')
						.form__field
							input(type='password', name='newRecoveryPasswordD', data-required='name=recoveryPasswordD', placeholder='Введите пароль')
							.form__field-message
						.form__field.form__field_submit
							input(type='submit', value='Сохранить')



