extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	- var page = 'master'

block head

block content
	section.auth
		.inner
			.auth__title Регистрация
			.auth__content.auth__content_2
				.auth__content-inner
					form.form.js-form(method='post', action='/data/test.json')
						.form__title Регистрация через e-mail

						.form__field
							input(type='text', name='regEmail', data-required='email', placeholder='Введите ваш e-mail')
							.form__field-message
						.form__field
							input(type='password', name='regPassword', data-required='true', placeholder='Введите пароль')
							.form__field-message
						.form__field
							input(type='checkbox', checked='checked', name='regSubscribe', id='regSubscribeD')
							label(for='regSubscribeD') Хочу получать новости и информацию о новых курсах на почту
						.form__field.form__field_submit
							input(type='submit', value='Регистрация')
							.submit-link: span.rules Продолжая регистрацию, вы принимаете #[br] #[a(href='#') Пользовательское соглашение]

					.soc
						.soc__title Регистaрация через соц.сеть
						.soc__list
							a.soc__item.soc__item_vk(href='#')
							a.soc__item.soc__item_fb(href='#')

				.auth__content-inner
					.form.form_aside
						.form__title Уже есть аккаунт?
						a(href='#').btn Войти


