footer.footer
	.footer-contacts
		.footer-contacts__logo: img(src='img/logo-white.svg', alt='')
		.footer-contacts__list
			.footer-contacts__item
				include ../../img/ico/ico-location.svg
				| г.Москва
			.footer-contacts__item
				include ../../img/ico/ico-mail.svg
				| cake_onlyforyou@bk.ru
			.footer-contacts__item
				include ../../img/ico/ico-phone.svg
				| +7 (962) 966 82 52

	.footer-copy
		.footer-copy__text © Alina Makarova Pastry Lab 2016
			i 16+
		.footer-copy__text Все права защищены. Использование материалов с сайта alinamakarova.ru  допускается с обязательным уведомлением автора.
		.footer-copy__text: a.btn(href='#') Наши&nbsp;правила
	.footer-info
		.footer-info__follow
			.footer-info__title Мы в соцсетях
			.follow-list
				a.follow-item(href='#'): include ../../img/ico/ico-share-ig.svg
				a.follow-item(href='#'): include ../../img/ico/ico-share-vk.svg
				a.follow-item(href='#'): include ../../img/ico/ico-share-more.svg
		.footer-info__payment
			.footer-info__title Мы принимаем к оплате
			.payment-list
				.payment-item: img(src='img/payment/payment-qiwi.png' alt=)
				.payment-item: img(src='img/payment/payment-mastercard.png' alt=)
				.payment-item: img(src='img/payment/payment-yandex.png' alt=)
				.payment-item: img(src='img/payment/payment-visa.png' alt=)
				.payment-item: img(src='img/payment/payment-sberbank.png' alt=)
				.payment-item: img(src='img/payment/payment-qiwi.png' alt=)
				.payment-item: img(src='img/payment/payment-mastercard.png' alt=)
		.footer-info__copy
			.footer-info__title ИП Макарова Алина Витальевна
			.footer-info__text ИНН 352304406398<br>ОГРН 316352500059116