header.header
	.inner
		a.header-logo(href='#')
		.header-handler: i
		.header-menu
			.header-nav
				.header-menu__item: a.header-menu__link(href='#') Электронные курсы
				.header-menu__item: a.header-menu__link(href='#') Мастер классы
				.header-menu__item: a.header-menu__link(href='#') О нас
				.header-menu__item: a.header-menu__link(href='#') Отзывы
				.header-menu__item: a.header-menu__link(href='#') Партнеры
				.header-menu__item: a.header-menu__link(href='#') Контакты
				.header-menu__item: a.header-menu__link(href='#') Попробуй бесплатно
			.header-user
				.header-menu__item: a.header-menu__link.header-menu__link_login(href='#') Войти
				.header-menu__item: a.header-menu__link.header-menu__link_share(href='#') Поделиться


