//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');

//font-family: 'Roboto', sans-serif;
//font-family: 'Roboto script=all rev=3', sans-serif;


@font-face {
	font-family: 'roboto';
	src: local('roboto Light'), local('roboto-Light'), url('/fonts/robotolight.woff2') format('woff2'), url('/fonts/robotolight.woff') format('woff'), url('/fonts/robotolight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto'), local('roboto-Regular'), url('/fonts/roboto.woff2') format('woff2'), url('/fonts/roboto.woff') format('woff'), url('/fonts/roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto Medium'), local('roboto-Medium'), url('/fonts/robotomedium.woff2') format('woff2'), url('/fonts/robotomedium.woff') format('woff'), url('/fonts/robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: local('roboto Bold'), local('roboto-Bold'), url('/fonts/robotobold.woff2') format('woff2'), url('/fonts/robotobold.woff') format('woff'), url('/fonts/robotobold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

