

.footer{
	background: $colorDark;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;


	font-size: 25px;

	@include breakpoint($bp1){
		font-size: 16px;

		.lk &{
			margin-left: 200px;
		}
	}

	&-contacts{
		text-align: center;
		border-bottom: 1px solid #2c2c2c;
		padding: 90px 0 0px;
		color: #fff;
		//height: 220px;

		@include breakpoint($bp1){
			padding-bottom: 60px;
		}

		&__logo{
			width: 395px;
			margin: 0 auto;

			@include breakpoint($bp1){
				width: 245px;
			}

			img{
				width: 100%;
			}
		}
		&__list{
			text-align: center;
			margin-top: 50px;
		}
		&__item{
			display: block;
			margin: 0 50px;
			white-space: nowrap;
			cursor: default;
			font-weight: 100;
			margin-bottom: 30px;
			color: #ddd;

			@include breakpoint($bp1){
				display: inline-block;
			}

			svg, img{
				display: inline-block;
				vertical-align: middle;
				margin-right: 12px;

				width: 40px;
				height: 33px;

				@include breakpoint($bp1){
					width: 26px;
					height: 23px;
				}

				path{
					fill: #858585;
				}
			}

			&:hover{
				svg{
					path{
						fill:$colorYellow;
					}
				}
			}

		}


	}

	&-copy{

		text-align: center;
		color: #999;
		@include clearfix();
		padding: 18px 30px;
		margin: 0 auto;
		border-bottom: 1px solid #2c2c2c;

		@include breakpoint($bp1){
			font-size: 12px;
		}

		&__text{
			margin: 20px auto;
			width: 580px;

			@include breakpoint($bp1){
				width: auto;
				display: inline-block;
				margin: 0;
			}

			a{
				color: $colorYellow;
			}

			i{
				display: inline-block;
				font: inherit;
				border: 1px solid #888;
				padding: 5px 30px;
				margin: 0 0 0 30px;
				@include border-radius(100px);

				@include breakpoint($bp1){
					padding: 3px 13px;
					margin: 0 20px;
				}
			}

			.btn{
				height: 76px;
				font-size: 33px;
				line-height: 76px;
				display: block;
				margin-top: 30px;
				color: #fff;

				@include breakpoint($bp1){
					display: inline-block;
					padding: 0;
					border: 0;
					line-height: inherit;
					font: inherit;
					text-decoration: underline;
					height: auto;
					margin: 0;
					background: none;
					vertical-align: baseline;
				}
			}
		}
	}

	&-info{
		text-align: center;
		color: #888;
		@include clearfix();
		margin: 0 auto;
		line-height: 1.35;
		max-width: 1140px;

		@include breakpoint($bp1){
			font-size: 14px;
		}

		&__title{
			margin-bottom: 20px;
		}

		&__payment{
			display: block;
			vertical-align: top;
			@include box-sizing();
			//height: 160px;
			padding: 35px 80px;

			border-bottom: 1px solid #2c2c2c;
			border-left: 0;
			padding-left: 50px;
			padding-right: 50px;


			@include breakpoint($bp1){
				border-left: 1px solid #2c2c2c;
				border-right: 1px solid #2c2c2c;
				float: right;
				width: 578px;
				@include box-sizing();
				border-bottom: 0;
			}

		}
		&__follow{
			display: block;
			vertical-align: top;
			padding: 35px 25px;

			border-bottom: 1px solid #2c2c2c;


			@include breakpoint($bp1){
				float: right;
				width: 280px;
				@include box-sizing();
				border-bottom: 0;
			}
		}
		&__copy{
			display: block;
			vertical-align: top;
			padding: 35px 30px;
			text-align: center;

			@include breakpoint($bp1){
				width: 280px;
				@include box-sizing();
				border-bottom: 0;
				text-align: left;
			}

			.footer-info__title{
				i{
					display: inline-block;
					font: inherit;
					border: 1px solid #888;
					padding: 3px 12px;
					margin: 0 30px;
					@include border-radius(100px);
				}
			}

			.footer-info__title,
			.footer-info__text{

				margin-right:auto;
				margin-left:auto;
			}
		}

		.payment-list{
			.payment-item{
				display: inline-block;
				margin: 0 3px 6px;

				img{
					width: 70px;
					@include border-radius(2px);

					@include breakpoint($bp1){
						width: 45px;
					}
				}
			}
		}

		.follow-list{

		}
		.follow-item{
			display: inline-block;
			height: 80px;
			width: 80px;
			margin: 0 10px;
			background: #fff;
			border-radius: 50%;


			path{
				fill: $colorYellow;
			}

			&:hover{
				background-color:  $colorYellow;
				path{
					fill: #fff;
				}
			}

			@include breakpoint($bp1){
				width: 42px;
				height: 42px;
			}

			svg,
			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}