

.form{
	font-size: 0;

	&__field{
		margin-bottom: 40px;
		color: $colorDark;
		@include box-sizing();
		font-weight: 400;


		&-message{
			font-size: 30px;
			padding: 0 40px;

			@include breakpoint($bp1){
				padding: 0 30px;
			}
		}

		@include breakpoint($bp1){
			margin-bottom: 20px;
		}

		&_submit{
			margin-bottom: 0;
		}

		& > * {
		}


		textarea,
		input[type='text'],
		input[type='submit'],
		input[type='button'],
		input[type='password']{
			font: inherit;
			font-size: 36px;
			display: block;
			width: 100%;
			@include box-sizing();
			height: 84px;
			line-height: 80px;
			padding: 0 40px;
			border: 2px solid transparent;
			border-radius: 100px;

			@include breakpoint($bp1){
				height: 42px;
				font-size: 14px;
				line-height: 40px;
				padding: 0 30px;
				border-width: 1px;
			}

			&:focus{

			}
		}


		input[type='checkbox']{

			position: absolute;
			opacity: 0;

			& ~ label{
				padding-left: 70px;
				display: block;
				position: relative;
				font-size: 36px;
				color: $colorGrey;
				cursor: pointer;

				@include breakpoint($bp1){
					font-size: 14px;
					padding-left: 35px;
				}

				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 40px;
					height: 40px;
					background: #fff;
					@include box-shadow();
					border: 1px solid rgba($colorGreyLight, 0.7);
					border-radius: 3px;
					top:0;
					left: 0;

					@include breakpoint($bp1){
						width: 20px;
						height: 20px;
						top: -3px;
					}
				}
			}
			
			&:checked{
				& ~ label{

					&:after{
						background: $colorYellow url("../img/ico/ico-list-check_white.svg") no-repeat 50% 50%;
						background-size: 140%;
						border-color: transparent;
					}

					&:hover{
						&:after{
							background: $colorRed url("../img/ico/ico-list-uncheck_white.svg") no-repeat 50% 50%;
							background-size: 100%;
						}
					}
				}
			}
		}

		textarea{
			line-height: 1.2;
			padding-bottom: 10px;
			padding-top: 10px;
			resize: none;
			height: 100px;
		}

		input[type='submit'],
		input[type='button']{
			border-color: transparent;
			background: $colorYellow;
			cursor: pointer;
			//font-weight: 600;
			color: #fff;

			@include breakpoint($bp1){
				font-size: 18px;
			}
		}

		&-message{
			font-size: 12px;
			margin-top: 3px;
		}


		.footnote{
			color: $colorGrey;
			font-size: 22px;
			line-height: 1.5;

			@include breakpoint($bp1){
				font-size: 12px;
			}
		}

		&-name{

		}

		&.error{
			color: $colorRed;

			input[type='text'],
			input[type='password']{
				border-color: $colorRed;
			}
		}
	}

	input[hidden]{
		display: none;
	}
	input[disabled]{
		background: inherit;
	}

	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		display: none;
		-webkit-appearance: none;
	}
}

