.header{
	height: 130px;
	background: $colorDark;

	&__menu{
		display: block;
		width: 84px;
		height: 84px;
		float: left;
		position: relative;
		margin-top: 22px;
		margin-left: -15px;
		cursor: pointer;

		@include breakpoint($bp1){
			display: none;
		}

		i{
			width: 60px;
			display: block;
			height: 8px;
			position: absolute;
			top:50%;
			left: 50%;
			margin-left: -30px;
			margin-top: -4px;
			background: $colorYellow;
			border-radius: 100px;

			&:before,
			&:after{
				content: '';
				width: 60px;
				display: block;
				height: 8px;
				position: absolute;
				left: 50%;
				margin-left: -30px;
				margin-top: -4px;
				background: $colorYellow;
				border-radius: 100px;
			}

			&:before{
				top:-15px;
			}

			&:after{
				top:23px;
			}
		}

	}

	&__logo{
		width: 246px;
		height: 80px;
		display: block;
		margin-left: 25px;
		margin-top: 24px;
		float: left;

		.lk &{

			margin-left: 100px;
		}

		@include breakpoint($bp1){
			margin-left: 0;
		}

		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}


	&__control{
		float: right;
		margin-top: 23px;
		color: #fff;

		@include breakpoint($bp1){
			margin-top: 42px;
		}

		.lk &{
			display: none;

			@include breakpoint($bp1){
				display: block;
			}
		}

		&-cart{
			display: inline-block;
			vertical-align: middle;
			float: left;

			.header__control-btn{
				display: block;
				border-radius: 100px;
				width: 84px;
				height: 84px;
				background: $colorYellow url("../img/ico/ico-cart-black.svg") no-repeat 50% 50%;
				background-size: 100%;

				@include breakpoint($bp1){
					width: 42px;
					height: 42px;
					background-color: #fff;
					position: relative;
					float: left;
				}

				span{
					display: none;

					@include breakpoint($bp1){
						display: block;
						background-color: $colorYellow;
						font-size: 12px;
						height: 24px;
						line-height: 24px;
						min-width: 24px;
						@include box-sizing();
						border-radius: 100px;
						text-align: center;
						position: absolute;
						top: -5px;
						right: -9px;
						color: $colorDark;
					}
				}
			}

			.header__control-title {
				display: none;

				@include breakpoint($bp1){
					display: block;
					font-size: 15px;
					margin-left: 60px;
					margin-top: 5px;
				}
			}

			.header__control-note{
				display: none;
				@include breakpoint($bp1){
					display: block;
					font-size: 14px;
					color: $colorGrey;
					margin-left: 60px;
				}
			}
		}

		&-user{
			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;
			cursor: pointer;
			position: relative;
			float: right;

			.header__control-ava{
				display: block;
				border-radius: 100px;
				width: 84px;
				height: 84px;
				background-size: 100%;

				img{
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}


				@include breakpoint($bp1){
					width: 42px;
					height: 42px;
					background-color: #fff;
					position: relative;
					float: left;
				}
			}

			.header__control-title {
				display: none;

				@include breakpoint($bp1){
					display: block;
					font-size: 15px;
					margin-left: 60px;
					margin-top: 5px;
					white-space: nowrap;
					overflow: hidden;
					max-width: 130px;
					text-overflow: ellipsis;
				}
			}

			.header__control-note{
				display: none;
				@include breakpoint($bp1){
					display: block;
					font-size: 14px;
					color: $colorGrey;
					margin-left: 60px;
					white-space: nowrap;
					overflow: hidden;
					max-width: 130px;
					text-overflow: ellipsis;
				}
			}

			.header__control-btn{
				display: block;
				background: $colorYellow;
				border-radius: 100px;
				width: 84px;
				height: 84px;
				background:$colorYellow url("../img/ico/ico-user-black.svg") no-repeat 50% 50%;
				background-size: 100%;

				@include breakpoint($bp1){
					width: auto;
					height: 42px;
					line-height: 42px;
					background: $colorYellow;
					padding: 0 20px;
				}

				span{
					display: none;

					@include breakpoint($bp1){
						display: block;
					}
				}
			}


			.header__control-dropdown{
				position: absolute;
				top:100px;
				width: 450px;
				background: #fff;
				z-index: 10;
				color: $colorGrey;
				right: 0;
				font-size: 36px;
				padding: 20px 0;
				display: none;
				@include box-shadow();

				@include breakpoint($bp1){
					width: 200px;
					font-size: 14px;
					padding: 10px 0;
					top:60px;
					right: auto;
					left: 0;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					border: 10px solid transparent;
					border-bottom-color: #fff;
					right: 35px;
					top:-20px;

					@include breakpoint($bp1){
						right: auto;
						left: 12px;
					}
				}

				hr{
					background: $colorGreyLight;
					height: 1px;
					width: 100%;
					border: none;
					@include box-shadow(none);
					margin: 20px 0;

					@include breakpoint($bp1){
						margin: 10px 0;
					}
				}

				li{
					a{
						display: block;
						padding: 15px 40px;

						&:hover{
							color: $colorYellow;
						}

						@include breakpoint($bp1){
							padding: 8px 20px;
						}
					}
					&.is-active{
						a{
							color: $colorYellow;
						}
					}
				}
			}

			&.is-open{
				.header__control-dropdown{
					display: block;
				}
			}

		}
	}

	&__lkmenu{
		display: none;
	}



	.lk &{
		@include breakpoint($bp1){
			width: 200px;
			position: fixed;
			top:0;
			left: 0;
			bottom: 0;
			z-index: 10;
			height: auto;
			overflow: auto;

			.inner{
				width: auto;
				padding-bottom: 150px;
				min-height: 100%;
				position: relative;
				@include box-sizing();
			}

			&__logo{
				margin-left: 35px;
				margin-top: 8px;
				width: 130px;
				height: 40px;
				margin-bottom: 10px;
				float: none;
			}

			&__control{
				margin: 0;
				float: none;

				&-cart,
				&-user{
					float: none;
					margin: 0;
					padding: 20px;
					display: block;
					min-height: 42px;

					&.is-active{
						background: $colorYellow;

						.header__control-title,
						.header__control-note{
							color: #000;
						}
					}

					.header__control-dropdown{
						left: 200px;
						top:0;

						&:before{
							border-color: transparent;
							border-right-color: #fff;
							top:30px;
							left: -20px;
						}
					}
				}
			}


			&__lkmenu{

				display: block;

				&-list{

				}

				&-item{

					font-size: 14px;
					color: #fff;
					display: block;
					padding: 20px;
					border-top: 1px solid #1f1f1f;
					border-bottom: 1px solid #1f1f1f;
					margin-top: -1px;

					&:hover,
					&.is-active{
						color: $colorYellow;
					}
				}

				&-back{
					padding: 20px;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;


					&-btn{
						display: block;
						text-align: center;
						font-size: 14px;
						padding: 0;
						margin: 10px 0;

					}
				}
			}
		}
	}
}