.lk{

	.btn{
		line-height: 84px;
		margin-bottom: 15px;
		min-width: 84px;

		@include breakpoint($bp1){
			height: 42px;
			line-height: 42px;
			//padding: 0 30px;
			font-size: 15px;
			min-width: 42px;
		}
	}

	.wrapper{
		padding-bottom: 50px;
	}
}

.sort{

	&__list{
		position: relative;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			margin-bottom: 20px;
		}
	}

	&__field{
		margin-bottom: 20px;

		@include breakpoint($bp1){
			margin-bottom: 15px;
		}



		&_left{

			@include breakpoint($bp1){
				float: left;
			}
		}

		&_right{

			@include breakpoint($bp1){
				float: right;
			}
		}
	}

	&__select{
		font-size: 30px;
		color: $colorGrey;

		@include breakpoint($bp1){
			font-size: 18px;
			position: relative;
		}

		&-val{
			line-height: 84px;
			height: 84px;
			background: #fff;
			padding: 0 70px 0 35px;
			border-radius: 100px;
			position: relative;
			z-index: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include box-shadow();
			@include box-sizing();
			cursor: pointer;

			@include breakpoint($bp1){
				line-height: 42px;
				height: 42px;
				padding: 0 40px 0 20px;
			}

			.is-open &{
				z-index: 3;
			}

			&:before,
			&:after{
				right: 30px;
				top:50%;

				@include breakpoint($bp1){
					right: 20px;
				}
			}

			@extend %arrow;
			@extend %arrowDown;

			&:hover{
				border-color: $colorYellow;
				@extend %arrowActive;
			}

			.is-open &{
				@extend %arrowUp;
			}
		}
		&-list{
			position: absolute;
			padding: 85px 35px 20px;
			background: #fff;
			border-radius: 0;
			left: 0;
			@include box-sizing();
			margin-top: -84px;
			width: 100%;
			@include box-shadow();
			display: none;


			@include breakpoint($bp1){
				margin-top: -42px;
				padding: 42px 20px 10px;
			}


			.is-open &{
				display: block;
				z-index: 2;
			}
		}
		&-item{
			margin: 15px 0;
			cursor: pointer;
			display: block;
			@include user-select();


			@include breakpoint($bp1){
				margin: 10px 0;
			}

			input{
				position: absolute;
				opacity: 0;
				width: 1px;
				height: 1px;

				&:checked ~ {
					span{
						color: $colorYellow;
						pointer-events: none;
					}
				}
			}

			&:hover{
				color: $colorDark;
			}

			&.is-active{
				color: $colorYellow;
			}
		}
	}

	&__search{
		position: relative;
		font-size: 30px;
		color: $colorGrey;
		height: 84px;
		border-radius: 100px;
		@include box-shadow();
		max-width: 650px;


		@include breakpoint($bp1){
			height: 42px;
			font-size: 18px;

			&_w{
				width: 650px;
			}
		}

		&-input{

			input{
				width: 100%;
				@include box-sizing();
				padding: 0 95px 0 35px;
				height: 84px;
				line-height: 84px;
				font: inherit;
				display: block;
				background: #fff;
				border-radius: 100px;

				@include breakpoint($bp1){
					height: 42px;
					line-height: 42px;
					padding: 0 50px 0 20px;
				}
			}

		}

		&-find{
			height: 84px;
			width: 84px;
			position: absolute;
			top: 0;
			right: 0;

			@include breakpoint($bp1){
				height: 42px;
				width: 42px;
			}

			input{
				width: 84px;
				@include box-sizing();
				cursor: pointer;
				padding: 0;
				margin: 0;
				height: 84px;
				line-height: 84px;
				font: inherit;
				display: block;
				border-radius: 100px;
				color: transparent;
				background: #fff url("../img/ico/ico-search.svg") no-repeat 0 50%;
				background-size: auto 100%;

				&:hover{
					background-position: 100% 50%;
				}

				@include breakpoint($bp1){
					height: 42px;
					width: 42px;
					line-height: 42px;
				}
			}
		}
	}

	&__btn{
		line-height: 44px;
		padding: 20px;
		font-size: 36px;
		font-weight: 500;
		color: #fff;
		background: $colorYellow;
		display: block;
		text-align: center;
		border-radius: 100px;
		cursor: pointer;
		@include box-shadow();

		@include breakpoint($bp1){
			line-height: 42px;
			height: 42px;
			padding: 0 20px;
			font-size: 15px;
			font-weight: 400;
			@include box-shadow(none);
		}

		@include breakpoint($bp2){
			padding: 0 60px;
			@include box-shadow(none);
		}

		&:hover{
			background: $colorYellowHover;
		}
	}
}


.chat{
	&__list{
		//overflow: hidden;

		@include breakpoint($bp1){
			padding: 0 30px 0 60px;
		}
	}

	&__item{

		margin: 30px 0;
		min-height: 84px;


		@include breakpoint($bp1){
			margin: 20px 0;
			min-height: 42px;
		}

		&_l{
			text-align: left;
			@include breakpoint($bp1){
				margin-right: 200px;
			}
		}

		&_r{
			text-align: right;
			@include breakpoint($bp1){
				margin-left: 200px;
			}
		}

		&-author{

			overflow: hidden;
			margin-bottom: 30px;
			z-index: 1;
			position: relative;

			@include breakpoint($bp1){
				font-size: 14px;
				width: 170px;

				.chat__item_l &{
					float: left;
				}

				.chat__item_r &{
					float: right;
				}
			}
		}

		&-avatar{
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: $colorYellow;
			position: relative;


			.chat__item_l &{
				float: left;
			}

			.chat__item_r &{
				float: right;
			}


			@include breakpoint($bp1){
				width: 42px;
				height: 42px;
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
			}


		}

		&-name{
			//display: none;
			font-weight: 600;
			color: $colorDark;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 33px;
			margin-left: 95px;

			@include breakpoint($bp1){
				margin-left: 50px;
				display: block;
				padding-top: 5px;
				font-size: 14px;
			}

			.chat__item_l &{
				margin-right: 0;
				margin-left: 95px;

				@include breakpoint($bp1){
					margin-left: 60px;
				}
			}

			.chat__item_r &{
				margin-left: 0;
				margin-right: 95px;

				@include breakpoint($bp1){
					margin-right: 60px;
				}
			}

		}

		&-data{
			//display: none;
			color: $colorGreyLight;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 25px;
			margin-left: 95px;

			@include breakpoint($bp1){
				margin-left: 50px;
				font-size: 14px;
				display: block;
			}

			.chat__item_l &{
				margin-right: 0;
				margin-left: 95px;

				@include breakpoint($bp1){
					margin-left: 60px;
				}
			}

			.chat__item_r &{
				margin-left: 0;
				margin-right: 95px;

				@include breakpoint($bp1){
					margin-right: 60px;
				}
			}

		}

		&-bubble{

			margin-bottom: 10px;
			position: relative;
			padding-left: 0;
			@include transition(padding-left 0.3s ease, margin-bottom 0.3s ease);

			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -22px;
				height: 40px;
				width: 40px;
				border: 2px solid rgba($colorGreyLight, 0.5);
				border-radius: 50%;
				display: none;
				background: url("../img/lk/checkbox.svg") no-repeat 0 0;
				background-size: auto 100%;
				z-index: 1;

				@include breakpoint($bp1){
					background-position: 0 -100px;
					display: block;
					top: 10px;
					height: 20px;
					width: 20px;
					margin-top: 0;
					left: -240px;
					opacity: 0.3;
				}
			}



			&:after{
				content: '';
				display: block;
				position: absolute;
				background: transparent;
				top: -15px;
				bottom: -15px;
				left: -25px;
				right: -25px;


				@include breakpoint($bp1) {
					top: -10px;
					bottom: -10px;
					left: -260px;
					right: -230px;
				}

			}

			.chat__item_l &{
				//margin-left: 95px;

				@include breakpoint($bp1){
					margin-right: 0;
					margin-left: 200px;
				}
			}

			.chat__item_r &{
				//margin-right: 95px;

				@include breakpoint($bp1){
					margin-left: 0;
					margin-right: 200px;
				}
			}

			&:nth-of-type(2){
				.chat__item-quote{
					&:before{
						content: '';
					}
				}
			}

			&:last-child{
				margin-bottom: 0;
			}


			&.is-hover{

				&.is-online{
					.chat__item-avatar:before{

					}
				}

				&:before{
					@include breakpoint($bp1){
						display: block;
						background-position: 0 0;
						opacity: 1;
					}
				}

			}

			&.is-controllable{
				@include breakpoint(0 $bp1 - 1px){
					margin-bottom: 120px;
				}
			}

			&.is-checked{

				&:before{
					display: block;
					border-color: $colorYellow;
					background-position: 100% 0;
					opacity: 1;
				}

				@include breakpoint(0 $bp1 - 1px){
					padding-left: 60px;
				}

				&.is-online{
					.chat__item-avatar:before{
						border-color: $chatHover;
					}
				}

				&:after{
					background: $chatHover;

					.chat__item_l &{

					}

					.chat__item_r &{

					}
				}

			}

		}

		&-quote{
			font-size: 22px;
			background: #fff;
			border-radius: 8px;
			padding: 15px 30px;
			@include box-shadow();
			display: inline-block;
			color: $colorGrey;
			max-width: 450px;
			position: relative;
			z-index: 1;

			@include breakpoint($bp1){
				font-size: 14px;
				padding: 10px 20px;
				min-height: 25px;
				max-width: 100%;

				&:before{
					display: block;
					position: absolute;
					width: 20px;
					height: 23px;
					background: url("../img/lk/quote-chat.svg") no-repeat 0 50%;
					top: 14px;

					.chat__item_l &{
						left: -20px;
					}

					.chat__item_r &{
						right: -20px;
						background-position: 100% 50%;
					}
				}
			}

			.date{
				font-size: 18px;
				color: $colorGreyLight;
				margin-bottom: 5px;

				@include breakpoint($bp1){
					font-size: 12px;
				}
			}

			.file{
				margin: 10px 0;
				white-space: nowrap;

				a{
					text-decoration: underline;

					&:hover{
						text-decoration: none;
					}
				}

				.ico{
					margin-right: 5px;
				}
			}

			.image{
				font-size: 0;
				margin: 10px -5px;
				//width: 360px;
				display: inline-block;
				//max-width: 370px;
				//max-width: 100%;

				@include breakpoint($bp1){
				}

				@include breakpoint($bp2){
					width: 480px;
				}


				&_fl{
					float: left;
					margin: 0 -5px -10px;
					width: auto;

					.chat__item_l &{
						margin-right: 10px;
					}

					.chat__item_r &{
						float: right;
						margin-left: 10px;
					}
				}

				.chat__item_l &{
					text-align: left;
				}

				.chat__item_r &{
					text-align: right;
				}

				&__item{
					display: inline-block;
					margin: 0 5px 10px;
					height: 180px;
					@include box-sizing();
					border: 1px solid rgba($colorGreyLight, 0.5);
					background: $colorGreyExLight no-repeat 50% 50%;
					background-size: cover;
					border-radius: 5px;

					@include breakpoint($bp1){
						height: 160px;
					}

					@include breakpoint($bp2){
						height: 200px;
					}

					&_11{
						width: 446px;

						@include breakpoint($bp1){
							width: 350px;
						}

						@include breakpoint($bp2){
							width: 470px;
						}
					}

					&_12{
						width: 218px;

						@include breakpoint($bp1){
							width: 170px;
						}

						@include breakpoint($bp2){
							width: 230px;
						}

					}

					&_13{
						width: 142px;

						@include breakpoint($bp1){
							width: 110px;
						}

						@include breakpoint($bp2){
							width: 150px;
						}

					}

					&_23{
						width: 294px;

						@include breakpoint($bp1){
							width: 230px;
						}

						@include breakpoint($bp2){
							width: 310px;
						}

					}

					&_min{
						width: 150px;
						height: 110px;
					}
				}
			}



			.is-unread &{
				background-color: #fff5ae;

				&:before{
					background-image: url("../img/lk/quote-chat_yellow.svg");
				}
			}
		}

		&.is-online{
			.chat__item-avatar:before{
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background: $colorYellow;
				border: 6px solid $colorBg;
				display: block;
				position: absolute;
				bottom: -5px;
				left: -4px;

				@include breakpoint($bp1){
					display: none;
				}
			}


			@include breakpoint($bp1){


				&.chat__item_l{
					.chat__item-name{
						&:after{
							content: '';
							display: inline-block;
							width: 9px;
							height: 9px;
							border-radius: 50%;
							background: $colorYellow;
							margin-left: 5px;
						}
					}

				}

				&.chat__item_r{
					.chat__item-name{

						&:before{
							content: '';
							display: inline-block;
							width: 9px;
							height: 9px;
							border-radius: 50%;
							background: $colorYellow;
							margin-right: 5px;
						}
					}

				}
			}
		}




		&-attachment{

			margin: 30px 0;
			z-index: 1;
			position: relative;

			@include breakpoint($bp1){
				margin: 20px 0;
			}

			.chat__item_l &{

				border-left: 5px solid $colorYellow;
				padding-left: 25px;

				@include breakpoint($bp1){
					border-left-width: 3px;
					padding-left: 15px;
				}
			}

			.chat__item_r &{
				border-right: 5px solid $colorYellow;
				padding-right: 25px;

				@include breakpoint($bp1){
					border-right-width: 3px;
					padding-right: 15px;
				}
			}

			.chat{
				&__item{
					margin: 0;
					max-width: 450px;
					display: inline-block;

					&-quote{
						&:before{
							display: none;
						}
					}

					&-name{
						&:before{
							display: none!important;
						}
					}
					&-bubble{
						margin-left: 0;
						margin-right: 0;
						&:before{
							display: none!important;
						}
					}

					&-avatar{
						&:before{
							display: none!important;
						}
					}
				}
			}
		}

	}

	&__send{

		background: #fff;
		position: relative;
		white-space: nowrap;
		font-size: 0;
		padding: 20px 0;

		& > *{
			white-space: normal;
			z-index: 2;
			position: relative;
		}

		&:before{
			content: '';
			position: absolute;
			top: 0;
			background: #fff;
			height: 100%;
			z-index: 1;
			left: -1000%;
			right: -1000%;
			@include box-shadow();

			@include breakpoint($bp1){
				right: 0;
			}
		}




		&-add{

			width: 80px;
			display: inline-block;
			vertical-align: top;
			@include box-sizing();
			text-align: center;

			@include breakpoint($bp1){
				width: 110px;
			}

			&-btn{
				background: no-repeat 0 50%;
				background-size: auto 100%;
				display: inline-block;
				vertical-align: top;
				margin-bottom: 10px;
				cursor: pointer;

				input{
					opacity: 0;
				}

				@include breakpoint($bp1){
					margin-right: 10px;
				}

				&_photo{
					width: 53px;
					height: 40px;
					background-image: url("../img/lk/add_photo.svg");

					@include breakpoint($bp1){
						width: 40px;
						height: 30px;
					}
				}
				&_file{
					width: 40px;
					height: 40px;
					background-image: url("../img/lk/add_file.svg");

					@include breakpoint($bp1){
						width: 30px;
						height: 30px;
					}

				}

				&:hover{
					background-position: 100% 50%;
				}
			}
		}

		&-field{
			width: 440px;
			display: inline-block;
			vertical-align: top;
			@include box-sizing();


			@include breakpoint($bp1){
				width: calc(100% - 350px);
			}

		}

		&-textarea{
			position: relative;

			textarea{
				font-size: 28px;
				@include box-sizing();
				width: 100%;
				color: $colorGrey;
				border: 1px solid rgba($colorGreyLight, 0.5);
				border-radius: 20px;
				padding: 20px;
				resize: none;
				overflow:hidden;
				height: 110px;
				min-height: 110px;

				@include breakpoint($bp1){
					font-size: 14px;
					border-radius: 10px;
					padding: 10px;
					height: 52px;
					min-height: 52px;
				}
			}
		}

		&-submit{

			width: 80px;
			display: inline-block;
			vertical-align: top;
			@include box-sizing();
			padding-left: 10px;

			@include breakpoint($bp1){
				width: 240px;
			}

			.btn{
				width: 215px;
				font-size: 18px;

				&:hover{
					background-color: $colorYellowHover;
				}

				@include breakpoint(0 $bp1 - 1px){
					width: 60px;
					height: 60px;
					padding: 0;
					background: $colorYellow url("../img/lk/arrow-next.svg") 100% 50% no-repeat;
					background-size: auto 100%;
					color: transparent;
				}
			}
		}
	}
}


.attachment{
	&__list{}

	&__remove{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;
		opacity: 0.7;
		cursor: pointer;
		z-index: 2;

		@include breakpoint($bp1){
			width: 20px;
			height: 20px;
		}

		&:before,
		&:after{
			content: '';
			width: 28px;
			height: 8px;
			background: $colorGreyLight;
			border-radius: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -4px;
			margin-left: -14px;

			@include breakpoint($bp1){
				width: 16px;
				height: 4px;
				margin-top: -2px;
				margin-left: -8px;
			}
		}
		&:before{
			@include transform(rotate(-45deg));
		}
		&:after{
			@include transform(rotate(45deg));
		}

		&:hover{
			opacity: 1;

			&:before,
			&:after{
				background: $colorYellow;
			}
		}
	}

	&__val{
		color: $colorGrey;
		font-size: 24px;
		line-height: 36px;
		position: relative;
		z-index: 1;

		@include breakpoint($bp1){
			font-size: 14px;
			line-height: 16px;
		}
	}

	&__item{
		position: relative;
		display: inline-block;
		vertical-align: top;
		@include box-sizing();
		max-width: 100%;
		margin: 15px 20px 15px 0;

		&_file{
			white-space: nowrap;
			padding-right: 40px;
			display: block;

			.attachment__remove{
				position: relative;
				top: auto;
				left: auto;
				display: inline-block;
				vertical-align: middle;
			}

			.attachment__val{
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}

			@include breakpoint($bp1){
				padding-right: 25px;
			}
		}

		&_image{
			margin-right: 10px;



			.attachment__remove{
				top: 24px;
				right: 26px;

				@include breakpoint($bp1){
					top: 2px;
					right: 2px;
				}
			}

			.image{
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 92px ;
				height: 88px;
				border: 1px solid rgba($colorGreyLight, 0.5);
				background: $colorGreyExLight no-repeat 50% 50%;
				background-size: cover;
				border-radius: 5px;
				@include box-shadow();
				cursor: pointer;
				z-index: 1;

				@include breakpoint($bp1){
					width: 66px ;
					height: 64px;
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					max-width: 100%;
					max-height: 100%;
					display: inline-block;
					vertical-align: middle;
				}


				&:after{
					content: '';
					position: absolute;
					width: 50px;
					height: 50px;
					background: url("../img/ico/ico-search.svg") no-repeat 0 50%;
					background-size: auto 100%;
					display: none;

					@include breakpoint($bp1){
						width: 30px;
						height: 30px;
						right: -4px;
						bottom: -3px;
						display: block;
					}
				}

				&:hover{
					&:after{
						background-position: 100% 50%;
					}
				}

				&:active{
					@include box-shadow(none);
				}
			}
		}

		&_message{
			z-index: 1;
			position: relative;
			padding-right: 30px;


			@include breakpoint($bp1){
				max-width: 370px;
			}

			border-left: 5px solid $colorYellow;
			padding-left: 25px;

			@include breakpoint($bp1){
				border-left-width: 3px;
				padding-left: 15px;
			}

			.chat{
				&__item{
					margin: 0;
					display: inline-block;

					&-quote{
						@include box-shadow(none);
						padding: 0;
						&:before{
							display: none;
						}
					}

					&-name{
						&:before{
							display: none!important;
						}
					}
					&-bubble{
						margin-left: 0;
						margin-right: 0;

						&:before{
							display: none!important;
						}
					}

					&-author{
						display: block!important;
					}

					&-avatar{
						float: left;
						&:before{
							display: none!important;
						}
					}
				}
			}
		}

		&_messages{
			color: $colorGrey;
			background: $colorGreyExLight;
			@include box-shadow();
			border-radius: 5px;
			margin-bottom: 10px;
			display: block;
			padding: 20px 60px 20px 20px;

			.attachment__remove{
				top: 18px;
				right: 18px;
			}


			@include breakpoint($bp1){
				display: inline-block;
				margin-right: 15px;
			}

		}

		&.is-loading{
			opacity: .5;
			cursor: default!important;

			.attachment__remove{
				display: none;
			}

		}

		&.is-progress{

			.attachment__progress{
				opacity: 1;
				margin-top: 10px;

				@include breakpoint($bp1){
					margin-top: 10px;
				}
			}
		}
	}

	&__progress{
		height: 10px;
		background: #fff;
		position: relative;
		opacity: 0;
		@include transition(all 0.3s ease);
		border: 1px solid rgba($colorGreyLight, 0.5);
		border-radius: 100px;
		max-width: 200px;
		margin-top: -10px;

		@include breakpoint($bp1){
			height: 8px;
			margin-top: -8px;
		}

		i{
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background: $colorYellow;
			border-radius: 100px;
		}
	}
}



.lk{
	&-sidebar{
		@include breakpoint($bp2){
			width: 272px;
			margin-left: -272px;
			float: right;
		}
	}


	&-aside{
		@include breakpoint($bp2){
			padding-right: 300px;
		}
	}

	&-wrap{
		.inner{
			position: relative;
		}

		&_subscribe{

			.course-free{
				margin-bottom: -50px;


				@include breakpoint($bp1){
					@include box-sizing();
					height: calc(100vh + 50px);
					font-size: 0;
					text-align: center;
					min-height: 500px;
					padding-top: 0;

					&:before{
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					&__image {
						bottom: -70px;
					}

				}

				.inner{
					@include breakpoint($bp1){

						display: inline-block;
						vertical-align: middle;
						text-align: left;

					}

				}

			}
		}
	}

	&-title{
		color: $colorDark;
		margin: 30px 0;

		&:after{
			content: '';
			display: table;
			clear: both;
		}

		&__main{
			font-size: 36px;
			font-weight: 500;
			//float: left;
			clear: both;
		}

		&__subtitle{
			font-size: 24px;
			//display: inline-block;
			//float: left;
			clear: both;
		}

		&__footnote{
			font-size: 20px;
			color: $colorGrey;
			//display: inline-block;
			//float: left;
			clear: both;
			margin-top: 30px;

			@include breakpoint($bp1){
				font-size: 14px;
			}
		}


		.show-filter &{
			@include breakpoint(0 $bp1 - 1px){
				display: none;

			}
		}

		@include breakpoint($bp1){

		}

		&__aside{
			margin-top: 15px;
			position: relative;


			@include breakpoint($bp1){
				margin: 0;
				float: right;
				min-height: 40px;
				min-width: 1px;
			}

			@include breakpoint($bp2){
				margin-right: 300px ;
			}

			.btn{
				width: 100%;

				@include breakpoint($bp1){
					width: auto;
				}
			}

		}
	}


	&-subtitle{
		font-size: 28px;
		font-weight: 500;
		color: $colorDark;
		margin: 20px 0 15px;


		.show-filter &{
			@include breakpoint(0 $bp1 - 1px){
				display: none;

			}
		}

		@include breakpoint($bp1){

		}
	}
}


.lk-message{

	background: #fff;
	position: relative;
	padding: 20px 0;
	max-width: 725px;
	@include box-sizing();

	@include breakpoint($bp1){
		@include box-shadow();
		padding: 25px 30px;
	}

	&:after{
		content: '';
		display: table;
		clear: both;
	}

	&:before{
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		left: -100vw;
		right: -100vw;
		background: #fff;
		@include box-shadow();

		@include breakpoint($bp1){
			display: none;
		}
	}

	& > * {
		z-index: 1;
		position: relative;
	}

	&_attach{
		.lk-message__textarea{
			padding-right: 80px;
			margin-bottom: 10px;

			@include breakpoint($bp1){
				padding: 0;
			}
		}
	}

	&__textarea{
		margin-bottom: 30px;

		@include breakpoint($bp1){

			//margin-bottom: 10px;
		}

		textarea{
			border: 1px solid rgba($colorGreyLight, 0.5);
			border-radius: 20px;
			display: block;
			height: 220px;
			min-height: 220px;
			width: 100%;
			@include box-sizing();
			overflow: hidden;
			padding: 20px;
			font-size: 28px;
			color: $colorGrey;

			@include breakpoint($bp1){
				font-size: 14px;
				padding: 10px;
				border-radius: 10px;
			}
		}


	}

	&__footnote{
		font-size: 18px;
		color: $colorGrey;
		margin-bottom: 10px;

		@include breakpoint($bp1){
			font-size: 10px;
			margin-bottom: 10px;
		}
	}

	&__attachment{

		@include breakpoint($bp1){
			float: left;
			width: calc(100% - 240px);

		}
	}


	&__control{
		position: absolute;
		top: 20px;
		right: 0;
		width: 60px;
		text-align: center;

		@include breakpoint($bp1){
			position: static;
			width: 240px;
			float: right;
			text-align: right;
		}

		&-add{
			height: 160px;

			&-btn{
				background: no-repeat 0 50%;
				background-size: auto 100%;
				display: inline-block;
				vertical-align: top;
				margin-bottom: 10px;
				cursor: pointer;

				@include breakpoint($bp1){
					margin-right: 10px;
				}

				&_photo{
					width: 53px;
					height: 40px;
					background-image: url("../img/lk/add_photo.svg");

					@include breakpoint($bp1){
						width: 40px;
						height: 30px;
					}
				}
				&_file{
					width: 40px;
					height: 40px;
					background-image: url("../img/lk/add_file.svg");

					@include breakpoint($bp1){
						width: 30px;
						height: 30px;
					}

				}

				&:hover{
					background-position: 100% 50%;
				}
			}

			@include breakpoint($bp1){
				padding-top: 10px;
				height: 70px;
			}
		}

		.btn{
			width: 215px;
			font-size: 18px;
			@include box-shadow();

			@include breakpoint(0 $bp1 - 1px){
				width: 60px;
				height: 60px;
				padding: 0;
				background: $colorYellow url("../img/lk/arrow-next.svg") 100% 50% no-repeat;
				background-size: auto 100%;
				color: transparent;
			}
		}
	}


	&_admin{
		.lk-message__textarea{
			padding-right: 100px;

			@include breakpoint($bp1) {
				padding: 0;
			}
		}

		.lk-message__submit{
			position: absolute;
			right: -10px;
			top: 130px;
			color: transparent;

			@include breakpoint($bp1) {
				position: static;
				float: left;
			}

			.btn{

				@include breakpoint(0 $bp1 - 1px) {
					position: static;


					width: 90px;
					height: 90px;
					border-radius: 50%;
					border: 1px solid rgba($colorGreyLight, 0.5);
					display: inline-block;
					cursor: pointer;
					background: #fff no-repeat 0 50%;
					background-size: auto 100%;
					vertical-align: top;
					background-image: url("../img/lk/arrow-next.svg");
					color: transparent;

					&:hover{
						content: '';
						background-color: $colorYellow;
						background-position: 100% 50%;
					}

				}

			}
		}

		.lk-message__checkbox{

			.footnote{
				margin-top: 30px;
				margin-left: 70px;

				@include breakpoint($bp1) {
					margin-left: 35px;
				}
			}

			@include breakpoint($bp1) {
				margin-left: 200px;

				label{
					&:after{
						position: static !important;
						display: inline-block !important;
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}
		}
	}

}

.lk-chat{

	&__control{
		display: none;
		white-space: nowrap;

		@include breakpoint(0 $bp1 - 1px) {
			position: absolute;
			text-align: right;
			width: 100%;
			z-index: 3;

			.btn{
				font-size: 24px;
				line-height: 60px;
				height: 60px;
				display: inline-block;
				width: auto;
			}
		}

		@include breakpoint($bp1) {
			margin-bottom: -20px;
		}

	}

	.chat {
		&__list {


			@include breakpoint($bp1) {

			}
		}

		&__item {

			@include breakpoint($bp1) {

			}

			&-bubble{
			}
		}
	}


	&_one{

		.chat__list:first-child{
			.chat__item:first-child{
				.chat__item-author:first-child{
					display: block;
				}
			}
		}

		.chat__item-author{
			@include breakpoint(0 $bp1 - 1px) {
				display: none;
			}
		}

		.chat__item_r{

		}

		.chat__item-bubble{
			.chat__item-author{
				display: block;
			}
		}
	}
}


.lk-filter{

	display: none;

	.filter{
		background: transparent;

		&__inner{
			background: transparent;
		}
	}

	.show-filter &{
		display: block;

		& ~ .lk-content{
			display: none;

			@include breakpoint($bp1){
				display: block;
			}
		}
	}

	@include breakpoint($bp1 $bp2 - 1px){
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 272px;
	}

	@include breakpoint($bp2){
		display: block;
	}

	.inner{
	}

	.filter{
		position: static;
		display: block;

		.show-filter &{

		}
	}
}


.lk-dialog{
	color: $colorGrey;
	font-size: 18px;

	@include breakpoint($bp1){
		font-size: 10px;
	}

	&__list{}

	&__item{
		background: #fff;
		@include box-shadow();
		margin: 0 0 20px 0;
		padding: 25px;
		position: relative;
		overflow: hidden;

		.lk-dialog_all &{
			&:hover{
				outline: 2px solid $colorYellow;
			}
		}


		.lk-dialog__item:hover{
			outline: none;
		}

		@include breakpoint($bp1){
			padding: 20px 25px 15px;
		}

		&-info{
			padding: 0 10px;
			margin-bottom: 20px;
			overflow: hidden;
			min-height: 84px;

			@include breakpoint($bp1){
				float: left;
				padding: 0;
				max-width: 220px;
				min-height: 60px;
			}
		}

		&-avatar{
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: $colorYellow;
			float: left;

			@include breakpoint($bp1){
				width: 42px;
				height: 42px;
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
			}
		}

		&-author{
			font-size: 25px;
			margin-left: 105px;
			padding-top: 15px;

			@include breakpoint($bp1){
				font-size: 14px;
				margin-left: 55px;
				padding-top: 5px;
			}

			&-name{
				font-weight: 500;
				color: $colorDark;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				//white-space: nowrap;
				vertical-align: top;
				max-width: 90%;

			}

			&-status{
				display: inline-block;
				font-weight: 400;
				position: relative;
				color: $colorGrey;
				top: -4px;
				vertical-align: top;

				.is-online &{
					content: ' online';
					color: $colorYellow;
				}
			}

		}

		&-data{
			font-size: 25px;
			margin-left: 105px;
			margin-bottom: 25px;

			@include breakpoint($bp1){
				font-size: 14px;
				margin-left: 55px;
				margin-bottom: 10px;
			}
		}


		&-content{

			@include breakpoint($bp1){
				margin-left: 230px;
			}

		}

		&-foot{

			@include breakpoint($bp1){

				.lk-dialog_all &{
					margin-left: 230px;
				}

				.lk-dialog_feedback &{
					margin: 0 -25px 0;
					padding: 14px 25px 0;
					border-top: 1px solid rgba($colorGreyLight, 0.5);
				}
			}
		}

		&-quote{

			@include border-radius(8px);
			background: $colorGreyExLight;
			font-size: 22px;
			padding: 20px 22px;
			margin-bottom: 12px;
			position: relative;

			&:before{
				content: '';
				width: 20px;
				height: 24px;
				background: no-repeat 50% 50%;
				background-size: contain;
				display: block;
				position: absolute;
				background-image: url("../img/lk/quote-arrow_grey.svg");

				top: -20px;
				left: 40px;
				@include transform(rotate(90deg));

				@include breakpoint($bp1){
					top: 15px;
					left: -20px;
					@include transform(rotate(0));
				}
			}

			@include breakpoint($bp1){
				font-size: 14px;
			}


			.ico_file{
				margin-right: 0.5em;
				font-size: 16px;

				@include breakpoint($bp1){
					font-size: 9px;
				}
			}

			&_fw{
				padding: 15px 30px 15px 20px;

				@include breakpoint($bp1){
					background: #fff;
					border: 1px solid $colorBg;

					&:before{
						background-image: url("../img/lk/quote-arrow_grey_border.svg");
					}
				}
			}

			.lk-dialog{
				&__item{
					margin: 0;
					padding: 0;
					background: none;
					@include box-shadow(none);

					&.is-online{
						.lk-dialog__item-avatar{
							position: relative;

							&:before{
								content: '';
								width: 18px;
								height: 18px;
								border-radius: 50%;
								background: $colorYellow;
								border: 6px solid $colorGreyExLight;
								display: block;
								position: absolute;
								bottom: -5px;
								left: -4px;

								@include breakpoint($bp1){
									display: none;
								}
							}
						}
					}

					&-info{
						float: left;
						margin: 0;
						padding: 0;
						max-width: 155px;

						@include breakpoint($bp1){
							min-height: 40px;
						}
					}
					&-avatar{
						float: left;
						margin: 0;
						padding: 0;

						@include breakpoint($bp1){
							width: 30px;
							height: 30px;
						}
					}
					&-author{
						display: none;

						@include breakpoint($bp1){
							display: block;
							margin-left: 40px;
							padding-top: 3px;
						}
					}
					&-note{
						display: none;

						@include breakpoint($bp1){
							display: block;
						}
					}

					&-content{
						margin: 0 0 0 95px;

						@include breakpoint($bp1){
							margin-left: 160px;
						}
					}

					&-data{
						margin: 0 0 5px 0;
						font-size: 19px;
						color: $colorGreyLight;

						@include breakpoint($bp1){
							display: none;
						}
					}
					&-quote{
						background: #fff;
						@include box-shadow();

						&:before{
							display: none;
						}

						@include breakpoint($bp1){
							@include box-shadow(none);
							padding: 0;
							margin: 0;
							border: none;
						}
					}
				}
			}

		}

		&-attachment{
			font-size: 0;

			&-img{
				position: relative;
				margin: 0 15px 15px 0;
				display: inline-block;
				vertical-align: top;
				width: 92px ;
				height: 88px;
				border: 1px solid rgba($colorGreyLight, 0.5);
				background: $colorGreyExLight no-repeat 50% 50%;
				background-size: cover;
				border-radius: 8px;
				@include box-shadow();
				cursor: pointer;

				@include breakpoint($bp1){
					margin: 0 10px 10px 0;
					width: 66px ;
					height: 64px;
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					max-width: 100%;
					max-height: 100%;
					display: inline-block;
					vertical-align: middle;
				}


				&:after{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -25px;
					margin-top: -25px;
					width: 50px;
					height: 50px;
					background: url("../img/ico/ico-search.svg") no-repeat 0 50%;
					background-size: auto 100%;

					@include breakpoint($bp1){
						width: 30px;
						height: 30px;
						top: 100%;
						left: 100%;
						margin-left: -30px;
						margin-top: -30px;
					}
				}

				&:hover{
					&:after{
						background-position: 100% 50%;
					}
				}

				&:active{
					@include box-shadow(none);
				}
			}
		}

		&-note{
			.lk-dialog__item-info &{
				margin-left: 105px;

				@include breakpoint($bp1){
					margin-left: 55px;

					.lk-dialog_all &{
						position: absolute;
						bottom: 15px;
					}
				}
			}

			.lk-dialog__item-foot &{

				@include breakpoint($bp1){
					display: inline-block;
					vertical-align: top;
					margin-right: 33px;
				}
			}
		}

		&-menu{
			padding: 25px 25px 6px;
			margin: 20px -25px 0;
			overflow: hidden;
			border-top: 1px solid $colorGreyLight;

			@include breakpoint($bp1){
				border: none;
				padding: 0;
				margin: 0;
				overflow: visible;


				.lk-dialog_all &{
					opacity: 0;
					display: inline-block;
					vertical-align: top;
				}


				.lk-dialog_all .lk-dialog__item:hover &{
					opacity: 1;
				}
			}

			&-info{
				position: relative;
				font-size: 18px;
				line-height: 21px;
				display: inline-block;
				margin-right: 20px;


				@include breakpoint($bp1){
					font-size: 10px;
					line-height: 12px;
					vertical-align: top;
					margin-right: 30px;
				}

				&:last-child{
					margin-right: 0;
				}
			}

			&-link{

				position: relative;
				cursor: pointer;
				font-size: 18px;
				line-height: 21px;
				display: inline-block;
				@include user-select();


				@include breakpoint($bp1){
					font-size: 10px;
					line-height: 12px;
					vertical-align: top;
					margin-right: 30px;

					&:last-child{
						margin-right: 0;
					}
				}


				span{
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;

					@include breakpoint($bp1){
						margin-right: 3px;
					}

				}

				.count{
					font-size: 26px;
					color: $colorDark;

					@include breakpoint($bp1){
						font-size: 14px;
					}
				}


				i{
					display: inline-block;
					height: 38px;
					width: 38px;
					background: no-repeat 0 50%;
					background-size: auto 100%;
					margin: -8px 5px -13px 0;

					@include breakpoint($bp1){
						height: 20px;
						width: 20px;
						top: -4px;
						margin: -4px 3px -7px 0;
					}
				}

				&:hover{
					color: $colorDark;
					i{
						background-position: 100% 50%;
					}
				}

				&.is-active{
					&:before{
						background-position: 100% 50%;
					}
				}

				&_favorite{
					position: absolute;
					font-size: 0;
					top: 35px;
					right: 30px;

					@include breakpoint($bp1){
						font-size: 10px;
						position: relative;
						top: auto;
						right: auto;
					}

					i{
						background-image: url("../img/ico/ico-dialog_favorite.svg");
					}
				}

				&_zip{
					.lk-dialog_all &{
						float: left;
						@include breakpoint($bp1){
							float: none;
						}
					}

					i{
						background-image: url("../img/ico/ico-dialog_archiv.svg");
					}
				}

				&_remove{

					.lk-dialog_all &{
						float: right;

						@include breakpoint($bp1){
							float: none;
						}
					}


					i{
						background-image: url("../img/ico/ico-dialog_remove.svg");
					}
				}

				&_comment{

					.lk-dialog_feedback &{
						float: right;
						@include breakpoint($bp1){

						}

					}

					i{
						background-image: url("../img/ico/ico-dialog_comment.svg");

						//.is-show-chat &{
						//	background-position: 100% 50%;
						//}
					}
				}
			}
		}


		&-chat{

			margin: 15px -25px -25px;
			display: none;
			overflow: hidden;
			background: $colorGreyExLight;

			@include breakpoint($bp1){
				margin: 15px -26px -15px;
			}


			.chat{
				&__list{

					padding: 0 30px;

					@include breakpoint($bp1){
						padding: 0 60px;

						@include box-shadow(inset 0 1px 0 #fff);
						border-top: 1px solid  rgba($colorGreyLight, 0.5);
					}
				}

				&__item{

					&-bubble{
						&:before{
							display: none!important;

						}
					}

					&.is-online{
						.chat__item-avatar:before{
							border-color: $colorGreyExLight;
						}
					}
				}
			}

			.is-show-chat &{
				display: block;
			}
		}

	}


}


.ico_file{

	background: url("../img/ico/ico-file.svg") no-repeat 50% 50%;
	background-size: contain;
	display: inline-block;
	font-style: normal;
	width: 2.73em;
	height: 3.52em;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	@include box-sizing();
	padding: 1.95em 0.4em 0 0.2em;
	vertical-align: middle;
	margin-top: -0.2em;

	font-size: 9px;
}


.lk-sort{
	&_dialog{

		.sort{

			&__list{
				font-size: 0;
			}

			&__field{
				display: inline-block;
				vertical-align: top;

				&_s{
					width: 245px;
					margin-right: 12px;

					@include breakpoint($bp1){
						width: 200px;
					}
				}

				&_f{
					width: 84px;

					@include breakpoint($bp1){
						width: 250px;
					}

					@include breakpoint($bp2){
						width: 390px;
					}
				}
			}

			&__select{



				&.is-open{
					.sort__select-val{
						@include box-shadow(none);
						position: absolute;
						width: 100%;
						left: 0;
					}
					.sort__select-list{
						margin-top: 0;
						border-radius: 42px;

						@include breakpoint($bp1){
							border-radius: 21px;
						}
					}
				}

			}



			&__search{

				background: #fff url("../img/ico/ico-search.svg") no-repeat 0 50%;
				background-size: auto 100%;


				&-input{
					display: none;


					@include breakpoint($bp1){
						display: block;
					}

				}

				&-find{
					display: none;

					@include breakpoint($bp1){
						display: block;
					}
				}


				@include breakpoint(0 $bp1 - 1px){
					&.is-open{
						z-index: 1;

						.sort__search-input{
							display: block;
							width: 600px;
							position: absolute;
							top: 0;
							right: 0;



							input{
								@include box-shadow();
							}
						}
						.sort__search-find{
							display: block;
						}
					}
				}


			}



		}

	}
}


.lk-users{

	&__list{
		margin-top: 30px;

		@include breakpoint($bp1){
			column-count: 2;
		}
	}

	&__item{

		white-space: nowrap;
		min-height: 84px;
		margin-bottom: 30px;
		display: block;

		@include breakpoint($bp1){
			min-height: 42px;
			margin-bottom: 20px;

			overflow: hidden;
			text-overflow: ellipsis;

		}

		&-avatar{
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: $colorYellow;
			position: relative;
			float: left;

			@include breakpoint($bp1){
				margin: 0 20px 0 0;
				float: none;
				width: 42px;
				height: 42px;
				display: inline-block;
				vertical-align: middle;
			}

			.is-online &{

				&:before{
					content: '';
					width: 18px;
					height: 18px;
					border-radius: 50%;
					background: $colorYellow;
					border: 6px solid $colorBg;
					display: block;
					position: absolute;
					bottom: -5px;
					left: -4px;

					@include breakpoint($bp1){
						display: none;
					}
				}
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
			}
		}
		&-name{
			font-size: 33px;
			font-weight: 500;
			color: $colorDark;
			margin-left: 105px;
			padding-top: 10px;
			line-height: 1.1;

			@include breakpoint($bp1){
				padding: 0 20px 0 0;
				font-size: 14px;
				margin: 0 15px 0 0;
				display: inline-block;
				vertical-align: middle;
				max-width: 50%;
				text-overflow: ellipsis;
				overflow: hidden;
				position: relative;


				&:after{
					content: '';
					width: 9px;
					height: 9px;
					border-radius: 50%;
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					top: 3px;
					right: 0;

					.is-online &{
						background: $colorYellow;
					}
				}


			}
		}
		&-email{
			font-size: 25px;
			color: $colorGrey;
			margin-left: 105px;

			@include breakpoint($bp1){
				margin: 0;
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}


	&__more{
		text-align: center;
		margin-top: 30px;

		@include breakpoint($bp1){
			//display: none;
		}

		.btn{
			text-align: center;
			color: $colorGrey;
			border-radius: 100px;
			@include box-shadow();
			border: none;
			background: #fff;
			cursor: pointer;

			@include breakpoint(0 $bp1 - 1px){
				width: 100%;
			}

			&:hover{
				background: $colorYellow;
				color: #fff;
			}
		}
	}
}




.lk-pagin{
	margin-top: 20px;


	&__dot{
		min-width: 42px;
		height: 42px;
		line-height: 42px;
		padding: 0 10px;
		margin: 0 0px 10px -10px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;

	}

	&__item{
		min-width: 42px;
		height: 42px;
		line-height: 40px;
		border-radius: 100px;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		text-align: center;
		font-size: 18px;
		color: $colorGrey;
		@include box-sizing();
		padding: 0 10px;
		margin: 0 10px 10px 0;

		span{
			padding: 0 10px;
			display: inline-block;
		}

		border: 1px solid $colorGreyLight;

		&.is-active{
			background: #fff;
			border-color: transparent;
			@include box-shadow();
		}

		&:hover{
			background: $colorYellow;
			border-color: transparent;
			@include box-shadow();
			color: #fff;
		}
		
		&_prev{
			position: relative;

			span{
				margin-left: 25px;
			}

			&:before{
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				left: 0;
				background: url("../img/lk/arrow-prev.svg") no-repeat 0 50%;
				background-size: cover;
			}

			&:hover{
				&:before{
					background-position: 100% 0;
				}
			}
		}

		&_next{
			position: relative;

			span{
				margin-right: 25px;
			}
			&:before{
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				right: 0;
				background: url("../img/lk/arrow-next.svg") no-repeat 0 50%;
				background-size: cover;
			}

			&:hover{
				&:before{
					background-position: 100% 0;
				}
			}
		}
	}
}




.lk-history{


	&__list{
		width: 100%;
		background: #fff;
		font-size: 24px;
		color: $colorGrey;
		@include box-shadow();

		@include breakpoint($bp1){
			display: table;
			font-size: 14px;
		}
	}
	&__item{
		padding: 30px 35px 35px;
		border-bottom: 1px solid $colorGreyLight;
		position: relative;

		@include breakpoint($bp1){
			display: table-row;

			&:first-child{
				.lk-history__cell{
					padding-top: 15px;
				}
			}
			&:last-child{
				.lk-history__cell{
					padding-bottom: 15px;
					border-bottom: 1px solid rgba($colorGreyLight, 0.5);
				}
			}
		}

		&_head{
			display: none;

			.lk-history__cell{
				font-weight: 500;
				color: $colorDark;

				@include breakpoint($bp1){
					padding-top: 15px;
					padding-bottom: 15px;
					border-bottom: 1px solid rgba($colorGreyLight, 0.5);
				}
			}

			@include breakpoint($bp1){
				display: table-row;
			}
		}
	}
	&__cell{

		&_name{
			font-size: 30px;
			color: $colorDark;
			font-weight: 500;
			margin: 35px 0 15px;

			@include breakpoint($bp1){
				width: 38%;
			}
		}

		&_date{
			position: absolute;
			left: 35px;
			top: 35px;

			@include breakpoint($bp1){
				width: 20%;
			}
		}

		&_price{
			position: absolute;
			right: 35px;
			bottom: 35px;

			@include breakpoint($bp1){
				width: 18%;
			}
		}
		&_pay{

		}

		@include breakpoint($bp1){
			display: table-cell;
			font-size: 14px;
			color: $colorGrey;
			font-weight: 400;
			position: static;
			margin: 0;
			padding: 15px 30px 5px;
		}
	}


}




.btn-lk{



	&_edit,
	&_clear,
	&_next,
	&_add,
	&_down{
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 1px solid rgba($colorGreyLight, 0.5);
		display: inline-block;
		cursor: pointer;
		background: #fff no-repeat 0 50%;
		background-size: auto 100%;
		vertical-align: top;

		@include breakpoint($bp1){
			width: 40px;
			height: 40px;
		}

		&:hover{
			content: '';
			background-color: $colorYellow;
			background-position: 100% 50%;
		}
	}

	&_edit{
		background-image: url("../img/lk/ico_edit.svg");
		background-color: transparent!important;
	}

	&_clear{
		background-image: url("../img/lk/cross.svg");
	}

	&_add{
		background-image: url("../img/lk/cross.svg");
		@include transform(rotate(45deg));
	}

	&_down{
		background-image: url("../img/lk/arrow-down.svg");
	}
	&_next{
		background-image: url("../img/lk/arrow-next.svg");
	}
}


.lk-user{
	background: #fff;
	@include box-shadow();
	padding: 55px 35px;
	margin-bottom: 25px;


	@include breakpoint($bp1){
		padding: 30px 25px;
		margin-bottom: 20px;
	}

	@include breakpoint($bp2){
		padding: 30px 45px;
	}

	&__title{
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 18px;
		}
	}


	.form{

		&__field{
			&_submit{

				input{
					@include breakpoint($bp1){
						width: auto;
					}
				}

			}
		}

		&__label{
			font-size: 32px;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				font-size: 14px;
				margin-bottom: 10px;
			}
		}

		&__input{
			input{
				border: 1px solid rgba($colorGreyLight, 0.5);
				color: $colorGrey;
				font-size: 32px;
				border-radius: 20px;
				line-height: 90px;
				height: 90px;

				@include breakpoint($bp1){
					font-size: 14px;
					border-radius: 10px;
					line-height: 42px;
					height: 42px;
					padding: 0 20px;
				}
			}
		}

		&__footnote{
			margin-top: 20px;
			font-size: 22px;
			color: $colorGrey;

			@include breakpoint($bp1){
				font-size: 10px;
				margin-top: 10px;
			}
		}

	}


	&__col{

		&_contact{
			.form{

				&__field{
					white-space: nowrap;
				}

				&__input{
					width: 425px;
					position: relative;
					display: inline-block;
					vertical-align: top;

					@include breakpoint($bp1){
						width: 215px;
					}
				}

				&__control{
					display: inline-block;
					white-space: normal;
					margin-left: 15px;
					width: 90px;

					@include breakpoint($bp1){
						margin-left: 7px;
						width: auto;
					}
				}
			}
		}


		&_avatar{

			@include breakpoint($bp1){
				width: 202px;
				display: inline-block;
				vertical-align: top;
			}
		}

		&_name{

			@include breakpoint($bp1){
				width: 250px;
				margin-left: 30px;
				display: inline-block;
				vertical-align: top;
			}

			@include breakpoint($bp2){
				margin-left: 70px;
			}
		}

		&_contact{

			@include breakpoint($bp1){
				width: 250px;
				margin-left: 30px;
				display: inline-block;
				vertical-align: top;
				margin-top: 56px;
			}

			@include breakpoint($bp2){
				margin-left: 60px;
			}
		}
	}

	&__avatar{

		&-preview{
			width: 445px;
			height: 445px;
			border-radius: 50%;
			border: 1px solid rgba($colorGreyLight, 0.5);
			margin: 0 auto 20px;

			@include breakpoint($bp1){
				width: 200px;
				height: 200px;
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
			}
		}

		&-edit{
			text-align: center;
		}

		&-load{
			margin: 0 6px;
		}

		&-clear{
			margin: 0 6px;
		}
	}


	&__birthday{
		white-space: nowrap;
		color: $colorGrey;
		position: relative;

		input{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		&-date{
			border-radius: 20px;
			border: 1px solid rgba($colorGreyLight, 0.5);
			height: 90px;
			line-height: 90px;
			white-space: nowrap;
			text-align: center;
			width: 425px;
			display: inline-block;
			position: relative;

			@include breakpoint($bp1){
				border-radius: 10px;
				height: 40px;
				line-height: 40px;
				width: 200px;
			}
		}
		&-day{
			display: inline-block;
			vertical-align: middle;
			padding-right: 25px;
			margin-right: 25px;
			font-size: 32px;
			position: relative;

			padding-right: 8%;
			margin-right: 8%;
			width: 9%;

			@include breakpoint($bp1){
				font-size: 14px;
				padding-right: 15px;
				margin-right: 15px;
			}

			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				right: 0;
				width: 2px;
				height: 42px;
				background: rgba($colorGreyLight, 0.5);
				top: 50%;
				margin-top: -21px;

				@include breakpoint($bp1){
					height: 22px;
					width: 1px;
					margin-top: -11px;
				}
			}

		}
		&-month{
			display: inline-block;
			vertical-align: middle;
			font-size: 32px;
			position: relative;
			padding-right: 25px;
			margin-right: 25px;


			padding-right: 8%;
			margin-right: 8%;
			width: 30%;

			@include breakpoint($bp1){
				font-size: 14px;
				padding-right: 15px;
				margin-right: 15px;
			}

			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				right: 0;
				width: 2px;
				height: 42px;
				background: rgba($colorGreyLight, 0.5);
				top: 50%;
				margin-top: -21px;

				@include breakpoint($bp1){
					height: 22px;
					width: 1px;
					margin-top: -11px;
				}
			}
		}
		&-year{
			display: inline-block;
			vertical-align: middle;
			font-size: 32px;

			width: 16%;

			@include breakpoint($bp1){
				font-size: 14px;
			}
		}
		&-edit{
			margin-left: 15px;
			position: relative;

			@include breakpoint($bp1){
				margin-left: 7px;
			}

			input{
				position: absolute;
				opacity: 0;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: block;
			}
		}
	}


	&__phone{

		.form{
			&__field{

				margin-bottom: 15px;

				&:last-child{
					.lk-user__phone-add{
						display: inline-block!important;
						margin-top: 15px;

						@include breakpoint($bp1){
							margin-top: 0;
							margin-left: 7px;
						}
					}
				}
			}
		}

		.form__field:last-child{
			.lk-user__phone-add{
				display: inline-block!important;
				margin-top: 15px;

				@include breakpoint($bp1){
					margin-top: 0;
					margin-left: 7px;
				}
			}
		}

		&-edit{
			position: absolute;
			border: none!important;
			top: 0;
			right: 0;
		}

		&-remove{

		}

		&-add{
			display: none!important;
		}
	}

	&__email{

		.form{
			&__field{

				margin-bottom: 15px;

				&:last-child{
					.lk-user__email-add{
						display: inline-block!important;
						margin-top: 15px;

						@include breakpoint($bp1){
							margin-top: 0;
							margin-left: 7px;
						}
					}
				}
			}
		}

		.form__field:last-child{
			.lk-user__email-add{
				display: inline-block!important;
				margin-top: 15px;

				@include breakpoint($bp1){
					margin-top: 0;
					margin-left: 7px;
				}
			}
		}

		&-edit{
			position: absolute;
			border: none!important;
			top: 0;
			right: 0;
		}

		&-remove{

		}

		&-add{
			display: none!important;
		}
	}



	&__pass{

		.form__footnote{
			margin-top: 30px;
			text-align: right;

			@include breakpoint($bp1){
				margin-top: 10px;
			}
		}

		.form__field{

			@include breakpoint($bp1){
				display: inline-block;
				vertical-align: top;
				width: 210px;
				margin-right: 15px;
			}

			@include breakpoint($bp2){
				width: 245px;
				margin-right: 25px;
			}

			&_submit{

				@include breakpoint($bp1){
					width: auto;
					margin-right: 0;
				}

				.form__label{
					display: none;

					@include breakpoint($bp1){
						display: block;
					}
				}
			}
		}
	}


	&__accounts{

		.lk-user__title{
			.hint{
				display: block;
				margin-top: 25px;

				@include breakpoint($bp1){
					display: inline-block;
					margin-left: 10px;
				}

				@include breakpoint($bp2){

				}
			}
		}

		&-list{}

		&-item{
			white-space: nowrap;

			margin-top: 40px;

			&.is-active{
				.lk-user__accounts-ico{
					background: $colorYellow;
				}
				.lk-user__accounts-name{
					margin-top: 0;
					color: $colorDark;
				}
				.lk-user__accounts-btn{
					.btn{
						background: $colorDark;

						&:before{
							@include transform(rotate(45deg));
						}

						&:after{
							@include transform(rotate(135deg));
						}
					}
				}
			}
		}

		&-info{
			padding: 16px 10px;
			border: 1px solid $colorGreyLight;
			border-radius: 10px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			width: 430px;
			@include box-sizing();
			color: $colorGrey;
			margin-right: 15px;
			white-space: normal;
			font-size: 30px;

			@include breakpoint($bp1){
				padding: 5px;
				font-size: 14px;
				white-space: nowrap;
				width: 650px;
				margin-right: 25px;
			}

			@include breakpoint($bp2){
				width: 785px;
			}
		}

		&-ico{

			width: 68px;
			height: 68px;
			background: $colorGreyLight;
			border-radius: 5px;
			float: left;

			@include breakpoint($bp1){
				width: 30px;
				height: 30px;
				float: none;
				display: inline-block;
				vertical-align: middle;
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&-name{
			margin-left: 88px;
			margin-top: 15px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint($bp1){
				margin-left: 15px;
				margin-top: 0;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-value{
			margin-left: 88px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint($bp1){
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-btn{
			display: inline-block;
			vertical-align: middle;

			.btn{
				position: relative;
				margin-bottom: 0;
				font-size: 18px;
				padding: 0 10px;

				@include breakpoint($bp1){
					min-width: 150px;
				}

				span{
					display: none;

					@include breakpoint($bp1){
						display: inline;
					}
				}

				&:before,
				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 8px;
					height: 32px;
					top: 50%;
					left: 50%;
					background: #fff;
					border-radius: 10px;
					margin-top: -16px;
					margin-left: -4px;

					@include breakpoint($bp1){
						display: none;
					}
				}

				&:before{

				}

				&:after{
					@include transform(rotate(90deg));
				}
			}
		}
	}

}

.hint{
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	position: relative;

	@include breakpoint($bp1){
		font-size: 12px;
	}

	&_show{
		.hint__tooltip{
			display: block;
		}
	}

	&__link{
		text-decoration: underline;
		color: $colorGrey;
		cursor: pointer;
	}

	&__tooltip{
		position: absolute;
		background: #fff;
		border: 2px solid $colorGreyLight;
		border-radius: 10px;
		padding: 15px;
		top: 100%;
		margin-top: 20px;
		left: 0;
		width: 500px;
		display: none;
		z-index: 100;

		@include breakpoint($bp1){
			top: 0;
			left: 100%;
			width: 220px;
			margin-top: -20px;
			margin-left: 15px;
			border-width: 1px;
		}

		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			border: 15px solid transparent;
			left: 50%;
			margin-left: -15px;

			@include breakpoint($bp1){
				margin-left: 0;
				border-width: 10px;
			}
		}

		&:before{
			border-bottom-color: $colorGreyLight;
			top: -30px;

			@include breakpoint($bp1){
				top: 20px;
				left: -20px;
				border-bottom-color: transparent;
				border-right-color: $colorGreyLight;
			}
		}

		&:after{
			border-bottom-color: #fff;
			top: -27px;

			@include breakpoint($bp1){
				top: 20px;
				left: -19px;
				border-bottom-color: transparent;
				border-right-color: #fff;
			}
		}
	}

	&__title{
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	&__text{
		color: $colorGrey;
	}
}

.lk-masterclass{
	&__list{

	}

	&__item{
		background: #fff;
		@include box-shadow();
		margin-bottom: 20px;

		@include breakpoint($bp1){
			margin-bottom: 10px;
			display: table;
			width: 100%;
		}

		&-image{
			background: no-repeat 50% 50%;
			background-size: cover;
			height: 200px;

			@include breakpoint($bp1){
				height: 140px;
				width: 200px;
				display: table-cell;
			}
		}

		&-info{
			padding: 15px 35px;

			@include breakpoint($bp1){
				padding: 25px 30px;
				display: table-cell;
				vertical-align: top;
			}
		}

		&-title{
			font-weight: 600;
			font-size: 36px;
			margin-bottom: 25px;

			@include breakpoint($bp1){
				font-size: 18px;
			}
		}
		&-text{
			font-size: 28px;
			margin-bottom: 10px;

			@include breakpoint($bp1){
				font-size: 14px;
			}
		}
	}

	&__char{
		padding: 15px 35px;

		@include breakpoint($bp1){
			display: table-cell;
			vertical-align: middle;
			padding: 25px 0;
		}

		&-table{
			border: 1px solid rgba($colorGreyLight, 0.5);
			border-radius: 20px;

			@include breakpoint($bp1){
				border-radius: 10px;
			}
		}

		&-item{
			margin: 15px 35px;
			overflow: hidden;

			@include breakpoint($bp1){
				display: table-cell;
				padding: 10px 20px;
			}

			@include breakpoint($bp2){
				padding: 20px 25px;
			}
		}

		&-title{
			font-size: 28px;
			color: $colorGrey;
			float: left;
			padding-top: 7px;
			white-space: nowrap;

			@include breakpoint($bp1){
				font-size: 14px;
				float: none;
				padding: 0;
			}
		}

		&-val{
			font-size: 36px;
			color: $colorYellow;
			font-weight: 600;
			float: right;
			white-space: nowrap;

			@include breakpoint($bp1){
				font-size: 24px;
				float: none;
			}

		}
	}

	&__more{
		padding: 15px 35px;

		@include breakpoint($bp1){
			padding: 15px 30px;
			display: table-cell;
			vertical-align: middle;
		}

		.btn{
			display: block;

			@include breakpoint($bp1){
				width: 40px;
				margin: 0;
				height: 40px;
				border-radius: 50%;
				border: 1px solid rgba($colorGreyLight, 0.5);
				display: inline-block;
				cursor: pointer;
				padding: 0;
				color: transparent;
				background: #fff no-repeat 0 50%;
				background-size: auto 100%;
				vertical-align: top;
				background-image: url("../img/lk/arrow-next.svg");

				&:hover{
					content: '';
					background-color: $colorYellow;
					background-position: 100% 50%;
				}
			}
		}
	}
}



.n-m{

	@include breakpoint(0 $bp1 - 1px){
		display: none!important;
	}
}


.n-d{
	@include breakpoint($bp1){
		display: none!important;
	}
}




.dragbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($colorYellow, 0.2);
	border: 1px solid $colorYellow;
	border-radius: 10px;
	color: $colorYellow;
	text-align: center;
	padding-top: 17px;
	font-size: 14px;
	@include box-sizing();
	display: none;

	&__inner{

	}

	&.is-show{
		display: block;

		& ~ textarea{
			opacity: 0;
		}
	}

	&.is-active{
		border: 2px dashed $colorYellow;
	}
}