

.btn{
	font: inherit;
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	@include box-sizing();
	height: 84px;
	line-height: 80px;
	padding: 0 40px;
	border-radius: 100px;
	border-color: transparent;
	background: $colorYellow;
	cursor: pointer;
	color: #fff;



	&_border{
		border:1px solid $colorYellow;
		color: $colorYellow;
		background: transparent;
	}

	&_white{
		background: #fff;
		color: $colorGrey;
		@include box-shadow();
	}

	&_link{
		background: transparent;
		color: $colorBlue;
	}

	@include breakpoint($bp1){
		height: 42px;
		line-height: 40px;
		padding: 0 30px;
		border-width: 1px;
		font-size: 18px;
	}



}



.card{

	&__list{

		@include breakpoint($bp1){
			margin-right: -15px;
			margin-left: -15px;
			font-size: 0;
		}
	}

	&__inner{
		background: #fff;
		@include box-shadow();
		min-height: 100%;
	}

	&__item{
		margin: 30px 0;
		height: 725px;
		position: relative;

		@include breakpoint($bp1){
			margin: 15px;
			display: inline-block;
			vertical-align: top;
			width: 272px;
			height: 410px;

		}


		.master-mega__list &{
			@include breakpoint($bp1){
				width: 313px;
			}

			@include breakpoint($bp2){
				width: 272px;
			}
		}

		&-image{
			height: 310px;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;

			@include breakpoint($bp1){
				height: 190px;
			}
		}
		&-legend{

			position: absolute;
			text-align: right;
			display: none;
			top:30px;
			right: 30px;
			left: 30px;

			@include breakpoint($bp1){
				top:15px;
				right: 15px;
				left: 15px;
			}

			&-feedbacks{
				display: inline-block;
				vertical-align: middle;
				width: 84px;
				height: 84px;
				line-height: 84px;
				font-size: 36px;
				text-align: center;
				border-radius: 100px;
				background: #fff url("../img/ico/ico-card-comment.svg") no-repeat 0 50%;
				background-size: contain;
				@include box-shadow();
				padding: 0 10px 0 50px;

				@include breakpoint($bp1){
					width: 42px;
					height: 42px;
					line-height: 42px;
					font-size: 14px;
					padding: 0 5px 0 23px;
				}
			}

			&-more{
				display: inline-block;
				vertical-align: middle;
				width: 84px;
				height: 84px;
				font-size: 36px;
				text-align: center;
				border-radius: 100px;
				background: #fff url("../img/ico/ico-card-more.svg") no-repeat 50% 50%;
				background-size: contain;
				margin-left: 15px;
				@include box-shadow();

				@include breakpoint($bp1){
					width: 42px;
					height: 42px;
					margin-left: 10px;
				}
			}
		}

		&-title{
			font-size: 36px;
			font-weight: 500;
			overflow: hidden;
			height: 90px;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				font-size: 18px;
				height: 45px;
			}
		}

		&-info{
			padding: 30px;

			@include breakpoint($bp1){
				padding: 15px;
			}
		}

		&-about{
			margin-bottom: 35px;
			white-space: nowrap;

			@include breakpoint($bp1){
				margin-bottom: 15px;
			}

			&-item{
				position: relative;
				font-size: 30px;
				margin: 10px 0;

				@include breakpoint($bp1){
					font-size: 14px;
					height: 16px;
				}

				.ico{
					display: inline-block;
					width: 30px;
					height: 30px;
					vertical-align: middle;
					margin-right: 30px;

					@include breakpoint($bp1){
						width: 16px;
						height: 16px;
						margin-right: 11px;
						top: 0;
					}

					img{
						width: 100%;
						height: 100%;
						display: block;
					}
				}

				.value{
					display: inline-block;
					vertical-align: middle;
				}

				.info{
					display: none;

					@include breakpoint($bp1){
						display: inline-block;
						width: 20px;
						height: 20px;
						@include box-shadow();
						vertical-align: middle;
						margin-left: 10px;
						border-radius: 50%;
						background: #fff url("../img/ico/ico-card-info.svg") no-repeat 50% 50%;
						background-size: contain;
					}
				}
			}
		}

		&-price{
			&-value{
				display: inline-block;
				vertical-align: middle;
				height: 84px;
				line-height: 84px;
				font-size: 36px;
				font-weight: 600;
				margin-right: 25px;

				@include breakpoint($bp1){
					font-size: 24px;
					height: 24px;
					line-height: 24px;
					margin-right: 12px;
				}
			}

			&-btn{

				height: 84px;
				width: 140px;
				display: inline-block;
				vertical-align: middle;
				background: no-repeat 50% 50%;
				background-size: contain;
				border-radius: 100px;
				color: transparent;

				@include breakpoint($bp1){
					width: 70px;
					height: 42px;
				}

				&_buy{
					background-color: $colorYellow ;
					background-image: url("../img/ico/ico-cart-white.svg");
				}
				&_free{
					background-color: $colorViolet ;
					background-image: url("../img/ico/ico-eye-white.svg");
				}
			}
		}

		&-more{
			border: 2px solid $colorYellow;
			color: $colorYellow;
			font-size: 36px;
			cursor: pointer;
			padding: 22px 40px;
			border-radius: 100px;
			text-align: center;
			margin-top: 30px;
			display: none;

			&:hover{
				background-color: $colorYellow;
				color: #fff;
			}

			@include breakpoint($bp1){
				font-size: 18px;
				padding: 10px 20px;
				margin-top: 15px;
				border-width: 1px;
			}
		}

		&:hover{

			z-index: 5;

			.card__item-legend{
				display: block;
			}

			.card__inner{
				border: 2px solid $colorYellow;
				margin: -2px;

				@include breakpoint($bp1){
					border-width: 1px;
					margin: -1px;
				}
			}

			.card__item-more{
				display: block;
			}
		}

		&-announce{
			background: $colorYellow;
			color: #fff;
			height: 100px;
			font-size: 36px;
			font-weight: 500;
			line-height: 100px;
			padding: 0 25px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@include breakpoint($bp1){
				font-size: 18px;
				line-height: 50px;
				height: 50px;
				padding: 0 15px;
			}

		}


	}

	&__locked{
		position: absolute;
		top: 0;
		cursor: default;
		background: rgba(#fff, 0.7);
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		.ico{
			width: 153px;
			height: 207px;
			background: url("../img/ico/lock.svg") no-repeat 50% 50%;
			background-size: contain;
			position: absolute;
			top:0;
			right:0;
			left: 0;
			bottom: 0;
			margin: auto;

			@include breakpoint($bp1){
				width: 80px;
				height: 107px;
			}
		}

		.info{
			width: 40px;
			height: 40px;
			display: inline-block;
			@include box-shadow();
			border-radius: 50%;
			background: #fff url("../img/ico/ico-card-info.svg") no-repeat 50% 50%;
			background-size: contain;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -111px;
			margin-left: 64px;

			@include breakpoint($bp1){
				width: 20px;
				height: 20px;
				margin-top: -58px;
				margin-left: 30px;
			}
		}

		& ~ .card__inner{
			border: none!important;
			margin: 0!important;
		}

		& ~ .card__inner .card__item-announce{
			background: $colorGreyLight;
		}

		& ~ .card__inner .card__item-info .card__item-more{
			display: none!important;
		}

		& ~ .card__inner .card__item-info .card__item-price-btn{
			background-color: $colorGreyLight!important;
		}
	}

	&__more{

		&-btn{
			font-size: 36px;
			color: $colorGrey;
			text-align: center;
			border-radius: 100px;
			border: 1px solid transparent;
			@include box-shadow();
			background: #fff;
			padding: 22px 40px;
			cursor: pointer;

			&:hover{
				border-color: $colorYellow;
				color: $colorYellow;
			}

			@include breakpoint($bp1){
				font-size: 18px;
				padding: 11px 20px;
				width: 400px;
				margin: 45px auto 0;
			}
		}
	}

	&__advice{
		margin: 30px 0;
		position: relative;

		@include breakpoint($bp1){
			margin: 15px;
			display: inline-block;
			vertical-align: top;
			width: 272px;
			height: 410px;
		}

		&-quote{
			background: $colorYellow;
			color: #fff;
			position: relative;
			padding: 25px 30px;
			border-radius: 0 0 10px 10px;
			z-index: 1;

			&:after{
				content: '';
				width: 23px;
				height: 20px;
				background: url("../img/quote-tail_yellow.svg") 0 0 no-repeat;
				background-size: contain;
				display: block;
				position: absolute;
				bottom: -18px;
				left: 20px;
			}

			.text{
				font-size: 30px;
				margin-bottom: 10px;
				line-height: 1.4;

				@include breakpoint($bp1){
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
			.title{
				font-size: 36px;
				font-weight: 500;
				margin-bottom: 30px;

				@include breakpoint($bp1){
					font-size: 26px;
					margin-bottom: 10px;
				}
			}
		}

		&-image{
			bottom: 0;
			left: 0;
			width: 100%;

			@include breakpoint($bp1){
				position: absolute;
			}

			img{
				display: block;
				width: 100%;
			}
		}
	}

	&__feedback{
		margin: 30px 0;

		@include breakpoint($bp1){
			margin: 15px;
			display: inline-block;
			vertical-align: top;
			width: 272px;
			height: 460px;
		}

		&-image{
			width: 220px;
			height: 220px;
			float: left;

			@include breakpoint($bp1){
				width: 90px;
				height: 90px;
			}
		}

		&-title{
			font-size: 36px;
			font-weight: 500;
			margin: 0 20px 25px 250px;
			overflow: hidden;
			height: 175px;
			padding: 20px 0 0;

			@include breakpoint($bp1){
				margin: 0 15px 15px 105px;
				font-size: 16px;
				height: 58px;
				padding: 17px 0 0;
			}
		}

		&-info{
			font-size: 30px;
			padding: 30px;

			@include breakpoint($bp1){
				font-size: 14px;
				padding: 12px;
			}
		}

		&-about{
			display: table;
			width: 100%;
			margin-bottom: 25px;

			@include breakpoint($bp1){
				margin-bottom: 12px;
			}

			&-item{
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				&:first-child{
					text-align: left;
				}

				&:last-child{
					text-align: right;
				}


				.ico{
					display: inline-block;
					width: 30px;
					height: 30px;
					vertical-align: middle;
					margin-right: 20px;

					@include breakpoint($bp1){
						width: 16px;
						height: 16px;
						margin-right: 5px;
					}

					img{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
		}

		&-quote{
			background: #f2f2f2;
			color: $colorGrey;
			padding: 20px;
			border-radius: 5px;
			margin-bottom: 35px;
			position: relative;

			@include breakpoint($bp1){
				padding: 15px;
				max-height: 219px;
			}

			&:after{
				content: '';
				width: 23px;
				height: 20px;
				background: url("../img/quote-tail.svg") 0 0 no-repeat;
				background-size: contain;
				display: block;
				position: absolute;
				bottom: -18px;
				left: 20px;
			}
		}

		&-author{

			color: $colorGrey;

			b{
				color: $colorDark;
				font-weight: 600;
			}
		}
	}

	&_courses{


		.card__item{
			height: 885px;

			@include breakpoint($bp1){
				height: 486px;
			}
		}

		.card__advice{

			@include breakpoint($bp1){
				height: 486px;
			}
		}
	}
}

.pagenav{

	font-weight: 500;
	font-size: 36px;
	height: 84px;
	position: relative;

	@include breakpoint($bp1){
		height: auto;
	}

	&__list{
		background: #fff;
		height: 0;
		@include box-shadow();
		overflow: hidden;
		border-radius: 100px;
		padding-top: 84px;
		position: relative;

		@include breakpoint($bp1){
			display: block;
			height: 60px;
			font-size: 0;
			@include box-shadow('none');
			padding: 0;
			margin: 0;
			border-radius: 0;
		}
	}

	&__item{

		height: 84px;
		line-height: 84px;
		padding: 0 84px 0 40px;

		&.is-active{
			position: absolute;
			top:0;

			.pagenav__link{
				cursor: default;
			}
		}

		@include breakpoint($bp1){
			padding: 0;
			height: auto;
			line-height: 1.2;
			display: inline-block;
			margin-right: 40px;
			position: static!important;

			&:last-child{
				margin: 0;
			}

			&:hover,
			&.is-active{
				.pagenav__link{
					&:after{
						height: 4px;
					}
				}
			}
		}
	}

	&__link{
		@include breakpoint($bp1){
			height: 60px;
			line-height: 60px;
			display: block;
			font-size: 18px;
			font-weight: 500;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 0;
				background: $colorYellow;
				@include transition(height 0.3s ease);
			}
		}
	 }

	&__filter{
		width: 84px;
		height: 84px;
		@include box-shadow();
		border-radius: 50%;
		background: #fff url("../img/ico/ico-filter.svg") no-repeat 50% 50%;
		background-size: 100%;
		position: absolute;
		top:0;
		right: 0;
		cursor: pointer;

		& ~ .pagenav__list{
			margin-right: 110px;
		}

		@include breakpoint($bp1){
			display: none;
		}
	}

	&__handle{
		position: absolute;
		top:0;
		right: 0;
		width: 84px;
		height: 84px;
		background: #fff url("../img/ico/arrow-slider-down.svg") no-repeat 50% 50%;
		background-size: 75%;
		cursor: pointer;
		z-index: 1;

		@include breakpoint($bp1){
			display: none;
		}
	}

	&.is-open{
		margin: 0;

		.pagenav__list{
			height: auto;
			border-radius: 0;
			margin: 0;
			z-index: 2;
		}

		.pagenav__handle{
			background: #fff;
			&:before,
			&:after{
				content: '';
				width: 36px;
				height: 4px;
				background: $colorGreyLight;
				border-radius: 100px;
				position: absolute;
				top:50%;
				left: 50%;
				margin-top: -2px;
				margin-left: -18px;
			}
			&:before{
				@include transform(rotate(-45deg));
			}
			&:after{
				@include transform(rotate(45deg));
			}
		}

	}
}

.filter{

	padding: 30px 0;
	position: absolute;
	top: -114px;
	left: 0;
	width: 100%;
	z-index: 10;
	display: none;
	background: $colorBg;



	&.is-disabled,
	.is-disabled{

		& > *{
			opacity: 0.5;
		}

		*{
			cursor: default!important;
		}

	}

	@include breakpoint($bp1){
		display: block;
		position: static;
		font-size: 0;
		padding: 0;
	}

	&.show-filter {
		display: block;

		@include breakpoint(0, $bp1){
			.filter__inner{
				@include box-shadow(0 20px 10px -10px rgba(0,0,0,0.5));
			}
		}
	}

	&__inner{
		margin: -10px;
		padding: 10px;
		background: $colorBg;
		overflow: hidden;

		@include breakpoint($bp1){

			overflow: visible;
			margin: 0;
			padding: 0;

		}
	}

	&__close{
		position: absolute;
		top:30px;
		right: 0;
		width: 84px;
		height: 84px;
		cursor: pointer;
		z-index: 1;
		background: #fff;
		@include box-shadow();
		border-radius: 50%;

		@include breakpoint($bp1){
			display: none;

			.course-list &{
				display: none;
			}
		}

		&:before,
		&:after{
			content: '';
			width: 36px;
			height: 4px;
			background: $colorGreyLight;
			border-radius: 100px;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -2px;
			margin-left: -18px;
		}
		&:before{
			@include transform(rotate(-45deg));
		}
		&:after{
			@include transform(rotate(45deg));
		}
	}

	&__title{
		font-size: 36px;
		font-weight: 500;
		margin: 25px 0 55px;

		@include breakpoint($bp1){
			display: none;
		}
	}

	&__list{

		color: $colorGrey;
		@include box-shadow();
		background: #fff;
		overflow: hidden;
		margin: 0 0 30px 0;

		@include breakpoint($bp1){

			margin: 0 0 15px 0;

			.course-list &{
				background: none;
				@include box-shadow(none);
				width: 50%;
				display: inline-block;
				@include box-sizing();
				margin: 0;

				&:nth-of-type(2n-1){
					width: 590px;
				}

				&:nth-of-type(2n){
					padding-left: 15px;
				}
			}
		}

		&-title{
			font-size: 36px;
			padding: 25px 30px;
			border-bottom: 1px solid $colorBg;
			cursor: pointer;

			@include user-select();

			&:before,
			&:after{
				right: 40px;
				top:50%;


				@include breakpoint($bp1){
					right: 15px;
				}
			}

			@extend %arrow;
			@extend %arrowDown;



			@include breakpoint($bp1){
				font-size: 18px;
				padding: 12px 15px;
				border-bottom: none;

				.course-list &{
					display: none;
				}
			}
		}


		&-wrap{
			display: none;

			@include breakpoint($bp1){

				padding: 10px 0 20px;

				.course-list &{
					display: block;
					padding: 0;
				}
			}
		}

		&.is-open{
			.filter__list-wrap{
				display: block;
			}

			.filter__list-title{
				@extend %arrowUp;
			}
		}


		&_input{
			input{
				width: 100%;
				@include box-sizing();
				padding: 0 35px;
				height: 84px;
				line-height: 84px;
				font: inherit;
				display: block;
				background: #fff;
				border-radius: 100px;
				border: 1px solid $colorGreyLight;
				color: $colorDark;

				@include breakpoint($bp1){
					height: 42px;
					line-height: 42px;
					padding: 0 20px;
				}
			}
		}
	}

	&__item{
		font-size: 30px;
		display: block;
		position: relative;
		padding: 10px 30px;
		margin: 30px 0;

		@include breakpoint($bp1){
			font-size: 14px;

			padding: 7px 15px;
			margin: 0;

			.course-list &{
				display: inline-block;
				padding: 0;
				margin: 0 10px 10px 0;
			}
		}

		&-label{
			padding-left: 55px;

			@include breakpoint($bp1){

				padding-left: 30px;

				.course-list &{
					padding: 0 15px;
					background: #fff;
					border-radius: 100px;
					@include box-shadow();
					height: 40px;
					line-height: 40px;
				}
			}

			&:before{
				content: '';
				display: block;
				border: 1px solid $colorGreyLight;
				width: 38px;
				height: 38px;
				position: absolute;
				top: 8px;
				left: 30px;

				@include breakpoint($bp1){

					width: 18px;
					height: 18px;
					position: absolute;
					top: 5px;
					left: 15px;


					.course-list &{
						display: none;
					}
				}
			}

			&:after{
				content: '';
				width: 20px;
				height: 20px;
				background: transparent;
				position: absolute;
				top: 18px;
				left: 40px;
				background: $colorYellow;
				display: none;

				@include breakpoint($bp1){

					width: 10px;
					height: 10px;
					top: 10px;
					left: 20px;

					.course-list &{
						display: none!important;
					}
				}
			}

			.ico{
				width: 26px;
				height: 26px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				overflow: hidden;

				@include breakpoint($bp1){

					width: 16px;
					height: 16px;

					.course-list &{
						background: #fff;
						border-radius: 50%;
						border: 5px solid #fff;
						margin: -5px 5px -5px -5px;
					}
				}

				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		input{


			&:checked ~ .filter__item-label{
				&:before{
					border-color: $colorYellow;
				}
				&:after{
					display: block;
				}

				@include breakpoint($bp1){

					.course-list &{
						background: $colorYellow;
						color: #fff;
					}
				}
			}

			&[type='radio']{
				position: absolute;
				opacity: 0;

				& ~ .filter__item-label{
					&:before,
					&:after{
						border-radius: 50%;
					}
				}

				&:checked ~ .filter__item-label{
					&:after{
						background: $colorYellow;
					}
				}
			}

			&[type='checkbox']{
				position: absolute;
				opacity: 0;

				& ~ .filter__item-label{
					&:before{
						border-radius: 3px;
					}
					&:after{
						background: url("../img/ico/ico-list-check_white.svg") no-repeat 50% 50%;
						background-size: 240%;
					}
				}

				&:checked ~ .filter__item-label{
					&:before{
						border-color: $colorYellow;
						background: $colorYellow;
					}
				}
			}


			&:disabled{
				& ~ .filter__item-label{

					opacity: 0.5;
				}
			}

		}

		&-label{
			cursor: pointer;
		}
	}

	&__control{
		overflow: hidden;
		padding-bottom: 30px;

		@include breakpoint($bp1){

			display: none;
			.course-list &{
			}
		}

		&-clear{
			font-size: 36px;
			color: $colorGrey;
			line-height: 1;
			float: left;
			cursor: pointer;

			.ico{
				display: inline-block;
				vertical-align: middle;
				width: 84px;
				height: 84px;
				@include box-shadow();
				border-radius: 50%;
				background: #fff url("../img/ico/ico-trash.svg") no-repeat 50% 50%;
				background-size: 100%;
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-confirm{
			display: inline-block;
			font-size: 36px;
			color: #fff;
			float: right;
			height: 84px;
			line-height: 84px;
			background: $colorYellow;
			padding: 0 65px;
			@include box-shadow();
			border-radius: 100px;
			cursor: pointer;
		}
	}


	&__range{
		padding: 30px;
		font-size: 0;

		@include breakpoint($bp1){
			padding: 0 15px;
		}

		&-input{
			input{
				display: inline-block;
				border: 1px solid $colorGreyLight;
				border-radius: 100px;
				height: 84px;
				line-height: 84px;
				font:inherit;
				font-size: 36px;
				@include box-sizing();
				padding: 0 30px;
				width: 260px;

				&.i-from{
					margin-right: 15px;
				}

				@include breakpoint($bp1){
					height: 42px;
					line-height: 42px;
					font-size: 14px;
					padding: 0 20px;
					width: 96px;

					&.i-from{
						margin-right: 50px;
					}
				}
			}
		}

		&-item{

			height: 16px;
			margin: 30px 30px 60px;

			@include breakpoint($bp1){

				height: 8px;
				margin: 15px 15px 30px;
			}

			.noUi-handle{
				border: none;
				background: $colorYellow;
				@include box-shadow();

				width: 60px;
				height: 60px;
				margin-left: -30px;
				margin-top: -30px;

				left: 0;
				border-radius: 50%;

				top: 8px;

				@include breakpoint($bp1){
					width: 30px;
					height: 30px;
					margin-left: -15px;
					margin-top: -15px;
					top: 3px;
				}
			}

			.noUi-connect{
				background: $colorYellow;
			}

			.noUi-base{

				&:before{
					content: '';
					display: block;
					left: -30px;
					right: -30px;
					top: 0;
					bottom: 0;
					position: absolute;

					background: $colorGreyLight;
					border-radius: 100px;

					@include breakpoint($bp1){
						left: -15px;
						right: -15px;
					}
				}

			}
		}
	}


	&__calendar{

		&-select{
			padding: 40px 30px 20px;
			font-size: 36px;
			height: 84px;
			position: relative;

			@include breakpoint($bp1){

				padding: 0px 15px;
				font-size: 14px;
				height: 42px;
			}

			&.is-open{
				.filter__calendar-select-list{
					display: block;
				}

				.filter__calendar-select-name{
					border-color: $colorYellow;
					//color: transparent;

					&:before,
					&:after{
						display: none;
					}
				}
			}

			&-name{
				border: 1px solid $colorGreyLight;
				border-radius: 100px;
				height: 84px;
				line-height: 84px;
				padding: 0 40px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: $colorDark;
				cursor: pointer;


				@include breakpoint($bp1){
					height: 42px;
					line-height: 42px;
					padding: 0 20px;
				}


				&:before,
				&:after{
					right: 40px;
					top:50%;

					@include breakpoint($bp1){
						right: 20px;
					}
				}

				@extend %arrow;
				@extend %arrowDown;

				&:hover{
					border-color: $colorYellow;
					@extend %arrowActive;
				}
			}

			&-list{
				display: none;
				@include box-shadow(0 4px 4px rgba(26,26,26,0.2));
				position: absolute;
				z-index: 1;
				background: #fff;
				//top: 40px;
				left: 0px;
				right: 0px;

				.close{
					position: absolute;
					top: -215px;
					right: 0;
					width: 84px;
					height: 84px;
					cursor: pointer;
					z-index: 1;
					background: #fff;
					border-radius: 50%;

					@include breakpoint($bp1){
						display: none;

						.course-list &{
							display: none;
						}
					}

					&:before,
					&:after{
						content: '';
						width: 36px;
						height: 4px;
						background: $colorGreyLight;
						border-radius: 100px;
						position: absolute;
						top:50%;
						left: 50%;
						margin-top: -2px;
						margin-left: -18px;
					}
					&:before{
						@include transform(rotate(-45deg));
					}
					&:after{
						@include transform(rotate(45deg));
					}
				}
			}

			&-item{
				cursor: pointer;
				padding: 15px 70px;

				@include breakpoint($bp1){
					padding: 10px 30px;
				}

				&:hover{
					color: $colorYellow;
				}

				&.is-active{
					color: $colorYellow;
					display: none;
				}
			}
		}


		&-week{

			border-bottom: 1px solid rgba($colorGreyLight, 0.5);
			font-size: 0;
			padding: 13px;

			@include breakpoint($bp1){
				padding: 10px;
			}

			&-item{
				width: 74px;
				font-size: 30px;
				display: inline-block;
				vertical-align: top;
				margin: 4px;
				text-align: center;

				@include breakpoint($bp1){
					font-size: 12px;
					width: 30px;
					margin: 3px;
				}
			}
		}

		&-days{
			font-size: 0;
			padding: 20px 13px;

			@include breakpoint($bp1){
				padding: 5px 10px 0;
			}

			&-item{
				width: 74px;
				height: 74px;
				line-height: 74px;
				@include box-sizing();
				border-radius: 50%;
				font-size: 30px;
				display: inline-block;
				vertical-align: top;
				margin: 4px;
				text-align: center;
				color: $colorDark;


				@include breakpoint($bp1){
					font-size: 12px;
					width: 30px;
					margin: 3px;
				}

				&.last{
					opacity: 0.3;

					&.active{
						background: rgba($colorGrey, 0.1);
					}
				}

				&.today{
					border: 1px solid $colorYellow;
				}

				&.course{
					background: rgba($colorYellow, 0.2);
					color: $colorYellow;
					cursor: pointer;

					&:hover,
					&.active{
						background: $colorYellow;
						color: #fff;
					}
				}

				&.ahead{
					color: $colorGrey;

					&.course{
						background: rgba($colorGrey, 0.1);
					}
				}

				@include breakpoint($bp1){
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}






.course-welcome{
	background: $colorViolet no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	padding: 70px 0;
	min-height: 15vw;

	@include breakpoint($bp1){
		padding-bottom: 130px;
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 50px;
		}
	}

	&__text{
		font-size: 36px;
		font-weight: 500;

		@include breakpoint($bp1){
			font-size: 18px;
		}
	}

}

.page-nav{
	margin-top: 30px;

	@include breakpoint($bp1){
		margin: 0;
		background: #fff;
		@include box-shadow();
	}
}

.master-list,
.course-list{
	padding: 0 0 60px;

	&__filter{
		position: relative;
	}

	@include breakpoint($bp1){
		padding-top: 50px;
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;
		display: none;

		@include breakpoint($bp1){
			font-size: 42px;
			display: block;
		}
	}
}


.master-list{

	&__filter{

		@include breakpoint($bp1){
			float: left;
			width: 272px;
			margin-right: 30px;
		}
	}

	&__cards{

		@include breakpoint($bp1){
			float: left;
			width: 878px;
		}

		@include breakpoint($bp2){
			width: 1178px;
		}
	}
}



.course-free{
	background: $colorViolet;
	color: #fff;
	padding: 70px 0;
	position: relative;
	overflow: hidden;

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 42px;
			width: 500px;
		}

		@include breakpoint($bp2){
			width: 570px;
		}
	}

	&__text{
		font-size: 30px;
		line-height: 1.6;

		@include breakpoint($bp1){
			font-size: 14px;
			width: 500px;
			margin-bottom: 45px;
		}
	}

	&__image{


		@include breakpoint($bp1){
			position: absolute;
			width: 685px;
			left: 50%;
			bottom: 0;
		}

		img{
			width: 100%;
			display: block;
		}
	}

	&__form{
		position: relative;
		input[type='submit']{
			border-color: $colorYellowHover;
			background-color: $colorYellowHover;
			color: #fff;

			@include breakpoint($bp1){
				color: $colorVioletDeep;
				background: none;
				border-color: $colorVioletDeep;

				&:hover{
					border-color: $colorYellowHover;
					background-color: $colorYellowHover;
					color: #fff;
				}
			}

		}


		@include breakpoint($bp1){
			margin: 0 -15px;
			width: 590px;

			.form__field{
				display: inline-block;
				width: 50%;
				vertical-align: top;

				padding: 0 15px;
			}
		}
	}


	&__btns{

		margin: 50px 0;

		@include breakpoint($bp1, $bp2){
			display: inline-block;
			vertical-align: bottom;
			margin-top: -45px;
		}

		.btn{

			display: block;


			.course-free_item &{
				margin-bottom: 30px;

				@include breakpoint($bp1){
					margin-bottom: 0;
				}
			}

			@include breakpoint($bp1){
				display: inline-block;
				min-width: 250px;
				margin-right: 20px
			}

			&_white{
				color: $colorViolet;
			}
		}
	}


	&__doc{
		text-align: center;
		white-space: nowrap;
		margin: 50px 0;

		@include breakpoint($bp1 $bp2 - 1px){
			display: inline-block;
			vertical-align: bottom;
			width: 35%;
			margin-top: -45px;
		}

		@include breakpoint($bp2){
			text-align: left;
			margin-bottom: 0;
		}

		&-ico{
			display: inline-block;
			vertical-align: middle;
			width: 80px;
			margin-right: 40px;

			@include breakpoint($bp1){
				margin-right: 30px;
			}

			img{
				display: block;
				width: 100%;
			}
		}

		&-link{
			display: inline-block;
			vertical-align: middle;
			text-decoration: underline;
			font-size: 30px;

			@include breakpoint($bp1){
				font-size: 16px;
				text-align: left;
			}


			&:hover{
				text-decoration: none;
			}

		}
	}


	&__info{
		@include breakpoint($bp2){
			width: 40%;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__view{
		background: #fff;
		padding: 20px;
		@include box-sizing();


		img{
			display: block;
			width: 100%;
		}

		@include breakpoint($bp1){
			padding: 30px;
		}

		@include breakpoint($bp2){
			width: 60%;
			vertical-align: middle;
			display: inline-block;
		}
	}


	&_item{
		margin-bottom: -50px;
		font-size: 0;

		@include breakpoint($bp2){
			@include box-sizing();
			height: calc(100vh + 50px);
			font-size: 0;
			text-align: center;
			min-height: 700px;
			padding-top: 0;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		.inner{
			@include breakpoint($bp2){

				display: inline-block;
				vertical-align: middle;
				text-align: left;

			}

		}
	}

}


.course-main{
	background: #deddde;

	.inner{
		min-height: 490px;
		padding-top: 60px;
		background: #deddde url("../img/am-school.jpg") no-repeat left 50% bottom -30px;
		padding-bottom: 290px;

		@include breakpoint($bp1){
			padding-left: 605px;
			padding-bottom: 0;
			background-position: left 0 top 0;
		}

		@include breakpoint($bp2){
			padding-left: 905px;
			padding-bottom: 0;
			background-position: left 90px top 0;
		}

	}


	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 42px;
			width: 500px;
		}

	}

	&__labels{

		&-item{

			background: #fff;
			padding: 30px;
			@include box-shadow();
			margin: 30px 0;


			@include breakpoint($bp1){
				margin: 10px 0;
				padding: 20px 30px;
			}

			&_online{
				background: #fff url("../img/label_school.png") no-repeat top -22px right -115px;

				@include breakpoint($bp1){
					background-position: top -35px right -60px;
				}
			}

			&_diary{
				background: #fff url("../img/label_diary.png") no-repeat top 0 right -35px;

				@include breakpoint($bp1){
					background-position: top 6px right 13px;
				}
			}
		}

		&-title{
			font-size: 36px;
			font-weight: 500;
			margin-bottom: 30px;

			@include breakpoint($bp1){
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		&-btn{

			.btn{
				display: block;

				@include breakpoint($bp1){
					width: 225px;
				}
			}
		}

	}
}


.course-subscribe{
	background: $colorViolet;
	color: #fff;
	padding: 70px 0 430px;
	position: relative;
	overflow: hidden;

	@include breakpoint($bp1){
		padding: 90px 0;
	}

	.inner{
		position: static;
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 42px;
			width: 500px;
		}
	}

	&__text{
		font-size: 30px;
		line-height: 1.6;
		margin-bottom: 50px;

		@include breakpoint($bp1){
			font-size: 14px;
			width: 500px;
			margin-bottom: 25px;
		}

		@include breakpoint($bp2){
			width: 600px;
		}
	}

	&__image{

		width: 732px;
		height: 593px;
		position: absolute;
		left: 50%;
		margin-left: -380px;
		bottom: -230px;


		@include breakpoint($bp1){
			margin-left: -155px;
		}

		@include breakpoint($bp2){
			margin-left: 50px;
		}

		img{
			width: 100%;
			display: block;
		}
	}

	&__form{
		input[type='submit']{
			border-color: $colorYellowHover;
			background-color: $colorYellowHover;
			color: #fff;

			@include breakpoint($bp1){
				color: $colorVioletDeep;
				background: none;
				border-color: $colorVioletDeep;

				&:hover{
					border-color: $colorYellowHover;
					background-color: $colorYellowHover;
					color: #fff;
				}
			}
		}


		@include breakpoint($bp1){
			margin: 0 -15px;
			width: 590px;

			.form__field{
				width: 50%;
				vertical-align: top;

				padding: 0 15px;
			}
		}

		@include breakpoint($bp2){

			.form__field{
				display: inline-block;
			}
		}
	}
}



.course-slider{

	padding: 65px 0 ;


	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 15px;

		@include breakpoint($bp1){
			font-size: 42px;
			margin-bottom: 30px;
		}
	}

	&__text{
		font-size: 30px;
		color: $colorGrey;
		line-height: 1.5;
		margin-bottom: 50px;

		@include breakpoint($bp1){
			font-size: 15px;
			line-height: 1.3;
			margin-bottom: 25px;
		}
	}

	&__btn{
		margin-bottom: 30px;

		.btn{
			display: block;
			@include box-shadow();

			@include breakpoint($bp1){
				display: inline-block;
			}
		}
	}

	&__info{

		@include breakpoint($bp1){
			width: 270px;
			float: left;
			position: relative;
			z-index: 2;
		}

		@include breakpoint($bp2){
			width: 550px;
		}
	}
	&__wrap{

		@include breakpoint($bp1){
			margin-left: 300px;
			position: relative;
			z-index: 1;

			&:before{
				content: '';
				display: block;
				position: absolute;
				background: $colorBg;
				top: -10px;
				bottom: -10px;
				right: calc( 100% + 5px );
				width: 500%;
				z-index: 10;
			}
		}

		@include breakpoint($bp2){
			margin-left: 600px;
		}
	}

	&__list{

		padding-bottom: 150px;
		margin: 0 -15px;

		@include breakpoint($bp1){
			padding-bottom: 0px;
		}

		.card__item{
			margin: 0 15px;
		}


		.slick{

			&-list{
				overflow: visible;
				z-index: 1;
			}

			&-arrow{
				position: absolute;
				bottom: 0;

				@include breakpoint($bp1){
					bottom: auto;
					top: -80px;
				}
			}

			&-prev{
				left: 180px;

				@include breakpoint($bp1){
					left: auto;
					right: 80px;
				}
			}

			&-next{
				right: 180px;

				@include breakpoint($bp1){
					right: 0;
				}
			}

		}
	}


}




.course-work{
	padding: 65px 0 90px;
	background: #fff;

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 75px;

		@include breakpoint($bp1){
			font-size: 42px;
		}
	}

	&__steps{

		@include breakpoint($bp1){
			float: left;
			width: 900px;
		}

		&-title{
			font-size: 50px;
			font-weight: 500;
			margin-bottom: 30px;

			@include breakpoint($bp1){
				font-size: 36px;
				float: left;
				width: 100%;
			}
		}

		&-item{

			@include breakpoint($bp1){
				float: left;
				width: 250px;
				margin-right: 50px;
			}

			.image{
				width: 260px;
				height: 260px;
				margin: 30px auto;

				@include breakpoint($bp1){
					width: 130px;
					height: 130px;
					margin-left: 0;
				}

				img{
					width: 100%;
					height: 100%;
				}
			}

			.title{
				font-size: 36px;
				font-weight: 500;
				margin-bottom: 25px;

				@include breakpoint($bp1){
					font-size: 24px;
				}
			}

			.text{
				font-size: 30px;
				color: $colorGrey;

				@include breakpoint($bp1){
					font-size: 15px;
					line-height: 1.5;
				}
			}

		}
	}

	&__advice{
		display: none;

		@include breakpoint($bp1){
			float: right;
			display: block;
			width: 272px;

		}

		.card{

			&__list{}

			&__advice{

				&-quote{
					border-radius: 10px;
				}
			}

			&__inner{
				@include box-shadow(none);
			}

			.slick{

				&-arrow{
					position: absolute;
					top:0;
					right: 0;
					z-index: 2;
					margin-top: -10px;

					@include transition(top 0.2s ease);
				}

				&-prev{
					right: 90px;
				}

				&-next{
					right: 30px;
				}
			}
		}
	}




	&__menu{
		display: none;

		@include breakpoint($bp2){
			display: block;
			float: left;
			width: 300px;
			position: relative;
		}

		&-list{
			font-size: 15px;
			color: $colorGrey;
		}

		&-item{
			margin: 15px 0;
		}

		&-link{
			font: inherit;
			background: #fff;
			padding: 0 5px;
			border-radius: 3px;

			&:hover{
				color: $colorYellow;
			}

			&.is-active{
				font-weight: 600;
				color: $colorYellow;
			}
		}
	}
}





.course-advantages{

	padding: 70px 0 40px;

	@include breakpoint($bp1){
		padding: 100px 0;
	}

	&__title{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
			margin-bottom: 85px;
		}

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}

	&__list{


		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}

	&__item{

		@include breakpoint($bp1){
			float: left;
			width: 25%;
			@include box-sizing();
			padding-right: 70px;

			&:last-child{
				padding-right: 0;
			}
		}


		.num{
			font-size: 62px;
			font-weight: 900;
			margin-bottom: -42px;
			color: $colorYellow;

			@include breakpoint($bp1){
				font-size: 50px;
				margin-bottom: 25px;
				position: relative;

				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background: $colorYellow;
					top: 25px;
					left: 155px;
				}
			}
		}

		.text{
			font-size: 30px;
			margin: 0 0 40px 60px;

			@include breakpoint($bp1){
				font-size: 15px;
				margin: 0 0 20px 0;
			}
		}

		.title{
			font-size: 36px;
			font-weight: 600;
			margin: 0 0 40px 60px;

			@include breakpoint($bp1){
				font-size: 18px;
				margin: 0 0 20px 0;
			}
		}
	}
}



.course-kitchen{
	background: #fff;
	padding: 70px 0 30px;

	@include breakpoint($bp1){
		padding: 70px 0;
	}

	&__title{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 50px;

		@include breakpoint($bp1){
			font-size: 36px;
			margin-bottom: 85px;
		}

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}

	&__steps{


		@include breakpoint($bp2){
			margin-left: 300px;
		}
		&-item{

			@include breakpoint($bp1){
				float: left;
				width: 25%;
				@include box-sizing();
				padding-right: 50px;
			}

			.image{
				width: 240px;
				height: 240px;
				margin: 30px auto;

				@include breakpoint($bp1){
					width: 120px;
					height: 120px;
					margin-left: 0;
				}

				img{
					width: 100%;
					height: 100%;
				}
			}


			.title{
				font-size: 36px;
				font-weight: 600;
				margin-bottom: 25px;

				@include breakpoint($bp1){
					font-size: 24px;
				}
			}

			.text{
				font-size: 30px;
				color: $colorGrey;

				@include breakpoint($bp1){
					font-size: 15px;
					line-height: 1.5;
				}
			}
		}
	}
}



.course-faq{
	background: #fff;
	padding: 70px 0 40px;

	&__title{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			font-size: 36px;
		}

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}
	&__list{

		@include breakpoint($bp1){
			float: left;
			width: 575px;
			margin-top: 40px;
		}

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}
	&__item{
		position: relative;
		min-height: 130px;

		@include breakpoint($bp1){
			min-height: 70px;
		}

		.handle{
			position: absolute;
			width: 84px;
			height: 84px;
			top:0;
			right: 0;
			border-radius: 50%;
			@include box-shadow();
			background: #fff;
			@include transition(all 0.3s ease);
			cursor: pointer;

			@include breakpoint($bp1){
				width: 40px;
				height: 40px;
				top:-11px;
			}

			&:before,
			&:after{
				content: '';
				width: 36px;
				height: 4px;
				background: $colorYellow;
				border-radius: 100px;
				position: absolute;
				top:50%;
				left: 50%;
				margin-top: -2px;
				margin-left: -18px;

				@include breakpoint($bp1){
					width: 18px;
					margin-left: -9px;
				}
			}
			&:after{
				@include transform(rotate(90deg));
			}
		}

		.question{
			font-size: 36px;
			font-weight: 600;
			padding-right: 140px;

			@include breakpoint($bp1){
				font-size: 18px;
				padding-right: 160px;
			}
		}

		.ansver{
			font-size: 30px;
			color: $colorGrey;
			padding: 30px 90px 60px 0;
			display: none;

			@include breakpoint($bp1){
				font-size: 15px;
				padding: 10px 50px 40px 0;
			}
		}

		&.is-open{
			.handle{
				background: $colorYellow;
				@include transform(rotate(45deg));

				&:before,
				&:after{
					background: #fff;
				}
			}

			.ansver{
				display: block;
			}
		}
	}


	&__respondent{
		display: none;

		@include breakpoint($bp1){
			display: block;
			float: right;
			width: 450px;
		}

		&-item{
			overflow: hidden;
			margin-bottom: 40px;

			.image{
				width: 150px;
				height: 150px;
				float: left;

				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.title{
				margin: 25px 0 20px 180px;
				font-size: 24px;
				font-weight: 600;
			}
			.text{
				margin: 0 0 0 180px;
				font-size: 15px;
				color: $colorGrey;
				line-height: 1.5;
			}
		}
	}

}











.course-differences{
	background: $colorViolet;
	color: #fff;
	padding: 70px 0 30px;

	@include breakpoint($bp1){
		padding: 90px 0 40px;
	}

	&__title{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 50px;

		@include breakpoint($bp1){
			font-size: 36px;
		}

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}

	&__list{

		@include breakpoint($bp2){
			margin-left: 300px;
		}
	}

	&__item{

		padding-left: 110px;
		position: relative;

		@include breakpoint($bp1){
			padding: 0;
			float: left;
			width: 25%;
			@include box-sizing();
			padding-right: 100px;

			&:last-child{
				padding-right: 0;
			}
		}

		.marker{
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: #fff;
			@include box-shadow();
			position: absolute;
			top:0;
			left: 0;

			@include breakpoint($bp1){
				position: static;
				width: 40px;
				height: 40px;
				margin-bottom: 40px;
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.title{
			font-size: 36px;
			font-weight: 600;
			margin-bottom: 35px;

			@include breakpoint($bp1){
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		.text{
			font-size: 30px;
			margin-bottom: 45px;

			@include breakpoint($bp1){
				font-size: 15px;
			}

			ul{
				li{

					position: relative;
					padding: 0 0 15px 60px;

					@include breakpoint($bp1){
						padding: 0 0 5px 27px;
					}

					&:before{
						content: '';
						display: block;
						width: 84px;
						height: 84px;
						border-radius: 50%;
						background: url("../img/ico/ico-list-check.svg") no-repeat 50% 50%;
						background-size: contain;
						position: absolute;
						top: -20px;
						left: -20px;

						@include breakpoint($bp1){
							width: 40px;
							height: 40px;
							top: -12px;
							left: -12px;
						}
					}
				}
			}
		}
	}
}




.course-feedbacks{
	padding: 70px 0;

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 20px;

		@include breakpoint($bp1){
			font-size: 42px;
		}
	}
}






.master-breadcramb,
.breadcramb{
	padding: 10px 0;
	background: #fff;

	&__back{
		font-size: 36px;
		font-weight: 500;
		display: inline-block;

		@include breakpoint($bp1){
			font-size: 18px;
			line-height: 42px;
			padding-right:30px;

			& ~ .master-breadcramb__title{
				border-left: 1px solid $colorGreyLight;
			}
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 84px;
			height: 84px;
			border-radius: 50%;
			background: $colorYellow;
			@include box-shadow();
			margin-right: 20px;

			@include breakpoint($bp1){
				width: 42px;
				height: 42px;
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		span{
			display: inline-block;
			vertical-align: middle;

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 85px;

				@include breakpoint($bp1){
					height: 42px;
				}
			}
		}
	}

	&__title{
		display: none;

		@include breakpoint($bp1){
			font-weight: 500;
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			line-height: 42px;
			padding-left: 20px;
			position: relative;
			padding-right: 10px;


			&.is-active{
				&:after{
					content: '';
					display: block;
					height: 4px;
					background: $colorYellow;
					position: absolute;
					left: 0px;
					right: 0;
					bottom: -10px;
				}
			}

		}
	}


	&__filter{

		float: right;
		color: $colorGrey;
		font-size: 36px;
		font-weight: 500;
		line-height: 84px;
		cursor: pointer;
		padding-right: 70px;

		@include breakpoint($bp1){
			font-size: 18px;
			line-height: 42px;
			padding-right:45px;

		}

		&:before,
		&:after{
			right: 40px;
			top:50%;

			@include breakpoint($bp1){
				right: 20px;
			}
		}

		@extend %arrow;
		@extend %arrowDown;

		&:hover{
			border-color: $colorYellow;
			@extend %arrowActive;
		}

		@include breakpoint($bp2){
			display: none;
		}

		.show-filter &{
			@extend %arrowUp;
		}
	}

}



.master-welcome{
	background: url("../img/master-item-bg.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	padding: 60px 0 70px;

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 60px;

		@include breakpoint($bp1){
			font-size: 42px;
			margin-bottom: 10px;
		}
	}

	&__legend{


		&-item{
			margin: 20px 0;
			font-size: 30px;

			b{
				font-weight: 500;
			}

			@include breakpoint($bp1){
				display: inline-block;
				font-size: 18px;
				margin-right: 40px;
			}

			.ico{
				display: inline-block;
				vertical-align: middle;
				width: 32px;
				height: 32px;
				margin-right: 15px;

				@include breakpoint($bp1){
					width: 16px;
					height: 16px;
					margin-right: 10px;
				}

				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			.text{
				display: inline-block;
				vertical-align: middle;
			}



			.info{
				display: none;

				@include breakpoint($bp1){
					display: inline-block;
					width: 20px;
					height: 20px;
					@include box-shadow();
					vertical-align: middle;
					margin-left: 10px;
					border-radius: 50%;
					background: #fff url("../img/ico/ico-card-info.svg") no-repeat 50% 50%;
					background-size: contain;
				}
			}
		}
	}

	&__control{
		display: none;

		&-item{
			display: block;
			overflow: hidden;
			margin-bottom: 20px;
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			background: #fff;
			@include box-shadow();
			float: left;

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		span{
			display: block;
			margin-left: 70px;
			margin-top: 10px;
			font-size: 14px;
			line-height: 1.3;
			white-space: nowrap;
		}

		@include breakpoint($bp1){
			display: block;
			float: right;
		}
	}
}



.master-video{
	padding: 30px 0;

	.inner{
		@include breakpoint($bp2){
			padding-right: 300px;
		}
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
		}
	}

	&__player{
		background: #fff;
		@include box-shadow();
		padding: 20px;
		@include box-sizing();

		@include breakpoint($bp1){
			padding: 40px;
		}

		&-item{

		}

	}

	&__advice{
		display: none;


		@include breakpoint($bp2){
			display: block;
			float: right;
			margin-right: -300px;

			.card__advice{
				margin: 0;
			}
		}

	}
}




.master-photo{
	padding: 30px 0;

	&_aside{

		.inner{

			@include breakpoint($bp2){
				padding-right: 300px;
			}
		}
	}

	.inner{

		@include breakpoint($bp2){
		}
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
		}
	}


	&__veiw{

		background: #fff;
		@include box-shadow();
		overflow: hidden;
		padding: 10px 30px;

		@include breakpoint($bp1){
			//width: 1120px;
		}
	}

	&__carousel{
		margin: 20px 0;


		@include breakpoint($bp1){
			width: 272px;
			float: left;
			margin-right: 30px;
		}

		&-list{

			.slick{

				&-list{

					@include breakpoint($bp1){
						border: 3px solid $colorYellow;
					}
				}

				&-arrow{
					position: absolute;
					bottom: -100px;
					margin-top: 0;
					z-index: 1;

					@include breakpoint($bp1){
						top:auto;
						bottom: -65px;
					}
				}

				&-prev{
					right: 100px;

					@include breakpoint($bp1){
						right: auto;
						left: 0;
					}
				}

				&-next{
					right: 0px;

					@include breakpoint($bp1){
						right: auto;
						left: 80px;
					}
				}
			}
		}

		&-item{
			width: 600px;
			height: 380px;

			@include breakpoint($bp1){
				width: 266px;
				height: 184px;
			}
		}

		&-counter{
			font-size: 36px;
			color: $colorGrey;
			text-align: left;
			display: block;
			margin: 40px 0 30px;

			@include breakpoint($bp1){
				margin: 25px 0 0;
				display: block;
				text-align: right;
				font-size: 24px;
				color: $colorGrey;
				font-weight: 500;
			}
		}
	}

	&__slider{
		font-size: 0;
		margin: 20px 0;
		display: none;

		@include breakpoint($bp1){
			float: right;
			width: 818px;
			display: block;
		}

		.lk &{
			@include breakpoint($bp1){
				width: 518px;
			}
			@include breakpoint($bp2){
				width: 818px;
			}
		}

		&-list{
			margin-right: -30px;

			@include breakpoint($bp1){
				//padding-right: 30px;

				.mCSB_scrollTools .mCSB_draggerContainer{
					right: 30px;
				}
			}
		}

		&-double{
			display: inline;

			@include breakpoint($bp1){
				display: inline-block;
				vertical-align: top;

				.master-photo__slider-item{
					display: block!important;
				}
			}
		}

		&-item{
			display: inline-block;
			margin: 0 20px 20px 0;
			overflow: hidden;
			width: 186px;
			height: 186px;
			cursor: pointer;

			@include breakpoint($bp1){
				width: 272px;
				height: 190px;
				margin-right: 30px;
			}

			/*&:last-child{
				margin-right: 0;
			}*/

			/*@include breakpoint(0 $bp1 - 1px){
				&:nth-of-type(3n){
					margin-right: 0;
				}
			}*/

			&.is-hidden{
				display: none;

				@include breakpoint($bp1){
					display: inline-block;
				}
			}
		}

		&-more{

			display: none;

			.btn{
				font-size: 36px;
				color: $colorGrey;
				text-align: center;
				border-radius: 100px;
				@include box-shadow();
				background: #fff;
				padding: 0 40px;
				cursor: pointer;
				border: 1px solid transparent;
				display: block;

				&:hover{
					border-color: $colorYellow;
					color: $colorYellow;
				}
			}

			@include breakpoint($bp1){
				display: none;
			}
		}

		.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
			background: #ededed;
		}
	}


	&_big{

		.master-photo{
			&__carousel{
				@include breakpoint($bp1){
					width: 572px;

					&-list .slick-list{
						border: none;
					}
					&-item{
						width: 572px;
						height: 400px;
					}
				}
			}

			&__slider{
				@include breakpoint($bp1){
					width: 518px;
				}

				@include breakpoint($bp2){
					width: 818px;
				}
			}
			&__veiw{
				width: auto;
			}
		}
	}



	&_pure{

		.master-photo__veiw{
			background: none;
			@include box-shadow(none);
			padding-left: 0;
			padding-right: 0;
		}

		.master-photo__slider{
			@include breakpoint($bp1){
				width: 578px;
			}

			@include breakpoint($bp2){
				width: 878px;
			}
		}
	}


}



.master-cooking{
	padding: 30px 0 40px;

	@include breakpoint($bp1){
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
		}
	}

	&__link{
		padding: 10px 0;
		overflow: hidden;
		display: block;

		&-ico{
			display: block;
			float: left;
			width: 75px;
			height: 94px;

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&-title{
			display: none;

			@include breakpoint($bp1){
				display: block;
				font-size: 24px;
				font-weight: 500;
				margin-left: 105px;
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}

		&-text{
			display: none;

			@include breakpoint($bp1){
				display: block;
				font-size: 15px;
				color: $colorGrey;
				margin-left: 105px;
			}
		}

		&-btn{
			height: 84px;
			line-height: 84px;
			color: #fff;
			text-align: center;
			border-radius: 100px;
			@include box-shadow();
			background: $colorYellow;
			font-size: 36px;
			margin-left: 110px;
			margin-top: 5px;

			@include breakpoint($bp1){
				display: none;
			}
		}

	}



	&__content{
		font-size: 36px;
		background: #fff;
		@include box-shadow();
		padding: 40px 30px;

		@include breakpoint($bp1){
			font-size: 15px;
		}

		:first-child{
			margin-top: 0;
		}

		.title{
			font-size: 50px;
			font-weight: 500;
			margin: 50px 0 30px;

			@include breakpoint($bp1){
				font-size: 36px;
				margin: 30px 0 20px;
			}
		}

		.subtitle{
			font-size: 50px;
			font-weight: 500;
			margin: 50px 0 30px;

			@include breakpoint($bp1){
				font-size: 18px;
				margin: 30px 0 20px;
			}
		}

		.advice{
			margin: 60px 0;
			overflow: hidden;

			&__author{
				width: 86px;
				height: 86px;
				float: left;

				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			&__text{
				margin-left: 125px;
				color: #fff;
				background: $colorYellow;
				border-radius: 5px;
				position: relative;
				padding: 30px;

				@include breakpoint($bp1){
					margin-left: 180px;
				}

				&:before{

					content: '';
					width: 23px;
					height: 20px;
					background: url("../img/quote-tail_yellow.svg") 0 0 no-repeat;
					background-size: contain;
					display: block;
					position: absolute;
					left: -18px;
					top: 20px;
					@include transform(scale(-1, 1) rotate(-90deg))
				}
			}
		}

		p{
			margin: 20px 0;

			@include breakpoint($bp1){
				margin: 15px 0;
			}
		}

		ol{

			counter-reset: list1;
			margin: 40px 0;

			@include breakpoint($bp1){
				margin: 30px 0;
			}

			li{
				position: relative;
				display: block;
				margin: 30px 0 30px 60px;
				list-style-type: none;
				border-bottom: 1px solid $colorBg;
				padding-bottom: 30px;

				@include breakpoint($bp1){
					margin: 15px 0 15px 180px;
					padding-bottom: 15px;
				}

				&:before {
					counter-increment: list1;
					content: counter(list1) ".";
					position: absolute;
					top: 0;
					left: -60px;
					color: $colorGrey;

					@include breakpoint($bp1){
						left: -180px;
					}
				}
			}
		}

		ul{
			margin: 40px 0;

			@include breakpoint($bp1){
				margin: 30px 0;
			}

			li{
				position: relative;
				display: block;
				margin: 30px 0 30px 60px;

				@include breakpoint($bp1){
					margin-left: 40px;
				}

				&:before{
					content: '';
					display: block;
					width: 84px;
					height: 84px;
					border-radius: 50%;
					background: url("../img/ico/ico-list-check.svg") no-repeat 50% 50%;
					background-size: contain;
					position: absolute;
					top: -25px;
					left: -80px;

					@include breakpoint($bp1){
						width: 40px;
						height: 40px;
						top: -12px;
						left: -50px;
					}
				}
			}
		}
	}
}



.master-feedback{
	padding: 30px 0 100px;

	.inner{

		@include breakpoint($bp2){
			padding-right: 300px;
		}
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
		}
	}

	&__add{

		position: relative;

		.btn{
			display: block;

			@include breakpoint($bp1){
				position: absolute;
				right: 0;
				top:-75px;
			}
		}
	}

	&__list{}

	&__item{
		background: #fff;
		@include box-shadow();
		padding: 40px 30px 30px;
		font-size: 30px;
		margin: 30px 0;
		overflow: hidden;

		@include breakpoint($bp1){
			font-size: 14px;
		}
	}

	&__quote{
		background: #f2f2f2;
		color: $colorGrey;
		padding: 20px;
		border-radius: 5px;
		margin-bottom: 35px;
		position: relative;

		@include breakpoint($bp1){
			width: 520px;
			float: right;
			padding: 25px 30px;
			margin-top: -20px;
			margin-bottom: -10px;
		}

		@include breakpoint($bp2){
			width: 765px;
		}

		&:after{
			content: '';
			width: 23px;
			height: 20px;
			background: url("../img/quote-tail.svg") 0 0 no-repeat;
			background-size: contain;
			display: block;
			position: absolute;
			bottom: -18px;
			left: 20px;

			@include breakpoint($bp1){
				@include transform(rotate(-90deg) scale(1, -1));
				bottom: auto;
				top:20px;
				left: -20px;
			}
		}
	}

	&__ava{
		display: none;

		@include breakpoint($bp1){
			float: left;
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			overflow: hidden;
			background: $colorYellow;
			margin-right: 15px;

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&__author{
		color: $colorGrey;

		@include breakpoint($bp1){
			float: left;
			margin-top: 5px;
			width: 150px;
		}

		b{
			color: $colorDark;
			font-weight: 600;

			@include breakpoint($bp1){
				display: block;
			}
		}
	}

	&__more{

		.btn{
			font-size: 36px;
			color: $colorGrey;
			text-align: center;
			border-radius: 100px;
			border: 1px solid transparent;
			@include box-shadow();
			background: #fff;
			padding: 0 40px;
			cursor: pointer;
			display: block;

			&:hover{
				border-color: $colorYellow;
				color: $colorYellow;
			}

			@include breakpoint($bp1){
				font-size: 18px;
				padding: 0 20px;
				width: 400px;
				margin: 45px auto 0;
			}
		}
	}
}




.master-info{
	margin: 30px ;

	.inner{
		position: relative;

		&:before,
		&:after{
			display: none;
		}
	}


	@include breakpoint($bp1){
		margin: 0;
	}

	&__title{
		font-size: 36px;
		font-weight: 500;
	}

	&__wrap{

		@include breakpoint($bp1){
			width: 272px;
			position: absolute;
			right: 0;
			margin-top: 163px;
			z-index: 1;
		}
	}

	&__price{
		padding: 35px 30px;
		background: #fff;
		@include box-shadow();

		@include breakpoint($bp1){
			padding: 20px 20px 25px;
			margin-bottom: 30px;
		}

		&-head{
			margin: -35px -30px 35px;
			background: $colorYellow;
			color: #fff;
			font-size: 36px;
			font-weight: 500;
			padding: 25px 30px;

			@include breakpoint($bp1){
				margin: -20px -20px 20px;
				font-size: 18px;
				padding: 25px 20px;
			}
		}

		&-value{
			font-size: 62px;
			font-weight: 500;
			margin-bottom: 30px;

			@include breakpoint($bp1){
				font-size: 36px;
				margin-bottom: 15px;
			}
		}

		&-add{
			margin-bottom: 25px;

			@include breakpoint($bp1){
				margin-bottom: 20px;
			}

			.btn{
				display: block;
			}
		}

		&-text{
			font-size: 30px;
			color: $colorGrey;

			@include breakpoint($bp1){
				font-size: 15px;
			}
		}
	}

	&__card{
		display: none;

		@include breakpoint($bp1){
			display: block;
		}

	}

	&__entice{
		display: none;

		@include breakpoint($bp1){
			display: block;
			background: #fff;
			@include box-shadow();
		}

		&-quote{
			background: $colorYellow;
			color: #fff;
			position: relative;
			padding: 25px 30px;
			border-radius: 0 0 10px 10px;
			z-index: 1;

			&:after{
				content: '';
				width: 23px;
				height: 20px;
				background: url("../img/quote-tail_yellow.svg") 0 0 no-repeat;
				background-size: contain;
				display: block;
				position: absolute;
				bottom: -18px;
				left: 20px;
			}

			.text{
				font-size: 30px;
				margin-bottom: 10px;
				line-height: 1.4;

				@include breakpoint($bp1){
					font-size: 14px;
					margin-bottom: 5px;
				}
			}

			.title{
				font-size: 36px;
				font-weight: 500;
				margin-bottom: 30px;

				@include breakpoint($bp1){
					font-size: 26px;
					margin-bottom: 10px;
				}
			}
		}

		&-list{
			padding: 20px;
		}

		&-item{
			text-align: center;
			margin-top: 20px;

			.ico{
				width: 90px;
				margin: 0 auto;

				img{
					width: 100%;
				}
			}
		}
	}


	@include breakpoint($bp1){
		& ~ .master-coach,
		& ~ .master-photo,
		& ~ .master-feedback,
		& ~ .master-cooking{
			.inner{
				padding-right: 300px;
			}
		}

		& ~ .master-photo{
			.master-photo__slider{
				width: 518px;
			}
		}
	}

	@include breakpoint($bp2){
		& ~ .master-photo{
			.master-photo__slider{
				width: 818px;
			}
		}
	}

}






.master-about{
	background: #faa61a;
	padding: 70px 0 780px;
	overflow: hidden;

	.inner{
		position: relative;
	}

	@include breakpoint($bp1){
		padding: 90px 0;
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 40px;

		@include breakpoint($bp1){
			font-size: 42px;
			width: 600px;
		}

		@include breakpoint($bp2){
			width: 800px;
		}
	}
	&__text{
		font-size: 36px;

		@include breakpoint($bp1){
			font-size: 18px;
			width: 600px;
		}

		@include breakpoint($bp2){
			width: 800px;
		}

		p{
			margin: 40px 0;
		}

		b{
			font-weight: 500;
		}
	}

	&__announce{

		font-size: 36px;
		font-weight: 600;

		@include breakpoint($bp1){
			width: 600px;
		}

		@include breakpoint($bp2){
			width: 800px;
		}

		span{
			color: #fff;
		}
	}

	&__bg{
		position: absolute;
		bottom: -780px;
		right: 0;

		@include breakpoint($bp1){
			bottom: -100px;
			right: -70px;
		}

		@include breakpoint($bp2){
			bottom: -75px;
			right: -230px;
		}

		.phone{
			background: url("../img/about-phone.png") no-repeat 50% 50%;
			width: 260px;
			height: 416px;
			position: absolute;
			right: 340px;
			bottom: 45px;

			@include breakpoint($bp2){
				right: 630px;
				bottom: 5px;
			}
		}

		.sertificate{
			background: url("../img/about-sertificate.png") no-repeat 50% 50%;
			width: 782px;
			height: 646px;
			position: absolute;
			right: -190px;
			bottom: 150px;


			@include breakpoint($bp2){
				right: -70px;
				bottom: 85px;
			}


		}

		.vase{
			background: url("../img/about-vase.png") no-repeat 50% 50%;
			width: 416px;
			height: 420px;
			position: absolute;
			right: -120px;
			bottom: -70px;

			@include breakpoint($bp2){
				right: -90px;
			}
		}

	}
}





.auth{
	padding: 50px 0;

	&__title{
		font-size: 42px;
		font-weight: 600;
		margin-bottom: 35px;
	}

	&__content{


		&-inner{
			@include box-shadow();
			background: #fff;

			.form{

				overflow: hidden;

				&__title{
					font-size: 36px;
					font-weight: 500;
					margin-bottom: 40px;

					@include breakpoint($bp1){
						font-size: 18px;
						margin-bottom: 20px;
					}
				}
				&__field{

					&_submit{

						@include breakpoint($bp1){
							white-space: nowrap;
						}
					}
				}

				padding: 35px 30px;

				input{
					border: 1px solid rgba($colorGreyLight, .7);

					@include breakpoint($bp1){
						width: 270px;
					}

					&[type='submit']{
						width: auto;
						display: inline-block;
						border:none;
						padding: 0 50px;
						vertical-align: middle;
					}
				}

				label{
					&:before{
						@include box-shadow(none!important);
					}
				}


				&_aside{

					.form__title{
						margin: 10px 0;
						float: left;
					}
					.btn{

						@include breakpoint($bp1){
							float: right;


						}
					}
				}
			}

			.submit-link{
				height: 82px;
				font-size: 0;
				display: inline-block;
				margin-left: 25px;

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				span{
					font-size: 18px;
					color: $colorGrey;

					display: inline-block;
					vertical-align: middle;
				}

				.rules{
					font-size: 14px;

					a{
						color: $colorYellow;
					}
				}

				@include breakpoint($bp1){
					height: 42px;
				}
			}

		}

		&_2{

			@include breakpoint($bp1){
				.auth__content-inner{
					width: calc(50% - 15px);
					float: left;
					margin-right: 30px;

					&:nth-of-type(2n){
						margin-right: 0;
					}
				}
			}

		}
	}
}



.master-mega{

	padding: 50px 0;

	.inner{

	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 35px;

		@include breakpoint($bp1){
			font-size: 50px;
		}
	}


	&__group{

		cursor: pointer;
		margin: 20px 0;

		&.is-open{

			.master-mega__head{
				&:after{
					@include transform(scale(-1));
				}
			}

			.master-mega__list{
				display: block;
			}
		}

		&.is-disabled{
			cursor: default;

			.master-mega__head{
				background: #dbdbdb;
			}
		}
	}

	&__head{
		@include box-shadow();
		background: #fff;
		padding: 30px;
		position: relative;

		@include breakpoint($bp1){
			padding: 20px 80px 20px 30px;
			overflow: hidden;
		}

		&-name{
			font-size: 50px;
			font-weight: 500;

			@include breakpoint($bp1){
				font-size: 18px;
				float: left;
			}
		}

		&-info{
			margin-top: 40px;

			@include breakpoint($bp1){
				float: right;
				margin: -10px 0;
			}
		}


		&-text{
			font-size: 30px;
			display: inline-block;
			vertical-align: middle;

			@include breakpoint($bp1){
				font-size: 14px;
			}
		}

		&-btn{
			height: 84px;
			width: 140px;
			display: inline-block;
			vertical-align: middle;
			background: no-repeat 50% 50%;
			background-size: contain;
			border-radius: 100px;
			margin-left: 25px;
			color: transparent;

			background-color: $colorYellow ;
			background-image: url("../img/ico/ico-cart-white.svg");

			@include breakpoint($bp1){
				width: 70px;
				margin-left: 12px;
				height: 42px;
				color: #fff;
				background-image: none;
				padding: 0 50px;
				line-height: 42px;
			}
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 82px;
			height: 82px;
			background: $colorDark url("../img/ico/arrow-down-white.svg") no-repeat 50% 50%;
			background-size: contain;
			border-radius: 50%;
			top:20px;
			right: 30px;

			@include breakpoint($bp1){
				width: 40px;
				height: 40px;
				top:11px;
				right: 15px;
			}
		}
	}

	&__list{
		display: none;

	}
}






.master-coach{
	margin: 50px 0;

	@include breakpoint($bp1){
		margin: 30px 0 20px;
	}

	&__title{
		font-size: 62px;
		font-weight: 500;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 36px;
		}
	}

	&__list{
		background: #fff;
		@include box-shadow();
		padding: 1px 30px;

		@include breakpoint($bp1){
			padding: 20px 30px;
		}

		@include breakpoint($bp2){
			overflow: hidden;
		}
	}

	&__item{
		margin: 50px 0;

		@include breakpoint($bp1){
			overflow: hidden;
			margin: 20px 0;
		}

		@include breakpoint($bp2){
			float: left;
			width: 50%;
			@include box-sizing();
			padding-right: 50px;
		}

		&-photo{
			text-align: center;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				float: left;
				margin-bottom: 0;
			}

			img{
				display: inline-block;
				width: 296px;
				height: 296px;
				border-radius: 50%;

				@include breakpoint($bp1){
					width: 150px;
					height: 150px;
				}
			}
		}

		&-info{
			margin: 30px 0 0 180px;
		}
		&-title{
			font-size: 50px;
			font-weight: 500;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				font-size: 24px;
			}
		}
		&-text{
			font-size: 36px;
			color: $colorGrey;

			@include breakpoint($bp1){
				font-size: 15px;
			}
		}
	}


}


.master-payment{

	.handle{
		position: relative;
		width: 46px;
		height: 46px;
		font-size: 30px;
		color: $colorGrey;

		&__btn{
			width: 46px;
			height: 46px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;

			@include breakpoint($bp1){
				width: 16px;
				height: 16px;
				position: relative;
			}
		}


		@include breakpoint($bp1){
			width: 16px;
			height: 16px;
			position: relative;
			font-size: 14px;
		}

		i{
			position: absolute;
			width: 8px;
			height: 8px;
			@include border-radius(50%);
			background: $colorGreyLight;
			margin-top: -4px;
			margin-left: -4px;
			top: 50%;
			left: 50%;

			@include breakpoint($bp1){
				width: 4px;
				height: 4px;
				margin-top: -2px;
				margin-left: -2px;
			}

			&:before,
			&:after{
				content: '';position: absolute;
				width: 8px;
				height: 8px;
				@include border-radius(50%);
				background: $colorGreyLight;
				margin-left: -4px;
				left: 50%;

				@include breakpoint($bp1){
					margin-left: -2px;
					width: 4px;
					height: 4px;
				}
			}

			&:before{
				top: -18px;

				@include breakpoint($bp1){
					top: -6px;
				}
			}
			&:after{
				bottom: -18px;

				@include breakpoint($bp1){
					bottom: -6px;
				}
			}
		}


		&_show{
			.handle__inner{
				display: block;
			}
		}

		&__inner{
			position: absolute;
			top: 75px;
			right: -20px;
			background: #fff;
			display: none;
			padding: 30px;
			@include box-shadow(0px 1px 10px rgba(0,0,0,.16));
			width: 300px;
			z-index: 1;
			@include user-select();
			text-align: left;

			@include breakpoint($bp1){
				width: 160px;
				top: 29px;
				right: -27px;
				padding: 30px;
			}

			ul{
				li{
					margin-top: 15px;

					&:first-child{
						margin-top: 0;
					}

					a{
						&:hover{
							color: #000;
						}
					}
				}
			}

			&:before{
				content: '';
				display: block;
				border: 15px solid transparent;
				border-bottom-color: rgba(0,0,0,.2);
				position: absolute;
				top: -31px;
				right: 25px;

				@include breakpoint($bp1){
					border-width: 10px;
					top: -21px;
					right: 25px;
				}
			}

			&:after{
				content: '';
				display: block;
				border: 15px solid transparent;
				border-bottom-color: #fff;
				position: absolute;
				top: -30px;
				right: 25px;

				@include breakpoint($bp1){
					border-width: 10px;
					top: -20px;
					right: 25px;
				}
			}
		}
	}

	&__title{
		font-size: 36px;
		margin: 40px 0 20px;

		@include breakpoint($bp1){
			font-size: 30px;
		}
	}



	&__list{
		font-size: 0;

		@include breakpoint($bp1){
			margin: 0 -31px -31px 0;
		}
	}


	&__item{
		@include box-shadow(2px 0px 3px rgba(0,0,0,.16));
		position: relative;
		background: #fff;
		margin-bottom: 20px;
		font-size: 30px;
		@include box-sizing();

		@include breakpoint($bp1){
			font-size: 18px;
			margin: 0 31px 31px 0;
			width: 272px;
			display: inline-block;
			vertical-align: middle;
			height: 170px;
			text-align: center;
		}

		&_card{
			background: #ffb600;
			background: -moz-linear-gradient(left, #ffb600 0%, #ffd773 50%, #ffb600 100%);
			background: -webkit-linear-gradient(left, #ffb600 0%,#ffd773 50%,#ffb600 100%);
			background: linear-gradient(to right, #ffb600 0%,#ffd773 50%,#ffb600 100%);
			padding: 40px 100px 40px 30px;
			@include border-radius(4px);

			@include breakpoint($bp1){
				padding: 20px;
			}

			.handle{
				position: absolute;
				top: 36px;
				right: 15px;

				@include breakpoint($bp1){
					top: 20px;
				}

				i{
					background: $colorDark;

					&:before, &:after{
						background: $colorDark;
					}
				}
			}

		}

		&_add{
			padding: 20px 30px 23px 110px;

			@include breakpoint($bp1){
				padding: 20px;

				&:before{
					content: '';
					width: 3px;
					height: 24px;
					background: $colorGreyLight;
					position: absolute;
					left: 50%;
					margin-left: -1px;
					top: 53px;
				}

				&:after{
					content: '';
					width: 24px;
					height: 3px;
					background: $colorGreyLight;
					position: absolute;
					left: 50%;
					margin-left: -12px;
					top: 63px;
				}
			}
		}


		&-text{

			.master-payment__item_card &{
				@include breakpoint($bp1){
					height: 100%;

					&:before{
						content: '';
						vertical-align: middle;
						height: 100%;
						display: inline-block;
					}

					span{
						vertical-align: middle;
						display: inline-block;
						max-width: 95%;
					}
				}

			}

			.master-payment__item_add &{
				@include breakpoint($bp1){
					height: 70px;
					margin-top: 70px;
					color: $colorGrey;

					&:before{
						content: '';
						vertical-align: middle;
						height: 100%;
						display: inline-block;
					}

					span{
						vertical-align: middle;
						display: inline-block;
						max-width: 95%;
					}
				}
			}
		}


		&-logo{
			font-size: 0;
			text-align: center;
			vertical-align: middle;
			position: absolute;
			max-width: 70px;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}

			img{
				max-width: 100%;
				display: block;
				max-height: 40px;

				.master-payment__item_add &{
					margin: 5px 0;
				}

				.master-payment__item_card &{
					@include breakpoint($bp1){
						max-height: 35px;
						max-width: 52px;
					}
				}
			}


			.master-payment__item_card &{
				text-align: right;
				right: 70px;
				bottom: 15px;

				@include breakpoint($bp1){
					height: 35px;
					right: 30px;
				}
			}

			.master-payment__item_add &{
				bottom: 0;
				top: 0;
				width: 45px;
				left: 30px;

				@include breakpoint($bp1){
					bottom: auto;
					top: 25px;
					height: 60px;
				}
			}
		}
	}




	&__table{
		font-size: 30px;

		@include breakpoint($bp1){
			font-size: 14px;
		}
	}

	&__row{

		@include box-shadow(2px 0px 3px rgba(0,0,0,.16));
		position: relative;
		background: #fff;
		margin-bottom: 20px;
		padding: 30px;
		color: $colorGrey;

		@include breakpoint($bp1){
			display: table;
			padding: 0;
			margin-bottom: 1px;
			width: 100%;
		}

		&:after{
			content: '';
			display: table;
			clear: both;
		}

	}

	&__col{
		float: left;
		@include box-sizing();

		@include breakpoint($bp1){
			display: table-cell;
			float: none;
			vertical-align: middle;
			padding: 20px 0;
		}

		@include breakpoint($bp2){
			padding-top: 30px;
			padding-bottom: 30px;
		}


		&_message{
			padding-left: 30px;

			@include breakpoint($bp2){

			}
		}

		&_date{
			width: 250px;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				margin: 0;
				width: 184px;
				padding-left: 30px;
			}


			@include breakpoint($bp2){
				width: 272px;
			}
		}

		&_title{
			color: $colorDark;
			padding-right: 45px;
			width: 100%;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				margin: 0;
				padding-right: 0;
				width: 205px;
				padding-left: 22px;
			}

			@include breakpoint($bp2){
				width: 303px;
				font-size: 16px;
			}
		}

		&_status{
			width: calc(100% - 250px);
			text-align: right;
			margin-bottom: 20px;

			@include breakpoint($bp1){
				margin: 0;
				width: 205px;
				padding-left: 22px;
				text-align: left;
			}

			@include breakpoint($bp2){
				width: 303px;
			}
		}

		&_logo{
			margin-right: 15px;
			font-size: 0;
			height: 35px;

			@include breakpoint($bp1){
				height: auto;
				margin: 0;
				width: 90px;
				padding-left: 22px;
				padding-right: 15px;
				text-align: center;
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;

				@include breakpoint($bp1){
					display: none;
				}
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}

			img{
				max-width: 75px;
				max-height: 35px;

				@include breakpoint($bp1){
					max-width: 100%;
				}
			}
		}

		&_number{

			margin-bottom: 20px;
			max-width: calc(100% - 100px);
			white-space: nowrap;

			@include breakpoint($bp1){
				margin: 0;
				width: calc(183px - 90px);
				direction: rtl;
			}

			@include breakpoint($bp2){
				width: calc(303px - 90px);
			}

			span{

				@include breakpoint($bp1){
					display: block;
					width: 100px;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				@include breakpoint($bp2){
					width: 200px;
				}
			}


			.master-payment__table_history &{
				max-width: calc(100% - 282px);
				position: relative;
				overflow: hidden;
				margin-bottom: 0;

				&:after{
					content: '';
					position: absolute;
					top: 0;
					right: -1px;
					bottom: 0;
					width: 80px;
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 100%);

					@include breakpoint($bp1){
						display: none;
					}
				}
			}
		}

		&_info{
			width: 100%;

			@include breakpoint($bp1){
				width: auto;
				padding-right: 30px;
				text-align: right;
			}

			.master-payment__table_history &{
				width: auto;
				float: right;

				@include breakpoint($bp1){
					float: none;
				}
			}

			.title{
				float: left;
				max-width: calc(100% - 200px);

				@include breakpoint($bp1){
					float: none;
					max-width: 100%;
				}
			}
			.text{
				color: $colorDark;
				float: right;

				@include breakpoint($bp1){
					float: none;
				}

				@include breakpoint($bp2){
					font-size: 16px;
				}

				.master-payment__table_history &{
					white-space: nowrap;
				}

			}
		}

		&_more{
			position: absolute;
			top: 25px;
			right: 12px;

			@include breakpoint($bp1){
				position: relative;
				padding-right: 20px;
				width: 16px;
				top: 0;
				right: 0;
			}
		}
	}


}


.copynote{
	&__text{
		font-size: 30px;
		margin: 50px 0 0;
		color: $colorGrey;

		@include breakpoint($bp1){
			font-size: 12px;
		}

		a{
			color: $colorYellow;
		}
	}
}


.course-legal{
	padding: 50px 0;
	font-size: 28px;

	@include breakpoint($bp1){
		font-size: 16px;
	}

	&__wrap{
		max-width: 1100px;
	}

	&__title{
		font-size: 60px;
		font-weight: 500;
		margin-bottom: 66px;

		@include breakpoint($bp1){
			font-size: 36px;
			margin-bottom: 25px;
		}
	}



	&__faq{
		margin-bottom: 60px;

		&-item{}
		&-head{
			font-size: 40px;
			padding: 30px 60px 30px 0;
			border-bottom: 2px solid #CCCCCC;
			cursor: pointer;
			position: relative;

			@include breakpoint($bp1){
				font-size: 24px;
				padding: 20px 30px 20px 0;
				border-bottom-width: 1px;
			}

			&:after{
				content: '';
				display: block;
				width: 40px;
				height: 20px;
				background: url("../img/legal/Close.svg") no-repeat 50% 50%;
				background-size: contain;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -10px;
				transition: all 0.3s ease;
				transform: rotate(180deg);

				@include breakpoint($bp1){
					width: 20px;
					height: 10px;
					margin-top: -5px;
				}

				.course-legal__faq-item.is-open &{
					transform: rotate(0deg);
				}
			}
		}
		&-body{
			padding: 30px 0 50px;
			display: none;
			line-height: 1.5;

			@include breakpoint($bp1){
				padding: 20px 0 30px;
			}

			.course-legal__faq-item.is-open &{
				display: block;
			}

			span, a{
				color: $colorYellow;
			}

			p{
				margin: 10px 0;
			}

			ul{

			}

			li{
				margin: 10px 0;
				position: relative;
				padding-left: 40px;

				@include breakpoint($bp1){
					padding-left: 20px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $colorYellow;
					top: 16px;
					left: 0;

					@include breakpoint($bp1){
						width: 6px;
						height: 6px;
						top: 8px;
					}
				}
			}
		}
	}

	&__step{
		&-item{
			margin-bottom: 80px;

			@include breakpoint($bp1){
				margin-bottom: 40px;
			}
		}

		&-title{
			font-size: 40px;
			margin-bottom: 40px;

			@include breakpoint($bp1){
				font-size: 24px;
				margin-bottom: 30px;
			}

			span{
				color: $colorYellow;
			}
		}
		&-body{}

		&-doc{
			display: flex;
			flex-wrap: wrap;

			&-item{
				width: 260px;
				height: 260px;
				border: 2px solid #CCCCCC;
				margin: 0 20px 20px 0;
				position: relative;
				box-sizing: border-box;
				padding: 26px 30px;
				display: flex;
				flex-direction: column;
				background: #fff;

				@include breakpoint($bp1){
					width: 135px;
					height: 135px;
					border-width: 1px;
					padding: 13px 15px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -3px;
					right: -3px;
					border: 22px solid #44525F;

					border-top-color: $colorBg;
					border-right-color: $colorBg;

					@include breakpoint($bp1){
						border-width: 11px;
						top: -1px;
						right: -1px;
					}
				}
			}

			&-type{
				color: #666666;
				font-size: 32px;
				flex: 1;

				@include breakpoint($bp1){
					font-size: 16px;
				}
			}
			&-name{
				font-size: 32px;
				padding-bottom: 14px;

				@include breakpoint($bp1){
					font-size: 16px;
					padding-bottom: 6px;
				}
			}
			&-info{
				color: #666666;
				font-size: 26px;

				@include breakpoint($bp1){
					font-size: 13px;
				}
			}
			&-download{
				position: absolute;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				right: 20px;
				bottom: 20px;
				background: url("../img/legal/Downlosd.svg") no-repeat 50% 50%;
				background-size: contain;

				@include breakpoint($bp1){
					width: 20px;
					height: 20px;
					right: 15px;
					bottom: 13px;
				}
			}
		}

		&-files{
			margin: 0 -10px;
			font-size: 0;
		}

		&-file{
			display: inline-block;
			padding: 0 10px;
			vertical-align: top;
			box-sizing: border-box;
			width: 50%;
			margin-bottom: 50px;

			@include breakpoint($bp1){
				width: (100% / 3);
				max-width: 294px;
			}

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;
			}

			&-image{
				border: 2px solid #CCCCCC;
				margin-bottom: 20px;
				position: relative;
				width: 290px;
				height: 220px;
				background: no-repeat 50% 50%;
				background-size: cover;
				font-size: 0;
				text-align: center;

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				@include breakpoint($bp1){
					width: 274px;
					height: 208px;
				}

				img{
					max-height: 100%;
					max-width: 100%;
					display: inline-block;
					vertical-align: middle;
				}


				.course-legal__step-file.success &{
					background: #fff!important;

					&:after{
						content: '';
						display: block;
						position: absolute;
						width: 40px;
						height: 40px;
						right: 15px;
						bottom: 15px;
						background: url("../img/legal/Done.svg") no-repeat 50% 50%;
						background-size: contain;
					}
				}
			}

			&-title{
				font-size: 28px;
				margin-bottom: 12px;

				@include breakpoint($bp1){
					font-size: 14px;
				}
			}

			&-footer{

				&_load{
					.course-legal__step-file.success &{
						display: none;
					}
				}

				&_reload{
					display: none;
					.course-legal__step-file.success &{
						display: block;
					}
				}
			}

			&-load{
				font-size: 28px;
				color: $colorYellow;
				cursor: pointer;
				display: inline-block;
				margin-right: 10px;

				@include breakpoint($bp1){
					font-size: 14px;
				}
			}

			&-remove{
				font-size: 28px;
				color: #666666;
				cursor: pointer;
				display: inline-block;
				margin-right: 10px;

				@include breakpoint($bp1){
					font-size: 14px;
				}
			}

			&-error{
				font-size: 26px;
				color: $colorRed;
				margin-bottom: 10px;

				@include breakpoint($bp1){
					font-size: 13px;
				}

				&:empty{
					display: none;
				}
			}
		}

		&-checkbox{
			font-size: 32px;

			@include breakpoint($bp1){
				font-size: 16px;
			}

			a{
				color: $colorYellow;
			}


			input{
				position: absolute;
				opacity: 0;
				pointer-events: none;

				&:checked{
					& ~ .course-legal__step-checkbox-text:before{
						background-image: url("../img/legal/Chech_sel.svg");
					}
				}
			}

			&-text{
				position: relative;
				padding-left: 80px;

				@include breakpoint($bp1){
					padding-left: 40px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 40px;
					height: 40px;
					border: 2px solid #CCCCCC;
					background: no-repeat 50% 50%;
					background-size: contain;

					@include breakpoint($bp1){
						width: 20px;
						border-width: 1px;
						top: -2px;
						height: 20px;
					}
				}
			}
		}

		.btn{
			width: 100%;
			margin-top: 48px;
			background: $colorOrange no-repeat 50% 50%;

			@include breakpoint($bp1){
				width: auto;
			}

			&:disabled{
				background-color: #E3E5E7;
				cursor: no-drop;
				transition: padding 0.3s ease;

				&.loading{
					background-color: #44525F;
					background-image: url("../img/legal/btn-loader.svg");
					background-position: top 50% right 20px;
					background-size: 60px;
					background-repeat: no-repeat;
					padding-right: 60px;

					@include breakpoint($bp1){
						padding-right: 50px;
						background-size: 30px;
						background-position: top 50% right 15px;
					}
				}

				&.moderate{
					background-color: #44525F;

					@include breakpoint($bp1){
						//padding-right: 50px;
						//background-size: 30px;
						//background-position: top 50% right 15px;
					}
				}
			}
		}


	}
}