

.nav{
	display: none;

	@include breakpoint($bp1){
		display: block;
		@include box-shadow();
		z-index: 1;
		position: relative;
	}


	&__list{
		float: left;
		height: 60px;
		font-size: 0;
	}

	&__item{
		display: inline-block;
		margin-right: 40px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 0;
			background: $colorYellow;
			@include transition(height 0.3s ease);
		}

		&:last-child{
			margin: 0;
		}

		&:hover,
		&.is-active{
			&:after{
				height: 4px;
			}
		}

		&:hover{

			.nav__subnav{
				display: block;

				& ~ .nav__link{
					@extend %arrowActive;
				}
			}

		}
	}
	&__link{
		height: 60px;
		line-height: 60px;
		display: block;
		font-size: 18px;
		font-weight: 500;
		position: relative;
	}

	&__subnav{
		position: absolute;
		background: #fff;
		z-index: 10;
		color: $colorGrey;
		display: none;
		min-width: 100%;
		font-size: 14px;
		padding: 10px 0;
		top:60px;
		right: auto;
		left: 0;
		@include box-shadow();

		& ~ .nav__link{
			padding-right: 22px;


			&:before,
			&:after{
				top:55%;
				right: 0;
			}

			@extend %arrow;
			@extend %arrowDown;

		}

		&-item{
			a{
				display: block;
				padding: 15px 40px;

				&:hover{
					color: $colorYellow;
				}

				@include breakpoint($bp1){
					padding: 8px 20px;
				}
			}
			&.is-active{
				a{
					color: $colorYellow;
				}
			}
		}

		&.is-open{
			.header__control-dropdown{
				display: block;
			}
		}

	}

	&__share{
		font-size: 0;
		float: right;
		padding: 9px 0;
		position: relative;

		&-item{
			width: 42px;
			height: 42px;
			display: inline-block;
			background: #fff;
			border-radius: 50%;
			@include box-shadow();
			margin-right: 8px;
			cursor: pointer;

			& > svg {
				path{
					fill: $colorYellow;
				}
			}

			&:hover,
			&.is-open{
				background-color: $colorYellow;

				& > svg {
					path{
						fill: #fff;
					}
				}
			}

			&.is-open{
				.nav__share-dropdown{
					display: block;
				}
			}

			&:last-child{
				margin-right: 0;
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&-dropdown{
			position: absolute;
			white-space: nowrap;
			background: #fff;
			top:65px;
			right: 0;
			padding: 20px;
			display: none;

			&-title{
				font-size: 14px;
				color: $colorGrey;
				margin-bottom: 20px;
			}


			&:before{
				content: '';
				display: block;
				position: absolute;
				border: 10px solid transparent;
				border-bottom-color: #fff;
				right: 10px;
				top:-20px;

			}
		}
	}
}



.nav-mobile{
	min-width: $minWidth;

	display: none;

	.nav-open &{
		display: block;
	}

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background: $colorYellow;
	height: 100%;
	overflow: auto;
	font-size: 36px;
	font-weight: 500;

	.lk &{
		background: $colorDark;
	}

	@include transition(all 0.3s ease);

	@include breakpoint($bp1){
		display: none!important;
	}

	&__inner{
		width: 100%;
		overflow: hidden;
	}

	&__list{
		position: relative;
		width: 100%;
	}


	&__item{
		min-height: 65px;
		padding: 10px 30px;

		margin-bottom: -1px;
		border-top: 1px solid #cc9200;
		border-bottom: 1px solid #cc9200;

		.lk &{
			border-top: 1px solid #1f1f1f;
			border-bottom: 1px solid #1f1f1f;
			color: #fff;
		}

		&_head{
			padding: 30px;
			font-weight: 600;
			background: $colorYellow;



			.lk &{
				background: $colorDark;
				text-align: center;
			}

			.handle{
				display: block;
				position: absolute;
				top:20px;
				right: 30px;
				width: 84px;
				height: 84px;
				border-radius: 50%;
				background: #fff;
				@include box-shadow();
				cursor: pointer;

				&:before,
				&:after{
					content: '';
					width: 36px;
					height: 4px;
					background: $colorYellow;
					border-radius: 100px;
					position: absolute;
					top:50%;
					left: 50%;
					margin-top: -2px;
					margin-left: -18px;
				}
				&:before{
					@include transform(rotate(-45deg));
				}
				&:after{
					@include transform(rotate(45deg));
				}
			}
		}

		&_btn{
			border: 0;
			.lk &{
				color: $colorDark;
			}

			& > .nav-mobile__link{
				background: #fff;
				padding: 0;
				border-radius: 100px;
				@include box-shadow();

				&:after{
					display: none!important;
				}
			}
		}

		&_lk{

			.lk &{
				background: $colorYellow;

				.nav-mobile__link{
					background: none;
					@include box-shadow(none);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					.ico{
						background: #fff;
						margin: 0 20px 0 0;
					}
				}
			}
		}

		&_lk{
			padding-top: 50px;

			.lk & {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		&_cart{
			padding-bottom: 50px;

			.lk & {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		&_back{
			padding-top: 50px;
			padding-bottom: 20px;
			text-align: center;
			border: none!important;

			.nav-mobile__link{
				background: $colorYellow;
				color: $colorDark;
			}
		}

		&_logout{
			padding-top: 20px;
			padding-bottom: 50px;
			border: none!important;
			text-align: center;

			.nav-mobile__link{
				color: $colorYellow;
				background: transparent;
				border: 2px solid $colorYellow;
			}
		}
	}


	&__link{

		cursor: pointer;
		display: block;
		line-height: 84px;
		height: 84px;

		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 84px;
			height: 84px;
			border-radius: 50%;
			float: left;
			margin: 0 7px;

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.span{
			display: inline-block;
			vertical-align: middle;
		}

		.num{
			display: inline-block;
			vertical-align: middle;
			font: inherit;
			float: right;
			height: 70px;
			line-height: 70px;
			width: 50px;
			padding: 0 10px;
			border-radius: 100px;
			text-align: center;
			background: $colorYellow;
			margin: 7px 10px;
		}
	}


	&__subnav{
		position: fixed;
		top:0;
		width: 100%;
		left: 100%;

		z-index: 50;
		background: $colorYellow;
		height: 100%;
		overflow: auto;
		font-size: 36px;
		font-weight: 500;
		min-width: 640px;

		@include transition(all 0.3s ease);

		& ~ .nav-mobile__link{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 84px;
				height: 84px;
				top:0;
				right: -30px;
				background: url("../img/ico/arrow-next-black.svg") no-repeat 50% 50%;
				background-size: contain;
			}
		}


		.nav-mobile__item_head{

			padding-left: 140px;

			span{
				line-height: 65px;
			}

			.handle{
				right: auto;
				left: 30px;
				background: #fff url("../img/ico/ico-nav-back.svg") no-repeat 50% 50%;
				background-size: contain;

				&:before,
				&:after{
					display: none;
				}
			}
		}

		&_content{
			background: #ededed;
		}

	}

	&__content{

		.form{
			padding: 40px 30px;

			&__field{

				input{
					font-size: 30px;
					@include box-shadow();
				}

				label{
					font-size: 30px!important;
				}

				&_submit{
					white-space: nowrap;

					input{
						background: $colorYellow;
						border-color: $colorYellow;
						color: #fff;
						display: inline-block;
						vertical-align: middle;
						width: auto;
						font-weight: 300;
						padding: 0 80px;
					}

					&-link{
						vertical-align: middle;
						color: $colorGrey;
						display: inline-block;
						padding: 0;
						font-size: 30px;
						margin-left: 35px;
						border: 0;
					}
				}
			}
		}

	}

	&.subnav-open{

		//left: -100%;

		.nav-mobile__list{
			//margin-left: -100%;
		}

		.nav-mobile__item{
			&.is-active{
				& > .nav-mobile__subnav{
					left: 0%;
				}
			}
		}
	}

}

.nav-open{

	@include breakpoint(0 $bp1 - 1px){


		body{

			//position: fixed;
			overflow: hidden;
		}

		.header,
		.website,
		.footer{
			opacity: 0;
		}
	}
}



.soc{
	padding: 40px 30px;
	border-top: 1px solid rgba($colorGreyLight, 0.7);

	&__title{
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	&__list{}

	&__item{
		display: inline-block;
		margin-right: 25px;
		width: 84px;
		height: 84px;
		background: no-repeat 50% 50%;
		background-size: contain;
		border-radius: 50%;

		@include breakpoint($bp1){
			width: 50px;
			height: 50px;
			margin-right: 12px;
		}

		&_vk{
			background-color: #3289e6;
			background-image: url("../img/ico/ico-soc-vk.svg");
		}

		&_fb{
			background-color: #105296;
			background-image: url("../img/ico/ico-soc-fb.svg");
		}

	}
}