
.overflow_hidden {
	overflow: hidden;
	//position: fixed;
	width: 100%;
}


.tooltip{
	position: absolute;
	display: none;
	text-align: center;
	margin-top: 12px;
	z-index: 120;

	&:before,
	&:after {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		left: 0;
		margin-left: -6px;
		top:-11px;
	}
	&:before {
		top:-12px;
		border-bottom-color: #e8e8e8;
	}

	span{
		display: inline-block;
		padding: 7px 15px;
		background: #fff;
		position: relative;
		left: -50%;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
		@include border-radius(15px);

		font-size: 13px;
	}

	&.show{
		display: block;
	}

}




.popup{
	display: none;
	color: #343434;
	font-size: 0;

	&__inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;
		overflow-y: scroll;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout{
		background-color: #ededed;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		min-height: 100%;
		padding: 0;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 100%;
		z-index: 102;
		text-align: left;
		font-size: 30px;

		@include breakpoint($bp1){
			width: 580px;
			min-height: 0;
			background: #fff;
		}

		@include breakpoint($bp2){
			width: 730px;
		}
	}

	&__close{

		display: block;
		position: absolute;
		top:20px;
		right: 30px;
		width: 84px;
		height: 84px;
		border-radius: 50%;
		background: #fff;
		//@include box-shadow();
		cursor: pointer;

		@include breakpoint($bp1){
			width: 42px;
			height: 42px;
			top: 5px;
			right: 5px;
		}

		&:before,
		&:after{
			content: '';
			width: 36px;
			height: 4px;
			background: $colorGreyLight;
			border-radius: 100px;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -2px;
			margin-left: -18px;

			@include breakpoint($bp1){
				width: 18px;
				margin-left: -9px;
			}
		}
		&:before{
			@include transform(rotate(-45deg));
		}
		&:after{
			@include transform(rotate(45deg));
		}

		&:hover{
			&:before,
			&:after{
				background: $colorYellow;
			}
		}
	}

	&__overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}



	&__title{
		font-size: 36px;
		font-weight: 600;
		background: $colorYellow;
		padding: 40px 30px;

		@include breakpoint($bp1){
			background: none;
			font-size: 18px;
			padding-bottom: 0;
		}
	}


	&__content{

		padding: 40px 30px;

		&-title{
			font-size: 36px;
			font-weight: 600;
			margin-bottom: 30px;
			padding-top: 70px;

			@include breakpoint($bp1){
				font-size: 18px;
				padding-top: 10px;
				margin-bottom: 20px;
			}

			img{
				display: block;
				margin: 0 auto;
				max-width: 100%;
				max-height: 800px;

				@include breakpoint($bp1){
					font-size: 18px;
					padding-right: 40px;
					margin-bottom: 20px;
				}
			}
		}


		&-subtitle{
			font-size: 28px;
			margin-bottom: 10px;
			margin-top: 40px;
			font-weight: 600;

			@include breakpoint($bp1){
				margin-top: 30px;
				font-size: 14px;
			}
		}

		&-text{
			font-size: 28px;
			margin-bottom: 10px;
			margin-top: 40px;

			@include breakpoint($bp1){
				margin-top: 30px;
				font-size: 14px;
			}
		}

		&-val{
			color: $colorGrey;
			font-size: 28px;

			@include breakpoint($bp1){
				font-size: 14px;
			}
		}


		.btn{
			padding: 0 40px;
			margin-right: 15px;
			//font-size: 18px;

			@include breakpoint($bp1){
				margin-right: 10px;
			}
		}

		.form{

			@include breakpoint($bp1){
				width: 270px;
			}

			&__text{
				font-size: 30px;
				margin-bottom: 40px;

				a{
					color: $colorYellow;
				}

				@include breakpoint($bp1){
					font-size: 14px;
					margin-bottom: 20px;
				}
			}

			&__note{
				font-size: 30px;
				margin-bottom: 40px;
				color: $colorGrey;

				a{
					color: $colorYellow;
				}

				@include breakpoint($bp1){
					font-size: 14px;
					margin-bottom: 20px;
				}
			}

			&__field{

				input{
					font-size: 30px;
					@include box-shadow();

					@include breakpoint($bp1){
						font-size: 14px;
						@include box-shadow(none);
						border: 1px solid rgba($colorGreyLight, 0.7);
					}
				}

				label{
					//font-size: 30px!important;
				}

				&-message{
					font-size: 30px;
					padding: 0 40px;

					@include breakpoint($bp1){
						padding: 0 30px;
						font-size: 12px;
					}
				}

				&_submit{
					white-space: nowrap;
					margin-bottom: 0;

					input{
						background: $colorYellow;
						border-color: $colorYellow;
						color: #fff;
						display: inline-block;
						vertical-align: middle;
						width: auto;
						font-weight: 300;
						padding: 0 80px;

						@include breakpoint($bp1){
							padding: 0 50px;
							font-size: 18px;
						}
					}

					&-link{
						vertical-align: middle;
						color: $colorGrey;
						display: inline-block;
						padding: 0;
						font-size: 30px;
						margin-left: 35px;
						border: 0;
					}
				}
			}
		}

		&-input{
			margin-bottom: 35px;

			input{
				width: 100%;
				font: inherit;
				font-size: 36px;
				display: block;
				@include box-sizing();
				height: 84px;
				line-height: 80px;
				padding: 0 30px;
				border: 1px solid rgba($colorGreyLight, 0.5);
				border-radius: 20px;

				@include breakpoint($bp1){
					height: 42px;
					border-radius: 10px;
					font-size: 14px;
					line-height: 40px;
					padding: 0 15px;
					border-width: 1px;
				}
			}
		}

		&-timer{
			font-size: 0;
			margin-bottom: 15px;

			&-item{

				display: inline-block;
				vertical-align: top;
				padding: 0 10px 20px 0;
				@include box-sizing();


				@include breakpoint($bp1){
					width: 230px;
					padding-bottom: 0;
				}


				&_num{
					line-height: 84px;
					font-weight: 500;
					font-size: 36px;

					@include breakpoint($bp1){
						line-height: 42px;
						font-size: 18px;
					}

					i{
						display: inline-block;
						vertical-align: middle;
						width: 50px;
						height: 50px;
						background: url("../img/lk/time_update.svg") no-repeat 50% 50%;
						background-size: cover;

						@include breakpoint($bp1){
							width: 24px;
							height: 24px;
						}
					}

					span{
						display: inline-block;
						vertical-align: middle;
					}
				}

				&_input{

					width: 50%;

					@include breakpoint($bp1){
						width: 145px;
					}

					input{
						height: 84px;
						line-height: 84px;
						border: 1px solid rgba($colorGreyLight, 0.5);
						border-radius: 20px;
						padding: 0 35px;
						color: $colorGrey;
						font: inherit;
						font-size: 36px;
						width: 100%;
						@include box-sizing();


						@include breakpoint($bp1){
							font-size: 14px;
							border-radius: 10px;
							padding: 0 15px;
							height: 40px;
							line-height: 40px;
							width: 130px;
						}
					}
				}

				&_info{
					color: $colorGrey;
					font-size: 20px;

					@include breakpoint(0 $bp1 - 1px){
						display: block;
						width: auto;
						padding-right: 0;
					}

					@include breakpoint($bp1){
						font-size: 10px;
					}
				}

				&_resend{

					@include breakpoint(0 $bp1 - 1px){
						display: block;
						width: auto;
						padding-right: 0;
					}
				}

				&_confirm{
					margin: 0;
					padding: 0;

					.btn{
						margin: 0;
					}

					@include breakpoint(0 $bp1 - 1px){
						display: block;
					}

					@include breakpoint($bp1){
						float: right;
						width: auto;
					}
				}

				.btn{

					@include breakpoint(0 $bp1 - 1px){
						margin: 0;
						display: block;
						font-size: 32px;
					}

					@include breakpoint($bp1){
						padding: 0 30px;
						font-size: 14px;
					}
				}
			}
		}


		.groupmember{

			&__item{
				margin-bottom: 50px;
				position: relative;
				overflow: hidden;

				@include breakpoint($bp1){
					margin-bottom: 10px;
				}

				&-member{
					.chat__item-avatar{
						float: left;
					}

					.chat__item-author{
						width: auto;
						display: inline-block;
						padding-right: 30px;
						margin-bottom: 0;

						@include breakpoint($bp1){
							padding-right: 10px;
							width: auto;
							max-width: 275px;
						}
					}

					&.is-online{

						.chat__item-author{
							position: relative;

							&:after{
								width: 20px;
								height: 20px;

								content: '';
								display: inline-block;
								border-radius: 50%;
								background: $colorYellow;
								margin-left: 10px;
								margin-bottom: 2px;
								position: absolute;
								top: 8px;
								right: 0;

								@include breakpoint($bp1){
									top: 7px;
									width: 9px;
									height: 9px;
									margin-left: 5px;
									margin-bottom: 0px;
								}
							}
						}
					}

					@include breakpoint($bp1){
						float: left;
					}
				}

				&-info{
					font-size: 28px;
					color: $colorGreyLight;

					@include breakpoint($bp1){
						font-size: 14px;
						margin-left: 300px;
					}
				}

				&-control{
					position: absolute;
					top: 0;
					right: 0;
					z-index: 10;

					i{
						cursor: pointer;
						width: 50px;
						height: 50px;
						display: inline-block;

						@include breakpoint($bp1){
							width: 24px;
							height: 24px;
						}


						&:before,
						&:after{
							content: '';
							width: 36px;
							height: 4px;
							background: $colorGreyLight;
							border-radius: 100px;
							position: absolute;
							top:50%;
							left: 50%;
							margin-top: -2px;
							margin-left: -18px;

							@include breakpoint($bp1){
								width: 14px;
								margin-left: -7px;
							}
						}
						&:before{
							@include transform(rotate(-45deg));
						}
						&:after{
							@include transform(rotate(45deg));
						}

						&:hover{
							&:before,
							&:after{
								background: $colorYellow;
							}
						}
					}
				}

				&.is-removed{
					.groupmember__item-control{
						i{
							background: url("../img/lk/time_update.svg") no-repeat 50% 50%;
							background-size: cover;

							&:before,
							&:after{
								display: none;
							}

							@include breakpoint($bp1){
								width: 24px;
								height: 24px;
							}
						}
					}
				}
			}


			&__btn{

				margin-top: 30px;

				.btn{
					@include breakpoint(0 $bp1 - 1px){
						width: auto;
						display: block;
						margin-bottom: 15px;
					}
				}
				.fl-r{

					@include breakpoint($bp1){
						float: right;
					}
				}
			}
		}


	}


}


.popup_avatar{

	.popup__cropper{
		margin-top: 100px;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			margin-top: 10px;
			margin-bottom: 20px;
		}

		.cropper-view-box{
			border-radius: 50%;
		}
	}

	img{
		display: block;
		max-width: 100%;
		max-height: 800px;
		margin: 0 auto;
	}
}



.popup_payment{

	.popup{
		&__layout{
			min-height:0;
			max-width: 600px;
			margin: 20px;
			background: #fff;

			@include breakpoint($bp1){
				max-width: 575px;
			}

			@include breakpoint($bp2){
			}
		}

		&__close{
			background: none;
			top: 10px;
			right: 10px;

			@include breakpoint($bp1){
				top: 20px;
				right: 20px;
			}

			&:after,
			&:before{
				width: 56px;
				height: 6px;
				background: $colorGrey;
				border-radius: 0;
				margin-top: -3px;
				margin-left: -28px;

				@include breakpoint($bp1){
					width: 26px;
					height: 3px;
					margin-top: -2px;
					margin-left: -13px;
				}
			}
		}

		&__overlay{

		}

		&__payment{

			&-card{
				.master-payment__item{
					margin-right: 0;

					@include breakpoint($bp1){
						margin-bottom: 15px;
					}
				}

				@include breakpoint($bp1){
					float: left;
				}
			}

			&-info{
				@include breakpoint($bp1){
					margin-left: 295px;
				}
			}

			&-control{
				@include breakpoint($bp1){
					&:before{
						content: '';
						display: table;
						clear: both;
					}
				}

				.btn{
					width: 100%;
					font-size: 30px;
					display: block;
					margin-top: 15px;

					@include breakpoint($bp1){
						font-size: 16px;
						width: auto;
						display: inline-block;
					}

					&_white{
						padding-left: 10px;
						padding-right: 10px;

						@include breakpoint($bp1){
							float: right;
							margin-right: 0;
						}
					}

					&_link{
						@include breakpoint($bp1){
							padding: 0;
							margin-right: 30px;
						}
					}

					&_offset{
						@include breakpoint($bp1){
							float: right;
							margin-right: 58px;
						}
					}
				}
			}
		}

		&__content{

			@include breakpoint($bp1){
				padding-bottom: 25px;
			}

			&-title{
				font-size: 30px;
				padding-top: 20px;
				margin-right: 80px;

				@include breakpoint($bp1){
					font-size: 18px;
					padding-top: 0;
				}
			}


			&-message{
				margin: 170px 50px 110px;
				text-align: center;

				@include breakpoint($bp1){
					font-size: 16px;
					margin: 120px 50px 70px;
				}
			}

			&-btns{
				text-align: center;

				.btn{
					display: block;
					margin-top: 15px;

					@include breakpoint($bp1){
						display: inline-block;
						min-width: 180px;
					}
				}
			}
		}

		&__title{


			@include breakpoint($bp1){

			}
		}



	}

	.master-payment__list{
		margin-bottom: 40px;
	}


	.popup__content-addcard{
		.form{
			@include breakpoint($bp1){
				width: 425px;
			}

			&__field{

				@include breakpoint($bp1){
					padding-right: 15px;
				}

				&.w-50{

					@include breakpoint($bp1){
						width: 50%;
						display: inline-block;
						vertical-align: top;
					}
				}

				&.w-100{

					@include breakpoint($bp1){

					}
				}
			}
		}
	}

	.form{
		width: 100%;

		@include breakpoint($bp1){
		}

		input, .btn{
			@include box-shadow(none);
		}

		hr{
			@include box-shadow(none);
			height: 1px;
			background: $colorGreyLight;
			display: block;
			margin: 15px -30px 0;

			@include breakpoint($bp1){
				display: none;
			}
		}

		&__title{
			font-size: 30px;
			margin: 0 0 20px;
			font-weight: 500;

			@include breakpoint($bp1){
				font-size: 16px;
				margin-bottom: 8px;
			}
		}

		&__note{
		}

		&__text{
		}

		&__field{


			&-message{
				font-size: 24px;
				padding: 0;

				@include breakpoint($bp1){
					font-size: 12px;
					padding: 0 18px;
				}
			}

			input{
				border: 1px solid $colorGreyLight;
				@include border-radius(8px);
				height: 84px;
				line-height: 82px;
				padding: 0 30px;

				@include breakpoint($bp1){
					@include border-radius(3px);
					height: 42px;
					line-height: 40px;
					padding: 0 18px;
				}

				&.input-cvc{
					padding-right: 130px;
					background: url("../img/payment/cvc.png") no-repeat top	13px right 21px;
					background-size: 92px 56px;

					@include breakpoint($bp1){
						padding-right: 60px;
						background-size: 46px 28px;
						background-position: top 6px right 5px;
					}
				}
			}


			&_submit{
				white-space: normal;
			}
		}
	}
}