/* Slider */

.slick {


	&-slider {
		position: relative;
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	&-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;

		&:focus {
			outline: none;
		}

		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
	}
	&-slider .slick-track,
	&-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	&-track {
		position: relative;
		left: 0;
		top: 0;
		display: block;

		&:before,
		&:after {
			content: "";
			display: table;
		}

		&:after {
			clear: both;
		}

		.slick-loading & {
			visibility: hidden;
		}
	}

	&-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		[dir="rtl"] & {
			float: right;
		}
		img {
			display: block;
		}
		&.slick-loading img {
			display: none;
		}

		display: none;

		&.dragging img {
			pointer-events: none;
		}

		.slick-initialized & {
			display: block;
		}

		.slick-loading & {
			visibility: hidden;
		}

		.slick-vertical & {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}

	&-arrow.slick-hidden {
		display: none;
	}



	&-arrow{
		width: 80px;
		height: 80px;
		display: block;
		background:  url("../img/slider-arrows.svg") #fff no-repeat 0 0;
		background-size: contain;
		@include border-radius(50%);
		@include box-shadow(0 2px 3px rgba(26,26,26,0.2));
		cursor: pointer;
		color: transparent;

		&:active{
			@include box-shadow(0 0px 1px rgba(26,26,26,0.2));
		}

		@include breakpoint($bp1){
			width: 50px;
			height: 50px;
		}
	}
	&-prev{

		background-image: url("../img/ico/arrow-slider-prev.svg");
		&_h{
			background-position: 66.6666% 0;
			&:hover{
				background-position: 66.6666% 100%;
			}
		}
		&_v{
			background-position: 0 0;
			&:hover{
				background-position: 0 100%;
			}
		}
	}
	&-next{

		background-image: url("../img/ico/arrow-slider-next.svg");
		&_h{
			background-position: 100% 0;
			&:hover{
				background-position: 100% 100%;
			}
		}
		&_v{
			background-position: 33.3333% 0;
			&:hover{
				background-position: 33.3333% 100%;
			}
		}
	}

	&-dots{
		text-align: center;
		font-size: 0;
		li{
			display: inline-block;
			margin: 5px 11px;

			@include breakpoint($bp1){
				margin: 12px 12px;
			}

			button{
				width: 16px;
				height: 16px;
				display: block;
				@include border-radius(50%);
				text-indent: -9999px;
				cursor: pointer;
				border: 2px solid #b1b1b1;
				background: transparent;

				@include breakpoint($bp1){
					width: 12px;
					height: 12px;
				}
			}

			&.slick-active{
				button{
					border-color: $colorYellow;
					background: $colorYellow;
				}
			}

			&:hover{
				button{
					border-color: $colorYellow;
				}
			}
		}
	}

}

