$minWidth: 640px;

$colorBg: #ededed;
$colorYellow: #ffb600;
$colorYellowHover: #fab74b;
$colorDark: #141414;
$colorViolet: #846eb0;
$colorVioletDeep: #5b4b79;
$colorGreen: #639a00;
$colorRed: #ff5900;
$colorOrange: #FEA400;
$colorGrey: #808080;
$colorGreyLight: #b1b1b1;
$colorGreyExLight: #f2f2f2;
$colorBlue: #0070BA;

$bp1: 1280px;
$bp2: 1720px;

$chatHover: #faf3c1;

@import 'mixins';